[2014-08-30 23:24] artem-zinnatullin opened #1 "Add license"

[2014-08-30 23:24] artem-zinnatullin opened #2 "Add README"

[2014-08-30 23:25] artem-zinnatullin opened #3 "Upload to maven central"

[2014-08-31 11:37] artem-zinnatullin opened #4 "Integrate with Travis CI"

[2014-08-31 21:47] #1 closed, assigned to artem-zinnatullin

[2014-08-31 22:12] #2 closed, assigned to nobody

[2014-09-01 04:42] artem-zinnatullin opened #5 "Support for custom internal id field name"
"@ContentPathForContentResolver" annotation can be used for this

[2014-09-01 05:26] #5 closed, assigned to artem-zinnatullin

[2014-09-02 12:18] #3 closed, assigned to nobody

[2014-09-02 14:17] artem-zinnatullin opened #6 "BambooStorage should set internal id from cursor"

[2014-09-03 00:44] #6 closed, assigned to artem-zinnatullin

[2014-09-03 10:43] artem-zinnatullin opened #7 "Make BambooStorage.buildUri() public and available for overriding"

[2014-09-03 10:54] #7 closed, assigned to artem-zinnatullin

[2014-09-04 13:26] artem-zinnatullin opened #8 "Normal methods names for IBambooStorableItem"
I realised, that current `IBambooStorableItem` methods names are not good, so, they will be renamed

[2014-09-05 08:15] #8 closed, assigned to artem-zinnatullin

[2014-09-05 08:16] #4 closed, assigned to nobody

[2014-09-09 10:31] artem-zinnatullin opened #11 "BambooStorage.getAsList() not always close cursor"

[2014-09-10 12:09] #11 closed, assigned to artem-zinnatullin

[2014-09-12 13:26] artem-zinnatullin opened #13 "Add Sample app"

[2014-09-12 13:28] artem-zinnatullin opened #14 "Add option for providing listeners for CRUD operations"
It would be a great feature!

For example, you'll be able to send event about change to the event bus or do a custom post processing of change in `ContentProvider`

[2014-09-12 13:33] artem-zinnatullin opened #15 "Add support for RxJava"
Check `Observable` support for `Non-blocking IO`, should be useful and interesting

[2014-09-12 15:18] artem-zinnatullin opened #16 "Add BambooStorage.addAll() method"

[2014-09-14 11:46] #14 closed, assigned to artem-zinnatullin

[2014-09-14 21:10] #16 closed, assigned to artem-zinnatullin

[2014-09-15 06:58] artem-zinnatullin opened #23 "Maybe we should exclude support.v4 from dependencies"
Currently it used just for NonNull and Nullable annotations, so maybe it's better to forget about this annotations and remove support.v4

[2014-09-15 22:03] artem-zinnatullin opened #26 "Annotation processing for generating entities parsers and serializers"
Should be nice

[2014-09-15 22:04] artem-zinnatullin opened #27 "Refactor add() update() addOrUpdate() to one method save() or put()"

[2014-09-25 10:13] artem-zinnatullin opened #28 "Rename onAnyCRUDOperation() to onAnyModifyOperation()"

[2014-11-11 08:46] artem-zinnatullin opened #29 "Request builder?"
What about request builder instead of tons of methods with overloads

[2014-11-11 08:49] artem-zinnatullin opened #30 "Add support for working with SQLiteDatabase directly"
Many developers don't want to deal with `ContentProvider`, so, we can add support of direct usage `BambooStorage` with `SQLiteDatabase`

[2015-02-16 11:29] #29 closed

[2015-02-16 11:29] #27 closed

[2015-02-16 11:29] #15 closed

[2015-02-16 11:29] #23 closed

[2015-02-18 07:19] #30 closed

[2015-02-18 07:22] artem-zinnatullin opened #31 "Add countOf operation"
**Use case:**

User just want to get count of some query results without managing cursor or wasting memory and time on collection creation and entities parsing

Should provide blocking and observable variants

[2015-02-19 10:19] artem-zinnatullin commented on #26
Take a look at Square's `JavaPoet` http://corner.squareup.com/2015/01/javapoet.html

[2015-02-19 10:20] #28 closed

[2015-02-19 10:22] artem-zinnatullin opened #32 "Add Observable variants for put, putAll, delete and deleteAll operations"

[2015-02-26 18:20] artem-zinnatullin commented on #32
Redesign: 3 operations get, put, delete with blocking and observable variants

[2015-02-26 18:20] #32 closed

[2015-02-26 18:21] artem-zinnatullin commented on #26
Decided to implement this as standalone library in possible future

[2015-02-26 18:21] #26 closed

[2015-02-26 18:22] artem-zinnatullin commented on #31
Survived after redesign

[2015-02-26 18:23] artem-zinnatullin opened #33 "API Design for delete operation"
Prepare Design of API for delete operation

[2015-02-26 18:29] artem-zinnatullin opened #34 "API for get operation should be more similar to put operation"
Or vice versa.

Personally, I don't like difference:
[code]

[code]

[2015-02-26 18:31] artem-zinnatullin opened #35 "PutResolver is bad"
Create common thing for `put(object)` and `delete(object)` operations

[2015-02-26 18:50] artem-zinnatullin commented on #34
I think, `put()` operation API is okay (see #35 about `putResolver`), so here are some thoughts on `get()`  operation:

As List of objects:
[code]

As Cursor:
[code]

[2015-02-27 00:23] artem-zinnatullin opened #37 "Rename bambooStorage#getInternal()"
Because it's very similar to `get()` operation and can confuse user.

One of the variants: just `internal()`

[2015-02-27 01:35] artem-zinnatullin opened #38 "Rename design tests for consistency"
All design tests for operations should be named like this: "operationDesignTest"

[2015-02-27 01:39] artem-zinnatullin opened #40 "Implement put() operation for collection of objects"
Will be great to use transactions for this

[2015-02-27 01:47] artem-zinnatullin opened #41 "BambooStorage.Internal should provide API for transactions"
Currently, we need several methods:

[code]

Just like pure `SQLiteDatabase`

Will be useful for #40 `put(collection)` and `delete(collection)` operations

[2015-02-27 01:53] artem-zinnatullin opened #42 "Option for transaction enable/disable for put(collection) and delete(collection) operations"
Via transactions (#41)

Like this:

[code]

[2015-02-27 02:21] #33 closed

[2015-02-27 09:49] artem-zinnatullin opened #43 "Add checks for all Builder classes"

[2015-02-27 09:54] #34 closed

[2015-03-01 01:20] artem-zinnatullin commented on #35
Actually, there is no need to for resolver for `delete(object)` operation

[2015-03-01 01:20] #35 closed

[2015-03-01 01:24] artem-zinnatullin commented on #31
Hm, I think, it should be part of `get()` operation, like `get().asCursor()` or `get().asListOfObjects()` -> `get().asNumberOfResults()`

[2015-03-01 01:24] #31 closed

[2015-03-01 01:28] artem-zinnatullin opened #44 "get().numberOfResults()"
It should be part of `get()` operation, like `get().cursor()` or `get().listOfObjects()` -> `get().numberOfResults()`

In fact, it's `get().cursor()` with returning `cursor.getCount()` and auto closing, but will be better to use `COUNT` from SQL for this

[2015-03-01 01:52] #38 closed

[2015-03-01 02:11] #37 closed

[2015-03-01 02:13] artem-zinnatullin commented on #40
@nikitin-da for first implementation, you can do it without transactions

I'll add transactions support later, may be even in v2.1.0

[2015-03-01 02:41] artem-zinnatullin opened #47 "Better naming for type of `get()` operation results"
`get().asCursor()` -> `get().cursor()`

`get().asListOfObjects()` -> `get().listOfObjects()`

[2015-03-01 15:44] artem-zinnatullin commented on #44
Damn, I noticed incorrect issue number in commit

[2015-03-01 15:45] #47 closed

[2015-03-01 17:14] artem-zinnatullin opened #49 "rawQuery support"

[2015-03-01 20:02] artem-zinnatullin opened #50 "Rename operation builder part "mapFunc()" to -> "withMapFunc()""
For better readability

[2015-03-01 20:07] artem-zinnatullin commented on #50
Current variant:

[code]

**New:**
[code]

[2015-03-01 20:55] #50 closed

[2015-03-01 20:56] artem-zinnatullin opened #52 "Refactor put() operation"
Remove `putResolver()`

Use `_id`

[2015-03-03 06:54] #40 closed

[2015-03-03 10:21] artem-zinnatullin commented on #52
@nikitin-da look at these guys https://github.com/square/sqlbrite/issues/19

[2015-03-03 22:26] artem-zinnatullin opened #55 "Create BambooStorageSQLiteDatabase implementation"

[2015-03-04 00:10] #52 closed

[2015-03-04 00:12] artem-zinnatullin opened #57 "put() operation for collection of ContentValues"

[2015-03-04 00:26] artem-zinnatullin commented on #57
I think, it will be okay to just overload `bambooStorage.put().contentValues()`

With 2 variants:
[code]

[2015-03-04 06:40] artem-zinnatullin opened #59 "Overload put().objects()"
Support two overloads

[code]

[2015-03-04 08:16] #57 closed

[2015-03-04 08:36] artem-zinnatullin opened #60 "put().contentValues(array) can reuse put().contentValues(Iterable<ContentValues>)"
With `Arrays.asList()`

[2015-03-04 13:51] artem-zinnatullin commented on #49
Two options:

1. `bambooStorage.get().cursor().withRawQuery(rawQuery)`
2. `bambooStorage.get().cursor().withQuery(rawQuery) // <-- overload for withQuery(Query query)`

@nikitin-da what do you think?

[2015-03-04 14:04] artem-zinnatullin commented on #49
After discussion: overload `withQuery(@NonNull RawQuery query)`

[2015-03-04 15:48] artem-zinnatullin commented on #49
Oh! Don't forget about: `bambooStorage.get().listOfObjects().withQuery(@NonNull RawQuery query)`

[2015-03-04 20:44] #59 closed

[2015-03-04 21:29] nikitin-da commented on #60
Closed with 074083c4

[2015-03-04 21:29] #60 closed

[2015-03-05 08:15] artem-zinnatullin opened #63 "execSql support"
I think it should be part of `BambooStorage`, we can provide `blocking` and `Observable` variants.

`bambooStorage().execSql(SQLQuery).prepare()`
`Execute a single SQL statement that is NOT a SELECT/INSERT/UPDATE/DELETE.`

And `SQLQuery` + `SQLQueryBuilder`, which will be same as `RawQuery`

@nikitin-da any comments?

[2015-03-05 08:39] nikitin-da commented on #63
What do you mean by "NOT a SELECT/INSERT/UPDATE/DELETE" ?

[2015-03-05 09:07] artem-zinnatullin commented on #63
http://developer.android.com/reference/android/database/sqlite/SQLiteDatabase.html#execSQL(java.lang.String, java.lang.Object[])

For example: `ALTER, DROP` and so on

[2015-03-05 09:09] nikitin-da commented on #63
Ok, let's do it.

[2015-03-05 09:11] artem-zinnatullin commented on #63
Cool

Next question: should Query extend RawQuery? And should be SQLQuery be a RawQuery?

[2015-03-05 09:18] nikitin-da commented on #63
"should Query extend RawQuery?" I think yes, it will be slightly more holistic, imho.
"And should be SQLQuery be a RawQuery?" I guess it is the same, isn't it?

[2015-03-05 09:59] artem-zinnatullin commented on #63
Hm, we should think about it very carefully, because we can have problems with inheritance in future.

We have list of entities:
`RawQuery: sql, args`
`Query: table, columns, selection, args, groupBy, having, orderBy, limit`
`InsertQuery: table, nullColumnHack`
`UpdateQuery: table, where, args`
`DeleteQuery: table, where, args`

If we will design them using inheritance, we will have problems like:

[2015-03-05 10:01] artem-zinnatullin commented on #63
Or we can use next approach:

We can have ONLY `RawQuery` and builders for all types of queries which will build `RawQuery` instance

[2015-03-05 10:07] artem-zinnatullin commented on #63
But using only `RawQuery` allows to do incorrect queries, for example: build `insertQuery` and use it for `bambooStorage.delete()` and similar.. We can avoid them in compile time by correct usage of types

[2015-03-05 16:30] nikitin-da commented on #63
Maybe Query, InsertQuery, UpdateQuery and DeleteQuery will extend abstract class with common field "table", and ok, RawQuery will be POJO and use for execSql?
I don't quite understand what is SQLQuery. Does it differ from the RawQuery?

[2015-03-05 16:49] artem-zinnatullin commented on #63
Forget about `SQLQuery`, it will be `RawQuery` :)

Base class with `table` field is good idea for `Query`, `InsertQuery`, `UpdateQuery` and `DeleteQuery` , but we will have to do inheritance:
`Query`, `InsertQuery`, `UpdateQuery` and `DeleteQuery` can extend `RawQuery`, but it will require some extra amount of work from us to manually convert `Query`, `InsertQuery`, `UpdateQuery` and `DeleteQuery`

[2015-03-05 17:35] nikitin-da commented on #63
I don't see any advantage, except a bit more integrity.
Yes, converting will be complicated.
I see tree ways:
* custom generating raw sql string
* common method will take helper as argument, and do, what he want %)
* or retrieve concrete class.
There are no any common state or behavior, so I guess inheritance is not needed.
Method `withQuery`, as we have already decided will be use overload, so di

[2015-03-05 17:52] artem-zinnatullin commented on #63
3rd approach is the best for me :+1:

Also, if we will really need it, we will be able to add inheritance later without breaking compatibility :)

[2015-03-05 17:54] nikitin-da commented on #63
Consensus

[2015-03-05 22:05] #49 closed

[2015-03-06 00:47] artem-zinnatullin opened #66 "Add overload for put().objects(T... objects)"

[2015-03-06 00:54] artem-zinnatullin commented on #66
OMG, I had old BambooStorage sources on my laptop, already implemented

[2015-03-06 00:54] #66 closed

[2015-03-06 00:58] artem-zinnatullin opened #67 "Integration tests for bambooStorage.get().withQuery(rawQuery)"

[2015-03-06 00:58] artem-zinnatullin opened #68 "More integration tests for bambooStorage.query()"

[2015-03-06 00:59] artem-zinnatullin opened #69 "Unit tests for PreparedGet"

[2015-03-06 01:00] artem-zinnatullin opened #70 "Unit tests for PreparedPut"

[2015-03-06 01:00] artem-zinnatullin opened #71 "Unit tests for PreparedDelete"

[2015-03-06 01:00] artem-zinnatullin opened #72 "Documentation!"
There is no JavaDoc at all...

[2015-03-06 01:06] #55 closed

[2015-03-06 11:08] artem-zinnatullin opened #73 "Update RxJava to 1.0.8"

[2015-03-06 15:36] artem-zinnatullin opened #74 "Reactive streams for bambooStorage.get()"
We should provide an option for using observable created for get() operation as reactive stream:

For example:

[code]

[2015-03-06 15:38] artem-zinnatullin commented on #74
This is very important feature, because it's an analog for `ContentProvider`/`Cursor` notifications and with this feature `BambooStorage` can fully replace `Loaders` and other mechanisms for working with database

[2015-03-06 15:56] artem-zinnatullin opened #75 "BambooStorage should allow user to set default transformer for Observables"
For example, I want to make all queries on `Schedulers.io()` and observe them on `AndroidSchedulers.mainThread()`

It can be done via `compose()` operator, here is useful article from @dlew http://blog.danlew.net/2015/03/02/dont-break-the-chain/

Possible syntax:

[code]

[2015-03-06 15:59] artem-zinnatullin opened #76 "Seems that RxJava will be required dependency :("
Unfortunately, with features #74 and #75 it will be easier to include RxJava as required dependency than creating wrappers for hiding access to RxJava classes if user don't use it.

But, I think it's okay for `BambooStorage` v2.0.0

[2015-03-06 16:05] artem-zinnatullin opened #77 "Rename PreparedOperation.createObservable()"
It should clearly show intent: observable that will be created will listen only 1 result

See #74

@nikitin-da what do you think?

[2015-03-06 17:41] nikitin-da commented on #77
Hm, `createObservableStream` for 1 result? Is not quite clear for me  :( May be `createResultObservable`?

[2015-03-06 17:45] nikitin-da commented on #76
Are there any capabilities to remove it in future?

[2015-03-06 17:49] artem-zinnatullin commented on #76
Yes! Just extra work for us

пт, 6 марта 2015, 20:45, Dmitrii Nikitin <notifications@github.com>:

[2015-03-07 13:56] #76 closed

[2015-03-07 13:57] artem-zinnatullin opened #79 "Logging"
With option to enable/disable and redirect the output

[2015-03-07 14:57] artem-zinnatullin commented on #73
Closed by #78

[2015-03-07 14:57] #73 closed

[2015-03-07 22:39] #74 closed

[2015-03-08 05:06] #70 closed

[2015-03-08 21:43] artem-zinnatullin commented on #41
@nikitin-da I'll take it, I have several hours to do it

[2015-03-08 21:46] nikitin-da commented on #41
ok

[2015-03-09 04:42] #41 closed

[2015-03-09 11:20] artem-zinnatullin commented on #42
Closed by #83

[2015-03-09 11:20] #42 closed

[2015-03-09 11:24] artem-zinnatullin commented on #75
I was thinking about this feature for 3 days and finally decided to don't do it, it will cause many problems in real usage

[2015-03-09 11:24] #75 closed

[2015-03-09 12:22] #63 closed

[2015-03-09 12:25] artem-zinnatullin commented on #77
Not required :)

[2015-03-09 12:25] #77 closed

[2015-03-09 13:02] #69 closed

[2015-03-09 23:35] #71 closed

[2015-03-11 15:05] artem-zinnatullin opened #88 "Add BambooStorage#observeChangesInTable"
`Observable<String> observeChangesInTable(@NonNull String table)` to provide easy subscribing API

[2015-03-11 15:06] artem-zinnatullin opened #89 "Rename BambooStorage#subscribeOnChanges(Set<String> tables)"
Into `Observable<Set<String>> observeChangesInTables(@NonNull Set<String> tables)` better API

[2015-03-11 15:08] artem-zinnatullin opened #90 "Make BambooStorage and BambooStorage.Internal abstract classes instead of interfaces"
It will allow us to add new functionality which will use already existent methods without breaking API for those, who decided to implement their own versions of `BambooStorage`

@nikitin-da your opinion?

[2015-03-11 21:43] nikitin-da commented on #90
About what functionality do you say?

[2015-03-11 22:09] artem-zinnatullin commented on #90
For example #88, with abstract class it can be just like this:

[code]

[2015-03-11 22:11] nikitin-da commented on #90
Ok, let it be.

[2015-03-11 22:13] artem-zinnatullin commented on #90
:smile:

[2015-03-11 23:02] #90 closed

[2015-03-12 00:55] artem-zinnatullin opened #92 "Refactor package structure"
Move all current work to `com.pushtorefresh.bamboostorage.db`

Prepare for: `com.pushtorefresh.bamboostorage.contentprovider`

[2015-03-12 00:57] artem-zinnatullin opened #93 "Add Changes and Change classes"
Required for `Observable<Changes> observeChangesInTables(Set<String> tables)` and `Observable<Changes> observeChangesInTable(String table)`

[2015-03-12 05:58] #92 closed

[2015-03-13 00:21] artem-zinnatullin opened #95 "Move query builders inside queries"
For better consistency

[2015-03-13 05:05] #88 closed

[2015-03-13 05:05] #89 closed

[2015-03-13 05:05] #93 closed

[2015-03-13 05:10] nikitin-da opened #97 "No result when put object again"
What do you think, is it expected for default put resolver, that when you:
1) put object
2) delete it
3) and put again the same object (with not null internal id)

As a result, there is no any changes in storage after second put.
May be we can check result of update in second case, and try use insert?

[2015-03-13 06:26] artem-zinnatullin commented on #97
Damn, great use case. I'll think about it and comment

пт, 13 марта 2015, 8:10, Dmitrii Nikitin <notifications@github.com>:

[2015-03-13 10:20] artem-zinnatullin commented on #97
I see two things:

1. Put object can set inserted id, and we can add delete resolver which will just remove id from object.
2. We can add check to default put resolver and make insert if update returned 0

Also, we can add resolvers for all operations, put, get, delete with default implementations to allow users customize behavior of the operation, what do you think about it?

[2015-03-13 10:26] nikitin-da commented on #97
I just think only about second variant.
But resolver for all operations, that by default will resolve this issue and will be hide from user in common case, it sounds flexibly.

[2015-03-13 11:09] artem-zinnatullin commented on #97
So, I'll create an issue for resolvers! Better API for everybody

[2015-03-13 11:09] #97 closed

[2015-03-13 11:09] artem-zinnatullin opened #98 "GetResolver for get() operation"

[2015-03-13 11:10] artem-zinnatullin opened #99 "DeleteResolver for delete() operation"

[2015-03-13 16:06] artem-zinnatullin opened #100 "Rebranding"
What about new name?

Variants:
1. `Storio` — `Storage IO` `com.pushtorefresh.storio`

CC @nikitin-da

[2015-03-13 16:20] nikitin-da commented on #100
Storio +
2. Rx Storage
3. Rx DAO
3. Deposit =)   &#822;h&#822;t&#822;t&#822;p&#822;:&#822;/&#822;/&#822;d&#822;f&#822;i&#822;l&#822;e&#822;s&#822;.&#822;r&#822;u&#822;/&#822;r&#822;u&#822;/&#822; com.pushtorefresh.deposit

[2015-03-13 16:26] artem-zinnatullin commented on #100
2. `Rx Storage` — too much Rx
3. `Rx DAO` -> NO DAO, NO ORM, NO ACTIVERECORD!!11 :smile:
4. `Deposit`? May be `DataBank`? :)

[2015-03-13 16:27] nikitin-da commented on #100
4. DataBank - nice

[2015-03-13 16:30] artem-zinnatullin commented on #100
`Storio` seems to be more hipster name in 2015 than `DataBank`, such as `Node.js`, `IO.js`

[2015-03-13 16:31] nikitin-da commented on #100
On, let it be. xD

[2015-03-13 17:00] artem-zinnatullin commented on #100
Cool, I'll rename the repo

[2015-03-13 22:11] artem-zinnatullin commented on #100
Rename done, now rename package

[2015-03-14 00:04] artem-zinnatullin opened #102 "New README"

[2015-03-14 00:08] #100 closed

[2015-03-14 00:45] artem-zinnatullin opened #105 "Licence in all source files"
Licence text should be in header of every source file

[2015-03-14 00:46] artem-zinnatullin opened #106 "Contributing Guidelines"
https://github.com/blog/1184-contributing-guidelines

[2015-03-14 00:54] artem-zinnatullin opened #108 "Module for StorIOContentProvider"

[2015-03-14 02:14] artem-zinnatullin opened #110 "Exceptions for operations"
`PutException`, `GetException`, `DeleteException`

[2015-03-14 02:31] artem-zinnatullin opened #112 "Implement some methods in StorIODb"
All methods except `internal()` can be implemented directly in `StorIODb`!

[2015-03-14 02:35] artem-zinnatullin opened #113 "Move common classes to upper package"
`MapFunc` and others

[2015-03-14 02:40] artem-zinnatullin opened #114 "Change final arrays to unmodifiable lists"
For immutability of queries for example.

[2015-03-14 08:47] #95 closed

[2015-03-14 08:50] #106 closed

[2015-03-14 09:38] nikitin-da commented on #110
What do you mean? Particular class for every operation?

[2015-03-14 09:39] nikitin-da commented on #114
wow

[2015-03-14 12:39] #98 closed

[2015-03-14 12:40] #99 closed

[2015-03-14 13:15] artem-zinnatullin commented on #110
We have these classes, but don't use them, StorIO.Internal should throw them

сб, 14 марта 2015, 12:38, Dmitrii Nikitin <notifications@github.com>:

[2015-03-14 13:15] artem-zinnatullin commented on #114
Oh yeah

сб, 14 марта 2015, 12:39, Dmitrii Nikitin <notifications@github.com>:

[2015-03-15 01:33] artem-zinnatullin opened #116 "StorIOContentResolver should handle notifications"
And provide same API as `StorIOSQLiteDb`

[2015-03-15 01:44] artem-zinnatullin opened #117 "Make RxJava optional dependency"

[2015-03-15 02:04] artem-zinnatullin opened #118 "Rename Query.where"
`Query.where -> Query.selection`
`Query.whereArgs -> Query.selectionArgs`

For better consistency with `SQLiteDatabase#query()` and `ContentProvider#query()`.

But, actually `where` looks much more understandable than `selection`, especially for `ContentProvider`

@nikitin-da your opinion?

[2015-03-15 02:07] artem-zinnatullin opened #119 "Close constructors for all query classes"
Leave only builders.

Also, add comment to all classes that class instances are immutable!

[2015-03-15 02:31] artem-zinnatullin commented on #119
Hm, actually, this might be really bad idea because of mocking... So, closing

[2015-03-15 02:31] #119 closed

[2015-03-15 02:37] artem-zinnatullin opened #120 "Write about builders in StorIO queries constructors"

[2015-03-15 20:30] #120 closed

[2015-03-16 11:10] artem-zinnatullin opened #124 "Add more transaction methods to StorIODb"
* `inTransaction()`
* `yieldIfContendedSafely(long sleepAfterYieldDelay)`
* `yieldIfContendedSafely()`

[2015-03-16 11:14] artem-zinnatullin opened #125 "Sample app: TweetsFragment memory leak"
All subscriptions to Observables should be unsubscribed in `onDestroy()`

[2015-03-16 21:43] nikitin-da commented on #118
I prefer `where`. Does only `dbHelper` and `contentProvider` use `selection` name? At low level `dbHelper` also translate it to `where`. %)

[2015-03-16 22:04] artem-zinnatullin commented on #118
Hehe :) Okay, where

вт, 17 марта 2015, 0:43, Dmitrii Nikitin <notifications@github.com>:

[2015-03-16 22:47] artem-zinnatullin commented on #124
Hm, for v1.0.0 I think it will be enough to have `inTransaction`. Actually, `yieldIfContentedSafely()` seems like a really bad method for database

[2015-03-16 22:53] nikitin-da commented on #124
Yep. As for me `inTransaction` is also quite specific.

[2015-03-16 22:56] artem-zinnatullin commented on #124
From `SQLiteDatabase` documentation `Returns true if the current thread has a transaction pending.`

Do you see any usages for `inTransaction()`?

[2015-03-16 23:02] nikitin-da commented on #124
On my opinion it's a little fine tune for mobile devices.

[2015-03-16 23:23] artem-zinnatullin commented on #124
So, let's close this for now, may be it will be added in future

[2015-03-16 23:23] #124 closed

[2015-03-16 23:43] artem-zinnatullin commented on #68
Closed by #115

[2015-03-16 23:43] #68 closed

[2015-03-17 05:22] #112 closed

[2015-03-17 18:54] artem-zinnatullin opened #129 "Get operation should allow to get Lazy<T>"
`Lazy` should be computed only after `lazy.get()`.

For example:

[code]

[2015-03-17 23:36] #118 closed

[2015-03-18 05:40] #114 closed

[2015-03-20 00:16] artem-zinnatullin commented on #102
I will continue to update README periodically

[2015-03-20 00:16] #102 closed

[2015-03-20 00:17] #13 closed

[2015-03-20 04:39] #125 closed

[2015-03-20 05:01] #117 closed

[2015-03-20 05:14] #43 closed

[2015-03-20 10:55] artem-zinnatullin opened #138 "Unify naming of default StorIO implementations"
Currently we have `StorIODb` + `StorIOSQLiteDb` and `StorIOContentProvider` + `StorIOContentProviderImpl`

@nikitin-da any thoughts?

[2015-03-20 11:08] nikitin-da commented on #138
Maybe `StorIODb` + `StorIODbSQLiteImpl` and `StorIOContentProvider` + `StorIOContentProviderImpl`

Too long, but it will be a way more clearly if `SQLite` will be present.
And we can't get rid from `Impl`, because it is nessesary for content provider.

[2015-03-20 19:06] artem-zinnatullin opened #139 "Checkstyle config"
1. Integrated with Gradle
2. Not very strict, just a few simple rules for formatting

@nikitin-da can you do it?

[2015-03-20 19:11] artem-zinnatullin commented on #138
Long :(

But understandable even for those, who see code with `StorIO` for the first time. So, I think it will be okay.

`StorIOCP` instead of `StorIOContentProvider` will be bad, I thought, because `Db` is very common abbreviation for `Database`, but `CP` for `ContentProvider` isn't..

[2015-03-20 21:06] nikitin-da commented on #139
yep

[2015-03-20 21:30] artem-zinnatullin commented on #139
Cool :)

сб, 21 марта 2015, 0:06, Dmitrii Nikitin <notifications@github.com>:

[2015-03-21 11:09] #108 closed

[2015-03-21 11:21] artem-zinnatullin opened #141 "Rename RawQuery.tables"
`tables` is not very clear name, actually set of tables required for observing changes made by such `RawQuery`.

I suggest to rename `RawQuery.tables` to `RawQuery.affectedTables` so it will be easier to understand that tables won't be binded to SQL query but just declare what tables will be changed by this `RawQuery`

[code]

@nikitin-da your opinion?

[2015-03-21 11:24] nikitin-da commented on #141
+1 `affectedTables`
It's more obvious.

[2015-03-21 11:40] artem-zinnatullin commented on #141
:+1:

[2015-03-21 21:53] #141 closed

[2015-03-21 22:23] artem-zinnatullin opened #144 "Create separate module with tests without RxJava"
Module should exclude 'RxJava' from dependencies and contain tests for `StorIO` features that don't require `RxJava`

[2015-03-21 22:30] artem-zinnatullin commented on #138
Damn, I don't want to see `Impl` in class name, how can we avoid it?

[2015-03-21 22:31] nikitin-da commented on #138
`Base` prefix to base class?

[2015-03-21 22:33] artem-zinnatullin commented on #138
No, if you'll have `StorIOBaseDb` reference IDE will suggest `storIOBaseDb` field instead of `StorIODb` which is bad :(

[2015-03-21 22:35] nikitin-da commented on #138
No, I meant `BaseStorIODb` and `BaseStorIOContentProvider`.

[2015-03-21 22:36] artem-zinnatullin commented on #138
`BaseStorIODb` instead of `StorIOSQLiteDb` or instead of `StorIODb`?

[2015-03-21 22:40] nikitin-da commented on #138
I thought about `BaseStorIODb` + `StorIODbSQLite` and `BaseStorIOContentProvider' (Oh how long) + `StorIOContentProvider`

[2015-03-21 22:44] artem-zinnatullin commented on #138
I'd recommend users to store reference of type `StorIODb` in DI module or somewhere to allow change implementation in future and that reference will be `BaseStorIODb` and will be used as field in many classes and IDE will suggest field name as `baseStorIODb` instead of `storIODb`, pretty ugly :(

[2015-03-21 22:47] nikitin-da commented on #138
`AStorIODb` is a bit shortly, but not resolve problem

[2015-03-21 22:48] artem-zinnatullin commented on #138
Yeah :(

Seems like `Impl` in implementations is not so bad :smile:

[2015-03-21 23:40] #113 closed

[2015-03-22 00:51] #138 closed

[2015-03-22 13:19] #139 closed

[2015-03-23 09:52] artem-zinnatullin opened #149 "Switch to own CI"
Travis CI is too slow

[2015-03-23 18:35] artem-zinnatullin opened #151 "Add example of Get Operation with JOIN"

[2015-03-23 18:37] artem-zinnatullin commented on #149
Also, we need to create separate `.sh` with commands for ci, so everybody will be able to see them and we will be able to change them directly in repository

And, we can disable pre-dexing and enable gradle daemon on CI

[2015-03-23 22:16] #149 closed

[2015-03-24 11:53] artem-zinnatullin opened #156 "Option for yielding transactions"
It can be useful for some cases

[2015-03-24 12:08] artem-zinnatullin opened #157 "Provide API for performing group execution of PreparedOperations"

[2015-03-27 09:53] artem-zinnatullin opened #164 "Put Operation for StorIOContentProvider"

[2015-03-27 12:27] artem-zinnatullin opened #165 "DefaultPutResolver should allow overriding "id" field name"

[2015-03-27 12:28] artem-zinnatullin opened #166 "Links to Design Tests in README"
Fix link for Design Tests of `StorIODb`
Add link for Design Tests of `StorIOContentProvider`

[2015-03-27 12:31] artem-zinnatullin opened #167 "Divide StorIO to several modules"
* `StorIOCommon`
* `StorIODb`
* `StorIOContentProvider`
* Possible in future: `StorIORealm`

And we will be able to ship `StorIO` as several jars with minimum classes. Not everybody needs db and content provider at same time

ALSO: May be it's better to rename `StorIODb` to `StorIOSQLiteDb`, because `Realm` is db too

[2015-03-27 13:06] nikitin-da commented on #167
Hm, not bad.

[2015-03-28 21:03] artem-zinnatullin opened #169 "API for Realm database"
Just an issue, all discussions about Realm support should be done here

[2015-03-28 22:21] #67 closed

[2015-03-28 23:24] #167 closed

[2015-03-28 23:45] #166 closed

[2015-03-29 14:38] artem-zinnatullin opened #174 "Rename affectedTables to changedTables"
@nikitin-da do you agree?

[2015-03-29 16:13] nikitin-da commented on #174
No=) On my opinion,
`changed`- it is when something took another value,
but there are cases when value is the same.
And `affected` that means we became unsure in table immutability.
So, if we will only rename field, without additional checks, it will be more pleasant, but less correctly.

[2015-03-29 16:40] artem-zinnatullin commented on #174
Hm, you are right, thank you for opinion :)

вс, 29 марта 2015, 19:13, Dmitrii Nikitin <notifications@github.com>:

[2015-03-29 16:40] #174 closed

[2015-03-29 22:40] artem-zinnatullin opened #175 "DefaultPutResolver should work with id as Object, not as Long"
See #173

[2015-03-29 22:46] artem-zinnatullin opened #176 "Query arguments can be Object..."
It's very annoying to write `String.valueOf()` and so for query arguments

Example:

[code]

We can allow passing `Object... args` and immediately call `object.toString()` to store immutable object's `String` representation

[code]

I think it will be huge improvement to `StorIO` API.

@nikitin-da your opinion?

[2015-03-29 22:50] nikitin-da commented on #176
I agree. It will be definitely more comfortable!

[2015-03-29 22:51] artem-zinnatullin commented on #176
Great!

[2015-03-29 22:54] artem-zinnatullin opened #177 "Rename numberOfUpdatedRows to numberOfRowsUpdated"
It's just more correct

[2015-03-29 23:09] artem-zinnatullin opened #178 "StorIOSQLiteDb.DefaultPutResolver getTable() should has ContentValues parameter"
It can be useful for some libraries/frameworks or user code that analyses `ContentValues` to resolve table name.

For example, user may want to have one `PutResolver` for all classes

[2015-03-29 23:47] artem-zinnatullin opened #179 "DefaultPutResolver.afterPut() should not be abstract"

[2015-03-30 00:31] artem-zinnatullin opened #181 "Use Checks.checkNotNull() in all Query Builders"

[2015-03-30 00:32] artem-zinnatullin opened #182 "Write about default values in all Builders"

[2015-03-30 00:49] artem-zinnatullin opened #183 "Write about Optional and Required values in all Builders"
For example:

[code]

[2015-03-30 00:49] artem-zinnatullin commented on #182
For example:

[code]

[2015-03-30 09:06] #165 closed

[2015-03-30 14:24] #178 closed

[2015-03-30 21:47] #176 closed

[2015-03-30 22:02] artem-zinnatullin commented on #181
Hey! I wanted to do this.. Okay..

[2015-03-30 22:03] nikitin-da commented on #181
Sorry

[2015-03-30 22:04] artem-zinnatullin commented on #181
:D

[2015-03-30 22:05] artem-zinnatullin commented on #181
I got it, it's your revenge for JavaPoint :dancer:

[2015-03-30 22:06] nikitin-da commented on #181
Nope it's just flowers=)

[2015-03-30 22:07] artem-zinnatullin commented on #181
Damn

[2015-03-30 22:17] #177 closed

[2015-03-30 22:45] #175 closed

[2015-03-30 23:00] #179 closed

[2015-03-31 00:09] #181 closed

[2015-03-31 11:12] artem-zinnatullin opened #193 "Improve StorIOSQLiteDb Put Operation tests"
Take a look at `StorIOContentProvider` Put Operation tests

[2015-03-31 18:43] artem-zinnatullin opened #194 "Fix Sample app Dagger dependency comments"

[2015-04-01 00:26] artem-zinnatullin opened #195 "Rename StorIOSQLiteDbImpl and StorIOContentProviderImpl"
Suggestion:

`StorIOSQLiteDbImpl` -> `DefaultStorIOSQLiteDb`
`StorIOContentProviderImpl` -> `DefaultStorIOContentProvider`

Uh, names are so long and ugly :(

@nikitin-da your opinion?

[2015-04-01 06:54] nikitin-da commented on #195
Did you mean that prefix `Default` will be like a tip to feel free for make custom?

[2015-04-01 07:09] artem-zinnatullin commented on #195
Yep,  and it will eliminate "Impl" from class name

ср, 1 апр. 2015, 9:54, Dmitrii Nikitin <notifications@github.com>:

[2015-04-01 07:26] nikitin-da commented on #195
Without dagger it will a problem especially auto-generated instance names.
Do you think it is not obvious that they can customize it, and will it be very often then it is necessary to make own implementation.
Or you just want to get ride `impl` suffix?

[2015-04-01 07:27] nikitin-da commented on #195
Excuse me for my for my "english"

[2015-04-01 09:32] artem-zinnatullin commented on #195
Impl is just bad in class name :)

ср, 1 апр. 2015, 10:27, Dmitrii Nikitin <notifications@github.com>:

[2015-04-01 22:23] #193 closed

[2015-04-02 07:33] artem-zinnatullin opened #197 "Fail: StorIOContentProvider should be renamed to StorIOContentResolver"
Because, actually, `StorIOContentProvider` uses `ContentResolver` and not `ContentProvider`, we even don't specify `ContentProvider's` authority, so it's wrapper for `ContentResolver` only. facepalm.jpg

@nikitin-da PTAL and comment

[2015-04-02 08:35] nikitin-da commented on #197
Omg. I have nothing to add.

[2015-04-02 17:28] #197 closed

[2015-04-02 20:59] artem-zinnatullin commented on #195
@nikitin-da so, I am doing it?

[2015-04-02 21:13] artem-zinnatullin opened #200 "Treat javac and lint warnings as errors"
Currently, Jenkins checks for `javac` warnings and if warning will be found -> build will fail.

But I noticed, that Jenkins `Warning` plugin works very slow, it takes about 2 minutes to analyse all the build output.

I am going to configure `javac` and `lint` to treat all warnings as errors so we will be sure that everything is okay and it should be faster than post-processing of build output on

[2015-04-02 21:13] nikitin-da commented on #195
Yes, I don't see another variant

[2015-04-02 21:14] artem-zinnatullin commented on #195
Cool

пт, 3 апр. 2015 г. в 0:13, Dmitrii Nikitin <notifications@github.com>:

[2015-04-02 21:34] #194 closed

[2015-04-02 21:43] nikitin-da commented on #183
Can I take it?

[2015-04-02 21:46] artem-zinnatullin commented on #183
Yes, sure, you can use `PreparedPutObjects` from `storio-contentresolver` as an example.

Let's make best documentation -> developers will be happy. Everybody will be happy!

I think, that covering default values should be done in separate PR so it will be easier to review it

[2015-04-03 05:46] #200 closed

[2015-04-03 23:34] #195 closed

[2015-04-04 01:24] artem-zinnatullin opened #204 "Rename all results containers"
`DeleteCollectionResult` -> `DeleteResults`

And so on. Less noise, more readable.

@nikitin-da what do you think?

[2015-04-04 01:29] artem-zinnatullin opened #205 "All Operations results containers should implement hashCode, equals, toString"

[2015-04-04 01:41] artem-zinnatullin opened #206 "Changes fields should be private"
Just provide getters

[2015-04-04 06:23] nikitin-da commented on #204
It will be definitly shortly

[2015-04-04 19:13] artem-zinnatullin opened #209 "Run spellcheck on the project"
There are some typos in code and javadoc, let's fix them

[2015-04-04 19:13] artem-zinnatullin opened #210 "Wrap all code in javadoc into <code> tag"

[2015-04-04 20:15] artem-zinnatullin opened #212 "Delete Operation for StorIOContentResolver"

[2015-04-04 20:35] artem-zinnatullin opened #213 "All Operation Resolvers should construct result of Operation"
At the moment, all Operations Resolvers returns something like `int`, etc, but `PutResolver`s return `PutResult`.

So, for more unified code style it will be good to make all Operations Resolvers return `OperationResult`.

Also, in future we will be able to make result of some Operation more complex and it will not affect Operation Resolver return type.

@nikitin-da your opinion?

[2015-04-04 20:59] #204 closed

[2015-04-04 22:34] nikitin-da commented on #213
Using special class for `Delete resolver` result will be definitely better.
As for me in `Get Resolver` case return something else instead of `cursor` will be less obvious.
But for unification I guess it will be good decision.

[2015-04-04 22:35] artem-zinnatullin commented on #213
Oh, for GetResolver I wanted to keep Cursor as result type

вс, 5 апр. 2015, 1:34, Dmitrii Nikitin <notifications@github.com>:

[2015-04-04 23:38] #183 closed

[2015-04-05 00:51] #206 closed

[2015-04-05 11:56] artem-zinnatullin commented on #110
I thought about exceptions for couple of days and I don't see any prons of using custom `RuntimeExceptions`, nobody will catch them so, it does not matter what exception will be thrown.

I am going to delete them, @nikitin-da your opinion?

[2015-04-05 12:01] nikitin-da commented on #110
Yes, if there are no way to use `checked`, so I also don't see profit from custom exceptions.

[2015-04-05 12:22] nikitin-da commented on #182
Do we really need to say `Default value is <code>null</code>` for required parameters?
Actually client will not deal with this value, we just only will throw an exception in this case.
@artem-zinnatullin what do you think?

[2015-04-05 12:28] artem-zinnatullin commented on #110
Okay, I'll prepare PR where I'll remove them

[2015-04-05 12:30] artem-zinnatullin commented on #182
I'd agree

[2015-04-05 19:58] artem-zinnatullin opened #218 "Compile checkable required params for all builders"
I really don't like that our builders can be used incorrectly and if user would forget required param he will see this only in runtime, and it will be crash or the application..

We can make incorrect usage of builders non-compilable, there is workaround for this via interfaces: http://blog.crisp.se/2013/10/09/perlundholm/another-builder-pattern-for-java

@nikitin-da do you agree?

[2015-04-05 19:58] artem-zinnatullin commented on #218
Another link: http://blog.crisp.se/2013/10/09/perlundholm/another-builder-pattern-for-java

[2015-04-05 20:50] nikitin-da commented on #218
For our case it is just right. Can I take it?

[2015-04-05 20:54] artem-zinnatullin commented on #218
Yes, will be great! Can you start with PR for one Builder? I'd like to see how it will be done :)

[2015-04-05 20:55] nikitin-da commented on #218
Yep

[2015-04-05 20:55] artem-zinnatullin commented on #218
Cool

вс, 5 апр. 2015 г. в 23:55, Dmitrii Nikitin <notifications@github.com>:

[2015-04-05 20:58] #212 closed

[2015-04-05 21:14] nikitin-da commented on #218
Did you talk about another link?=)
It was the same (http://blog.crisp.se/2013/10/09/perlundholm/another-builder-pattern-for-java)

[2015-04-05 21:15] artem-zinnatullin commented on #218
Lol, my fault, here is another link: http://www.jayway.com/2012/02/07/builder-pattern-with-a-twist/

Or just Google it: `java builder pattern required parameters`

[2015-04-05 21:15] artem-zinnatullin commented on #218
I don't remember, but this problem may also be covered in `Effective Java`

[2015-04-05 21:18] nikitin-da commented on #218
Thanks
Hm, I don't remember it in this book

[2015-04-05 21:23] artem-zinnatullin opened #220 "Rename Prepared Operations that operates with Iterable"
Iterable should be in the end of the class name

[2015-04-05 21:40] artem-zinnatullin opened #222 "Rename StorIOSQLiteDb"
What about `StorIOSQLite`?

`SQLite` is already Database, there is no real need to write `SQLiteDb`

Shorter names -> better API.

@nikitin-da your opinion?

[2015-04-05 21:41] nikitin-da commented on #222
+

[2015-04-05 21:42] nikitin-da commented on #222
It's nice change

[2015-04-05 21:43] artem-zinnatullin commented on #222
Glad to read that! I hate Enterprise-like class names..

[2015-04-05 22:04] #164 closed

[2015-04-05 22:14] artem-zinnatullin commented on #144
Damn it, just found problem with creating instance of `StorIOSQLiteDb`.

On line 68, we create anonymous class that extends `rx.functions.Func1` and classLoader throws `NoClassDefFound`

[2015-04-05 23:32] #182 closed

[2015-04-07 21:02] artem-zinnatullin opened #227 "Hide and make everything private"
We are pretty close to release `1.0.0` and many things should be private and/or final: classes, constructors and so on. We can not offer support to all classes in terms of inheritance, may be later we will make some of them extendable again.

[2015-04-07 21:36] artem-zinnatullin opened #228 "Target Java 6"
We should build `StorIO` as Java 6 library :(

[2015-04-08 06:53] #116 closed

[2015-04-08 10:34] artem-zinnatullin opened #234 "Sample app should use stable version of Dagger 2"

[2015-04-08 11:43] #234 closed

[2015-04-08 12:32] #228 closed

[2015-04-08 15:32] artem-zinnatullin opened #237 "Add @NonNull annotations for MapFunc"

[2015-04-08 23:11] artem-zinnatullin commented on #222
@nikitin-da I am on it, please wait if you're doing other PRs, it'll be hard to merge our conflicts

[2015-04-08 23:15] artem-zinnatullin opened #238 "Switch to Gradle 2.3"

[2015-04-09 00:05] #222 closed

[2015-04-09 06:08] #237 closed

[2015-04-09 06:09] #238 closed

[2015-04-09 07:16] #110 closed

[2015-04-09 13:45] artem-zinnatullin opened #247 "Check varargs for multiple values"
They are dangerous because of Java's Generics erasure

[code]

I need some tests and research for that issue

[2015-04-09 18:08] #220 closed

[2015-04-09 18:35] artem-zinnatullin commented on #218
Just linking PRs here, @nikitin-da please write something like `refs #218` or `part of #218` in PRs  for that issue, it'll be easier to see, what's already done

Refs: #246, #245, #233, #231, #230, #229, #226

[2015-04-09 21:19] nikitin-da commented on #218
ok, thank you

2015-04-09 21:35 GMT+03:00 Artem Zinnatullin <notifications@github.com>:

[2015-04-09 22:15] #213 closed

[2015-04-09 23:02] #205 closed

[2015-04-09 23:24] artem-zinnatullin opened #254 "MockStorIOSQLite"
Issue for discussing `MockStorIOSQLite` implementation

My vision:

`MockStorIOSQLite` should extend `StorIOSQLite` — it'll allow to simply use it instead of real `StorIOSQLite` implementation in tests, via DI or other mechanisms.

It should provide methods like [`MockWebServer`](https://github.com/square/okhttp/tree/master/mockwebserver):
* `enqueueGet(ContentValues)` // to return data to any req

[2015-04-10 00:51] artem-zinnatullin opened #257 "Release 1.0.0"
Issue to discuss upcoming release `1.0.0`

[2015-04-10 08:39] #157 closed

[2015-04-10 08:41] nikitin-da commented on #254
What is the way to mock StorIOContentResolver?

[2015-04-10 14:40] nikitin-da opened #260 "Add integration tests for StorIOContentResolver"

[2015-04-10 18:02] artem-zinnatullin opened #264 "StorIOContentResolver Query Builders should have overload uri(String)"

[2015-04-10 18:23] artem-zinnatullin opened #266 "Tests for Content Resolver Query builders"

[2015-04-10 22:29] artem-zinnatullin opened #268 "Switch to RxJava 1.0.9"

[2015-04-10 22:52] #268 closed

[2015-04-10 23:52] artem-zinnatullin commented on #247
Seems that everything okay, closing for now

[2015-04-10 23:52] #247 closed

[2015-04-10 23:54] artem-zinnatullin commented on #264
Closed by #267

[2015-04-10 23:54] #264 closed

[2015-04-10 23:55] artem-zinnatullin commented on #266
Closed by #267

[2015-04-10 23:55] #266 closed

[2015-04-11 00:16] artem-zinnatullin commented on #257
UPD: I had created issue in Sonatype's Jira for `StorIO`

https://issues.sonatype.org/browse/OSSRH-14941

[2015-04-11 00:18] artem-zinnatullin opened #273 "Rename Gradle module for ContentResolver"
To `storio-content-resolver` just for consistency

[2015-04-11 00:54] artem-zinnatullin opened #274 "Default Mapping and Resolvers"
Setting `MapFunc` and `Resolvers` for each Operation is pretty annoying

We can allow user to set default `MapFunc`'s and `Resolvers` for `StorIOSQLite` and `StorIOContentResolver` and allow to override them per Operation.

@nikitin-da what do you think?

[2015-04-11 08:41] artem-zinnatullin commented on #274
My vision for `StorIOSQLite`:

`DefaultStorIOSQLite` should allow set `SQLiteType` mapping in builder

[code]

And Operation Builders will try to get type mapping from `StorIOSQLite.internal().typeMapping(User.class)` like this or allow to override default mapping per Operation

[code]

And similar implementation for `StorIOContentResolver`.

It'll make using of `StorIO` better, btw in future we c

[2015-04-11 13:01] nikitin-da commented on #257
How much time does it usually takes?

[2015-04-11 13:11] nikitin-da commented on #274
Absolutely agree, it'll be much convenient to use, because on the one hand separate setting `MapFunc` and `Resolvers` gives more flexibility, but on the other hand it is far non common case, when it is really need. So, requirement to set `some resolvers` twice may be scary for users that accustomed to make serialization via annotations.

[2015-04-11 13:53] artem-zinnatullin commented on #257
Several days

сб, 11 апр. 2015, 16:01, Dmitrii Nikitin <notifications@github.com>:

[2015-04-11 13:54] artem-zinnatullin commented on #274
Okay, I'll prepare PR for that

сб, 11 апр. 2015, 16:11, Dmitrii Nikitin <notifications@github.com>:

[2015-04-12 16:14] artem-zinnatullin commented on #274
@nikitin-da current implementation is not consistent :(

It asks for:

* `mappingToContentValues`
* `mappingFromCursor` // GetResolver
* `putResolver` // mapping to InsertQuery and UpdateQuery
* `mappingToDeleteQuery` // DeleteResolver

May be we should ask only for Resolvers or only for Queries? I think Resolver will be better, because with current implementation you can not store one Java object

[2015-04-12 18:56] nikitin-da commented on #274
Do you think we need to provide only resolvers, that will accept `content values`?

[2015-04-12 19:23] artem-zinnatullin commented on #274
I see several variants:

1. Resolver should accept `object of some type`

Put Operation:
[code]

Get Operation:

[code]

Delete Operation:

[code]

Prons:

* Requires only three resolvers per type
* Object of one type can be stored in several tables with custom Resolvers and all Operations will be able to work with it, current implementation can not offer this

Cons:

* RawQuery with join will req

[2015-04-12 19:32] artem-zinnatullin commented on #274
Second variant: Require:

* `MapFunc<T, ContentValues>`
* `MapFunc<Cursor, T>`
* `MapFunc<T, InsertQuery>`
* `MapFunc<T, UpdateQuery>`
* `MapFunc<T, DeleteQuery>`

And default resolvers from `StorIO` will work for most cases.

Prons:

* `MapFunc` for everything
* `Resolvers` are not required at all, we can safely remove them from `StorIO`
* `RawQuery` with `JOIN` can be easily mapped to custom obj

[2015-04-12 20:35] nikitin-da opened #278 "Add transaction protection for DefaultPutResolver to avoid concurrency problems"

[2015-04-12 21:35] #273 closed

[2015-04-13 14:50] artem-zinnatullin commented on #257
Sonatype gave `com.pushtorefresh` for us, now we can deploy any artifacts and subgroups like `com.pushtorefresh.storio:sqlite` and so on!

Current blockers for  v1.0.0: `Operations Resolvers` refactoring + integration tests for `StorIOContentResolver`

[2015-04-13 14:52] nikitin-da commented on #257
Cool news!

2015-04-13 17:50 GMT+03:00 Artem Zinnatullin <notifications@github.com>:

[2015-04-14 02:01] artem-zinnatullin opened #281 "Write about Hot and Cold Observables"

[2015-04-14 09:52] nikitin-da commented on #281
Hm, what is it?

[2015-04-14 10:08] artem-zinnatullin commented on #281
Different types of `rx.Observables`, I can tell you about them later, http://stackoverflow.com/questions/2521277/what-are-the-hot-and-cold-observables

In shorts:

Cold Observable — Observable that won't emit items while Observer won't subscribe to it, so Observer won't loose any items in normal situation.

Hot Observable — Observable that emits items even if there are NO Observers, so Observer ca

[2015-04-14 10:10] nikitin-da commented on #281
Ok, thank you

2015-04-14 13:08 GMT+03:00 Artem Zinnatullin <notifications@github.com>:

[2015-04-14 10:17] artem-zinnatullin opened #282 "Use ContentResolver#applyBatch where possible"
Delete Operation — no problems
Put Operation — problems

[2015-04-14 10:54] artem-zinnatullin opened #283 "Operation Resolvers should be abstract classes"

[2015-04-14 10:57] artem-zinnatullin opened #284 "ContentResolver Operation Resolvers should provide method for applyBatch"
If Operation Resolver supports applyBatch, Operation should consider to use it.

Example: user defined PutResolver that uses only insert because underlying ContentProvider uses insertWithOnConflict, so he can say that his PutResolver supports applyBatch processing and Put Operation can use it as applyBatch

[2015-04-15 00:20] #260 closed

[2015-04-15 00:24] artem-zinnatullin opened #288 "Annotation Processor for generating Operations Resolvers for StorIOSQLite"

[2015-04-15 06:52] #278 closed

[2015-04-15 10:50] artem-zinnatullin opened #289 "Option for Get Operation to return ImmutableList"
It can be useful for reusing result of Get Operation `Observable` with `replay()` and same operators

[2015-04-15 16:00] artem-zinnatullin opened #291 "Remove current logging implementation"
In 1.1.0 we will prepare simple logging impl, current one is over-complicated

@nikitin-da sorry man, next release :)

[2015-04-15 23:21] artem-zinnatullin opened #292 "Assert that Cursors closed in Get Operation when result is list of items"

[2015-04-16 01:03] artem-zinnatullin opened #295 "Integration tests for createObservableStream() and observeChanges()"
@nikitin-da can you write integration tests for that?

I hope you'll like `RxJava` :)

[2015-04-16 01:04] artem-zinnatullin opened #296 "Unit tests for Changes mechanism"

[2015-04-16 06:53] nikitin-da commented on #295
Yep!

[2015-04-16 07:04] #274 closed

[2015-04-22 12:42] #288 closed

[2015-04-25 14:12] gabrielittner commented on #257
Could you publish snapshots until the release? I would like to try it out and that would make it much easier.

[2015-04-25 15:28] artem-zinnatullin commented on #289
I am closing this at the moment.

If user's classes are mutable, immutable list wouldn't do too much.

With RxJava user can easily map result to immutable list:

[code]

[2015-04-25 15:29] #289 closed

[2015-04-25 15:41] artem-zinnatullin opened #299 "Publish Snapshots"

[2015-04-25 15:42] artem-zinnatullin commented on #257
That would be great, but it'll take some time to configure publishing, at the moment I can suggest you to clone and build it `sh ci/ci.sh`

I created an issue for that #299

[2015-04-25 17:16] nikitin-da commented on #289
Ok

[2015-04-25 17:54] artem-zinnatullin commented on #295
@nikitin-da any estimation on this? RxJava is waiting for you :)

[2015-04-25 17:58] nikitin-da commented on #295
Sorry, I hope 2 days.

[2015-04-25 17:58] artem-zinnatullin commented on #295
No problems, just asking :)

сб, 25 апр. 2015, 20:58, Dmitrii Nikitin <notifications@github.com>:

[2015-04-25 23:08] #210 closed

[2015-04-26 11:46] #283 closed

[2015-04-26 12:02] #218 closed

[2015-04-26 15:00] #72 closed

[2015-04-26 15:01] #209 closed

[2015-04-26 16:06] #144 closed

[2015-04-27 05:20] #227 closed

[2015-04-29 00:17] artem-zinnatullin commented on #291
@nikitin-da I'll do it, okay?

[2015-04-29 04:48] nikitin-da commented on #291
Sure, no problem.

[2015-04-29 21:14] #291 closed

[2015-04-29 22:12] #292 closed

[2015-05-03 00:12] artem-zinnatullin opened #315 "Remove createObservableStream()"
I think, RxJava support should be 100% reactive, that means that such code

[code]

`createObservableStream()` is not a good name, because `Observable` is `stream` by its nature.

If user needs to get result one time, he should use `observable.take(1)`

@nikitin-da PTAL and write your opinion please

[2015-05-03 09:53] nikitin-da commented on #315
I guess, #77 also was created for this problem. I think yes, it should be obivios, that if you use `createObservable` for operation, you just subscribe only to it. Not to all changes in table.

[2015-05-03 18:22] #296 closed

[2015-05-03 23:59] artem-zinnatullin commented on #315
Wait wait wait :)

Please reread issue carefully, I want to remove `createObservableStream()` and leave only `createObservable()` which will be subscribed to changes in tables from query.

It will make API more convenient and really reactive

[2015-05-06 12:00] #315 closed

[2015-05-07 12:21] artem-zinnatullin opened #317 "Callback execution model"
Currently, `StorIO` provides 2 execution models:

 * `executeAsBlocking()`
 * `createObservable()`

If somebody needs it -> please comment with "+1", so we will know that it should be implemented

[2015-05-09 18:09] artem-zinnatullin opened #318 "StorIOSQLite should implement Closeable interface"
And allow to close underlying `SQLiteDatabase`

[2015-05-11 17:16] artem-zinnatullin opened #319 "Switch to Gradle 2.4"

[2015-05-11 20:58] artem-zinnatullin opened #320 "Use Thread.yield() instead of sleep() in tests"
Here: https://github.com/pushtorefresh/storio/blob/a6015e284efc3f1f2238849fbabd881658cd4b1f/storio-sqlite/src/androidTest/java/com/pushtorefresh/storio/sqlite/impl/NotifyAboutChangesTest.java#L42

And here: https://github.com/pushtorefresh/storio/blob/a6015e284efc3f1f2238849fbabd881658cd4b1f/storio-sqlite/src/androidTest/java/com/pushtorefresh/storio/sqlite/impl/NotifyAboutChangesTest.java#L94

[2015-05-11 21:22] artem-zinnatullin opened #321 "Hide fields of Query objects under getters"
It'll allow us to be more flexible in future without breaking the API

[2015-05-12 05:24] #320 closed

[2015-05-12 05:29] #319 closed

[2015-05-14 01:19] artem-zinnatullin opened #326 "Unstable test NotifyAboutChangesTest#notifyAboutChangesConcurrently()"
Probably it's problem of `rx.observers.TestObserver`, as I see it uses non thread safe `ArrayList` as storage for notifications and received items.

https://github.com/ReactiveX/RxJava/issues/2947

[2015-05-14 11:36] #321 closed

[2015-05-15 00:28] artem-zinnatullin opened #329 "Option to get one object instead of list"
Common task — get exactly one object from the db.

[code]

I think, it should return `null` if `cursor.getCount() == 0` for `executeAsBlocking()`, for RxJava it should just complete normally without emitting null, so it'll be possible to apply `defaultOrEmpty` Operator.

[code]

@nikitin-da what do you think?

[2015-05-15 03:51] nikitin-da commented on #329
Yes, I agree that 'null' for blocking variant will be obvious. For rx, we can simply replace 'loadUserFromNetwork' with swithing ui state to empty in main thread, don,t we?

[2015-05-15 16:49] artem-zinnatullin opened #330 "Add LeakCanary to the Sample app!"
It's awesome

[2015-05-15 23:40] artem-zinnatullin commented on #329
I am moving this to 1.1.0

[2015-05-15 23:40] tsuharesu commented on #105
I am up to do this (in IntelliJ is not that hard) but... do you mind commiting the .idea folder? The copyright is stored there so it is easier (and automatic) to apply with IntelliJ/Android Studio.

I use the model in gitignore.io to check the folder so it just shares the project settings and not all the files, paths and etc (https://www.gitignore.io/api/intellij).

[2015-05-16 00:16] artem-zinnatullin commented on #105
Yep, I know about IntelliJ setting for copyright.

I think we will create separate repository with IntelliJ settings for all Open Source projects of Pushtorefresh.

Don't worry, about Licence, it's Apache Licence v2.0, I am not sure that it'll be placed in each header in 1.0.0, but later it'll be there :)

[2015-05-16 00:20] artem-zinnatullin opened #331 "Option to get objects as stream"
[code]

[2015-05-16 00:30] artem-zinnatullin commented on #295
Done!

[2015-05-16 00:30] #295 closed

[2015-05-16 00:44] artem-zinnatullin commented on #318
I investigated this and as far as I can see, there is no need to manually call `SQLiteDatabase#close()`, same for `StorIOSQLite`.

[2015-05-16 00:56] tsuharesu commented on #105
Hmm, how this should work? Having the settings on a difference place?

Ok, I just was looking on the issues and seeing where can I help hehe :)

[2015-05-16 00:59] artem-zinnatullin commented on #105
Every developer would be able to close repository with IntelliJ settings and apply them to IDE and then participate in all Pushtorefresh OSS projects.

At the moment we use standard IntelliJ Java code style, so it's not a problem :)

[2015-05-16 08:14] #326 closed

[2015-05-16 08:28] #330 closed

[2015-05-16 17:19] artem-zinnatullin opened #333 "Hide fields of TypeDefaults under methods"

[2015-05-16 17:19] artem-zinnatullin opened #334 "Rename TypeDefaults to TypeMapping"

[2015-05-16 17:27] artem-zinnatullin opened #335 "By default Observable should be subscribed on Schedulers.io()"

[2015-05-17 23:25] artem-zinnatullin opened #338 "Rename ExecSql Operation to ExecSQL for consistency"
We use `SQL` instead of `Sql` in all `StorIOSQLite` codes, so it'll be great to have consistency here.

[2015-05-17 23:30] artem-zinnatullin opened #339 "ExecuteSQL Operation does not send notifications"
ExecSQL Operation should send notifications about changes if `RawQuery` contains `affectedTables`.

[2015-05-18 05:51] nikitin-da commented on #339
Do we need to parse query to detect affected tables?

[2015-05-18 07:53] artem-zinnatullin commented on #339
Yes.

пн, 18 мая 2015, 8:51, Dmitrii Nikitin <notifications@github.com>:

[2015-05-18 12:11] artem-zinnatullin commented on #338
Even better: `executeSQL`

[2015-05-18 12:14] nikitin-da commented on #338
`executeSQL` +1
I guess, actually we don't have many cuts

[2015-05-18 13:49] #338 closed

[2015-05-18 14:22] artem-zinnatullin commented on #281
Fixed by #336 and #340.

[2015-05-18 14:22] #281 closed

[2015-05-18 14:29] artem-zinnatullin opened #342 "Add observesTables to the RawQuery"
`RawQuery` can be used not only to affect db, but also for querying:

[code]

I think `tables` instead of `affectedTables` should be good.

@nikitin-da what do you think?

[2015-05-18 14:47] nikitin-da commented on #342
Hm, stop. Do you want to notify about reading some tables?

[2015-05-18 16:52] PiXeL16 opened #343 "Best approach when working with existing SQLite database"
Hi,
Was just wondering if there is a suggested approach when working with a existing data with storio?
I will like to ship my app with a lot of existing data. Should I copy my .db from assets to db folder in first launch or is there anything better I can do?
Thanks!

[2015-05-18 17:32] artem-zinnatullin commented on #343
Hello!
Can you please ask this question on StackOverflow and post link here (I'll answer there)?

We would like to keep GitHub issues for bug reports and feature requests only, questions about usage patterns, etc can be asked on StackOverflow, nothing personal :)

Thanks!

[2015-05-18 17:34] artem-zinnatullin commented on #342
Nope, I want to subscribe query to changes in that tables, take a look at source code example again :smiley:

[2015-05-18 17:56] PiXeL16 commented on #343
Sure thing, sorry about that.
http://stackoverflow.com/questions/30309915/best-approach-when-working-with-existing-sqlite-database-in-storio

[2015-05-18 17:58] artem-zinnatullin commented on #342
Okay, after discussion:

[code]

[2015-05-18 18:28] artem-zinnatullin commented on #343
Answered! Feel free to ask more/comment the answer!

[2015-05-18 18:28] #343 closed

[2015-05-18 22:50] artem-zinnatullin commented on #342
I think even better to use Simple Present:

`observesTables()` and `affectsTables()`

@nikitin-da ?

[2015-05-18 23:10] nikitin-da commented on #342
I agree!

[2015-05-20 11:18] artem-zinnatullin opened #344 "Switch to RxJava 1.0.11"

[2015-05-20 19:07] #344 closed

[2015-05-20 22:56] artem-zinnatullin opened #346 "Kill nulls in Queries!"
Nulls everywhere in StorIO, that's good for performance, but not safe for users, I think that it's better to lose 1% of performance, but provide safety instead.

[2015-05-21 01:15] artem-zinnatullin opened #349 "StartWith used incorrectly"
Example code:

[code]

In this example, `startWith(executeAsBlocking())` won't be executed on `Schedulers.io()`, because `executeAsBlocking()` will be computed in thread that called this code (Java does not have lazy arguments evaluation).

My fault, I'll fix this.

[2015-05-21 05:23] #342 closed

[2015-05-21 05:28] #333 closed

[2015-05-21 05:28] #334 closed

[2015-05-21 05:41] nikitin-da commented on #346
Do you mean use final collections with `addAll` instead of assignment or something else?

[2015-05-21 11:59] artem-zinnatullin commented on #346
Nope, I mean `null`s in Queries and other classes

[code]

[2015-05-23 09:55] #335 closed

[2015-05-26 18:35] artem-zinnatullin opened #351 "Switch to JavaPoet 1.2"

[2015-05-27 18:21] PiXeL16 commented on #257
Nice, any news on the release?

[2015-05-27 21:53] artem-zinnatullin commented on #257
Yep, I am going to work hard on StorIO next week and I think we'll release RC-1 to Maven Central ASAP.

Stay tuned!

[2015-05-27 23:06] PiXeL16 commented on #257
Thanks!

[2015-05-31 01:05] artem-zinnatullin commented on #339
Oh, I didn't get it at the first time, so the real answer is "No."

We have `RawQuery#affectsTables()`

[2015-05-31 01:08] artem-zinnatullin opened #352 "Use Kotlin for tests"
Why not?

[2015-05-31 01:17] artem-zinnatullin opened #353 "Documentation: Add example of getting result once via Get Operation as rx.Observable"

[2015-06-01 12:18] artem-zinnatullin opened #355 "Rewrite flaky integration tests"
See #354.

[2015-06-01 13:17] #339 closed

[2015-06-02 07:45] #318 closed

[2015-06-02 08:37] #355 closed

[2015-06-03 22:26] artem-zinnatullin opened #358 "StorIOContentResolver should be Closeable"
It should shutdown `HandlerThread` that observes changes.

[2015-06-03 22:36] artem-zinnatullin opened #359 "StorIOContentResolver has memory leak"
My fault, forget to add unsubscribing from `ContentObserver` — memory leak.

[2015-06-03 22:36] artem-zinnatullin commented on #358
Not required.

[2015-06-03 22:36] #358 closed

[2015-06-04 05:41] #359 closed

[2015-06-04 19:19] artem-zinnatullin opened #361 "Use threading annotations from Support-Annotations 22.2.0"
We can mark some methods with new `@MainThread` and `@WorkerThread` annotations http://tools.android.com/tech-docs/support-annotations

[2015-06-04 19:49] nikitin-da commented on #361
Wow. Awesome novelity =)

[2015-06-04 22:02] artem-zinnatullin commented on #361
Yup!
4 июня 2015 г. 10:49 PM пользователь "Dmitrii Nikitin" <
notifications@github.com> написал:

[2015-06-04 23:08] #346 closed

[2015-06-04 23:10] #349 closed

[2015-06-06 00:39] artem-zinnatullin opened #364 "Make get().listOfObjects() immutable"
It'll be better for Thread-Safety and more consistent with one of the main concept of StorIO — Immutability,

[2015-06-06 17:06] artem-zinnatullin opened #365 "Type mapping with AutoValue/AutoParcel"
Link to discussion on reddit: https://www.reddit.com/r/androiddev/comments/38nx2t/weekly_anything_goes_thread/crxm900

The problem:

`SQLiteTypeMapping` and `ContentResolverTypeMapping` store pairs for type mapping with exact class, for example: `[(Tweet.class, TweetPutResolver), (Tweet.class, TweetGetResolver)...]`.

But with `AutoValue` and `AutoParcel` it won't resolve required class.

[code]

[2015-06-06 17:31] artem-zinnatullin opened #366 "Execute SQL Operation should not return null"
It breaks contract of `PreparedOperation`.

[2015-06-06 18:54] #361 closed

[2015-06-07 09:21] #364 closed

[2015-06-07 20:24] #366 closed

[2015-06-08 00:10] artem-zinnatullin opened #370 "Provide better exception message for unresolved Operation Resolvers"
At the moment we have: "Please specify PutResolver".

It'll be better to show something like: "Please specify PutResolver for type MyType, StorIO can not perform Put Operation without this resolver"

[2015-06-08 01:12] artem-zinnatullin commented on #365
I made two solutions:

1 TypeMapping can store synonym classes

[code]

And StorIO will use resolvers of `Foo.class` for `Foo.class` itself and for all its synonyms.

2 Use `Class.isAssignableFrom()` and check that passed class has mapping for its parent class, no user action required.

And, I decided to implement 2nd solution, because it's pretty cheap for performance (I made caching) and it's ea

[2015-06-08 01:56] artem-zinnatullin opened #371 "Put and Delete objects should not require specifying type"
I think, it's my mistake in the API.

[2015-06-08 02:04] artem-zinnatullin opened #372 "Add example with AutoValue/AutoParcel entity"

[2015-06-08 02:04] artem-zinnatullin opened #373 "Better exception messages for checkNotNull()"

[2015-06-08 06:19] nikitin-da commented on #365
Cool! But I guess with second solution we can meet a little problem.
What if we have hierarchy of classes and use `@AutoParcel`.
For example: `User <|-- UserDetails`.
So `User <|-- AutoParcel_User` and `UserDetails <|-- AutoParcel_UserDetails`
And try to add different type mapping for it:
`addTypeMapping(User.class, new SQLiteTypeMapping.Builder<User>()
    .getResolver(new UserGetResolver())

[2015-06-08 07:21] artem-zinnatullin commented on #365
Damn, you're right...
8 июня 2015 г. 9:19 AM пользователь "Dmitrii Nikitin" <
notifications@github.com> написал:

[2015-06-08 07:45] artem-zinnatullin commented on #365
Okay, I can solve this, but it'll be liiitle slower, just a little for most of the cases. I'll count "how many classes between these two in the inheritance relation" and then I'll choose most closer class with known type mapping.

[2015-06-08 07:48] nikitin-da commented on #365
Maybe with caching it will be ok

[2015-06-08 08:15] artem-zinnatullin commented on #365
Yep
8 июня 2015 г. 10:48 AM пользователь "Dmitrii Nikitin" <
notifications@github.com> написал:

[2015-06-08 18:41] nikitin-da opened #375 "Fix content resolver integration test: manually call contentObserver"

[2015-06-08 19:34] artem-zinnatullin commented on #375
Or we can create ContentProvider in the sample app and move integration
tests for ContentResolver inside of the sample app
8 июня 2015 г. 9:41 PM пользователь "Dmitrii Nikitin" <
notifications@github.com> написал:

[2015-06-09 00:43] artem-zinnatullin commented on #375
Or we can use Robolectric (but I am not big fan of it).

[2015-06-09 06:15] #370 closed

[2015-06-09 09:11] artem-zinnatullin commented on #375
@nikitin-da do you have any estimation on this? At the moment, it's the only real blocker of 1.0.0

[2015-06-09 09:58] #365 closed

[2015-06-09 10:40] nikitin-da commented on #375
Yes, I will move it to sample app this evening.

[2015-06-09 11:05] artem-zinnatullin commented on #375
Great, thanks!

[2015-06-09 22:16] artem-zinnatullin commented on #372
Closed by #374.

[2015-06-09 22:16] #372 closed

[2015-06-09 22:30] artem-zinnatullin commented on #371
@nikitin-da please help me decide:

If we won't require specifying class for `put.objects()` and `delete.objects()` we have to get class of the objects for type mapping.

I see three options:

First option — look through the collection of objects in `prepare()` and create `List<TypeMappingAndObject>` and pass it to the operation in `prepare()`, it'll work in calling thread which will be Main Threa

[2015-06-09 22:31] artem-zinnatullin commented on #371
Addition: other operations will throw exception if type mapping is not found in `prepare()` stage, with second and third options we can't do it.

[2015-06-09 22:55] nikitin-da commented on #371
First looks good given the availability of the cache, whether the first search take more than 16 ms?
I dislike second way, because I think that it will be worse case if we will left database in unpredictable state.
Third will be more complicated to implement, but does it have other minuses?

[2015-06-09 23:34] artem-zinnatullin commented on #371
16ms is not a problem, for us — it's a problem if it'll take >= 0.5 ms I guess, because Android Framework can take about ~5ms on it's own things, GC can take other 5ms and developer should use time left very efficiently…

Also, for huge collections it would take even more time and memory.

I like second option because it's memory allocations free, but I dislike possibility of affected db very much

[2015-06-13 00:57] artem-zinnatullin opened #381 "Add Infer to the CI script"
https://code.facebook.com/posts/1648953042007882/open-sourcing-facebook-infer-identify-bugs-before-you-ship/

[2015-06-14 13:07] artem-zinnatullin opened #382 "Create builders via static methods"
IntelliJ IDEA's suggestions engine doesn't handle `new Something.Builder()` properly, it always suggests me `new Something()` instead of builder even if constructor of `Something` is `private`.

So, I think we should switch to `Something.builder()`, it also requires less symbols in compare to `new Something.Builder()`.

[2015-06-14 17:22] artem-zinnatullin commented on #375
Closed by #383.

[2015-06-14 17:22] #375 closed

[2015-06-14 18:50] nikitin-da commented on #382
Сan I take it?

[2015-06-14 18:57] artem-zinnatullin commented on #382
Sure, let's do it!
14 июня 2015 г. 9:50 PM пользователь "Dmitrii Nikitin" <
notifications@github.com> написал:

[2015-06-15 12:55] atomd commented on #257
Waiting for the release!

[2015-06-15 13:33] artem-zinnatullin commented on #257
Me too! :) WIP, we have some problems with CI and one API design thing

[2015-06-16 10:54] #382 closed

[2015-06-16 21:30] ilya-murzinov commented on #257
Hi guys!
Need any help? :)

[2015-06-16 23:15] artem-zinnatullin commented on #257
Yo! Glad to see you here, Ilya!

I think, we've covered most things, I'm currently finishing API design things and resolving CI problems.

Would be great if you'd take a look at new PRs, we won't block them without your feedback, but if you would see something bad -> please comment it!

[2015-06-16 23:39] ilya-murzinov commented on #257
It's a nice project you have here, so I thought, why not? :)
I'll try just to take a closer look to begin with.

[2015-06-17 09:10] artem-zinnatullin opened #396 "Get/Put/Delete should resolve type mapping in "execution" phase"
If no type mapping was found for Put/Delete of one object -> throw error in execute phase, not in prepare, because rx.Observer should be able to handle this.

[2015-06-18 22:04] artem-zinnatullin opened #400 "StorIO SQLite documentation builders!"
Bug in the documentation! @nikitin-da static methods for builders should be also noticed in docs/StorIOSQLite.md

[2015-06-18 22:12] nikitin-da commented on #400
Oh my bad. I forgot about it

[2015-06-19 12:50] #400 closed

[2015-06-19 13:40] artem-zinnatullin commented on #396
It's done for Put/Delete Operations, but I think that we should also resolve type mapping for Get Operation in "execute" phase.

[2015-06-19 13:40] artem-zinnatullin commented on #371
Done!

[2015-06-19 13:40] #371 closed

[2015-06-19 14:36] nikitin-da commented on #371
:+1:

[2015-06-19 23:02] artem-zinnatullin commented on #257
Looks like we are good to go! Hope I didn't miss anything.

[2015-06-20 00:43] artem-zinnatullin commented on #257
Good news everyone! I've successfully uploaded `0.9.1-SNAPSHOT` to Maven Central, just for testing upload configuration.

@nikitin-da hope you'll review and merge remaining PRs and I'll publish `1.0.0-SNAPSHOT`, we will play couple days with it and I'll release final `1.0.0`!

Also, I'll probably set up auto-uploading for SNAPSHOTS.

[2015-06-20 09:18] #396 closed

[2015-06-20 22:12] artem-zinnatullin opened #412 "Packages naming policy: Switch from Singular to Plural"
Hope it's last issue before `1.0.0`.

**Package naming policy:**

http://programmers.stackexchange.com/questions/75919/should-package-names-be-singular-or-plural

Currently we have "Singular" variant of packages naming, for example: `com.pushtorefresh.stroio.sqlite.operation`, but in fact it contains several Operations and it'll be more correctly to name it `com.pushtorefresh.stroio.sqlite.operati

[2015-06-21 10:44] nikitin-da commented on #412
Matthew Rodatus is convincing. I completely agree.

[2015-06-21 18:56] #412 closed

[2015-06-21 19:06] nikitin-da commented on #353
Is it actual?

[2015-06-21 19:31] artem-zinnatullin commented on #353
Yes!
21 июня 2015 г. 10:06 PM пользователь "Dmitrii Nikitin" <
notifications@github.com> написал:

[2015-06-23 09:38] artem-zinnatullin commented on #353
@nikitin-da if you have time, I'll be happy to review your PR for this issue

[2015-06-23 15:24] nikitin-da commented on #353
Ok, I'll do it this evening.

[2015-06-23 16:14] artem-zinnatullin opened #416 "Switch to Robolectric for ContentResolver tests"
I am tired of Android emulator problems on CI, lets use Robolectric for ContentResolver tests.

[2015-06-30 22:23] artem-zinnatullin commented on #416
Fixed by #420.

[2015-06-30 22:23] #416 closed

[2015-06-30 22:24] artem-zinnatullin commented on #353
Done!

[2015-06-30 22:24] #353 closed

[2015-07-01 00:08] #257 closed

[2015-07-01 10:16] artem-zinnatullin opened #427 "Add info about performance in the README"
We can also make some benchmarks like this https://github.com/daj/android-orm-benchmark (not sure about their quality tho)

[2015-07-06 01:15] oneassasin opened #431 "Examples subqueries"
Please, write.

[2015-07-06 01:17] artem-zinnatullin commented on #431
Can you please give more description to the issue?

You want us to add examples with `RawQuery` which will use subqueries or what? If so -> there is no difference between standard raw query for `SQLiteDatabase` :)

[2015-07-06 01:41] oneassasin commented on #431
I mean the construction of queries with subqueries using Query.
[code]
RawQuery not suitable as an argument for a method withQuery.
I`m using
[code]

[2015-07-06 01:59] artem-zinnatullin commented on #431
You can not use `RawQuery` with `StorIOContentResolver`, it's limitation of `ContentResolver` and `ContentProvider` in general, because you can use something different from `SQLiteDatabase` under the `ContentProvider`.

You should use `StorIOSQLite` instead of `StorIOContentResolver` if you don't have `ContentProvider` and you just want to work with `SQLiteDatabase`.

Or if you need to use `SQLite

[2015-07-06 02:23] #431 closed

[2015-07-14 00:30] Rainer-Lang commented on #427
Very interesting lib!
+1 for infos about performance

[2015-07-14 00:53] artem-zinnatullin commented on #331
I'd like to add this api, but I don't see good ways to support execution models that differs from `createObservable`, so I'm closing it for now.

If somebody has good thoughts about it -> feel free to comment.

[2015-07-14 00:53] #331 closed

[2015-07-14 01:07] artem-zinnatullin opened #434 "Semantic versioning scheme"
StorIO works with important things like user data and so on, so I think we must use semantic versioning scheme and provide compatibility when possible.

http://semver.org

I'll add this in README.

Short example:
`1.2.3` -> `MAJOR.MINOR.PATCH`.

MAJOR version, changes when we make incompatible API changes,
MINOR version, changes when we add functionality in a backwards-compatible manner, and
PATCH

[2015-07-14 05:53] Rainer-Lang commented on #331
Please don't close. Maybe someone writes some ideas inside.

[2015-07-14 05:53] Rainer-Lang commented on #331
Btw I think this is a really good feature.

[2015-07-14 06:08] Rainer-Lang commented on #317
Im thinking to switch from an orm lib to storio - but I don't know want I need. Please add as much as you can, so storio-community and tester can grow.

Please explain executeAsBlocking() (transaction?) and what createObservable() will do.
Thanks.

[2015-07-14 09:33] artem-zinnatullin commented on #331
It's nice feature, but in fact you can do it pretty easily via RxJava Operators, like this:

[code]

[2015-07-14 09:36] artem-zinnatullin commented on #317
`executeAsBlocking()` will execute some operation as blocking synchonous call in current thread, it does not related to transactions (which are supported for group Put and Delete Operations).

`createObservable()` will create `rx.Observable`, it's part of RxJava project https://github.com/ReactiveX/RxJava

So at the moment StorIO supports two execution models: execution as blocking call and execut

[2015-07-14 09:46] TheRishka opened #436 "Relations example"
Could you please add some more complex sample-app with an example of making many-to-many relations? I've implemented storIO in my project quite successfully but now i'm stuck at creating more complex databases. I understand that it refers more to SQLite, but your vision on resolving this would be much helpful. Thank you!

[2015-07-14 09:50] artem-zinnatullin commented on #436
Sure, you are second person who asks this, I'd work on it today/tomorrow.

[2015-07-14 09:51] #434 closed

[2015-07-14 09:56] artem-zinnatullin commented on #329
cc @benjchristensen

[2015-07-14 10:04] Rainer-Lang commented on #331
Thanks for the idea.

[2015-07-14 22:27] artem-zinnatullin opened #439 "Tests flakiness in StorIOContentResolver"
Builds on CI can fail because of tests flakiness:

`com.pushtorefresh.storio.contentresolver.integration.QueryTest > queryOneByField FAILED
    java.lang.AssertionError at QueryTest.java:34`

It's just an example, as I saw — every integration test in StorIOContentResolver can fail because of some problem with notifications about changes.

RxJava 1.0.13 didn't help, see #438.

[2015-07-15 05:34] Rainer-Lang commented on #436
Please also add me.

[2015-07-15 12:09] artem-zinnatullin opened #441 "Throw exception if contentResolver.query() returns null"
At the moment we return empty `MatrixCursor` if original call to `contentResolver.query()` returns null, but  in fact if `ContentProvider` returns `null`, it means that this query can not be processed because of some error/exception.

So we should throw it as exception.

@nikitin-da and others thoughts?

See: http://stackoverflow.com/questions/13080540/what-causes-androids-contentresolver-query-to

[2015-07-15 19:03] nikitin-da commented on #441
This decision was made using only sources, without docs. Can it be platform specific?
If it's always error state, it's nice idea to follow non-null approach - throw runtime exception.

[2015-07-15 20:08] artem-zinnatullin commented on #441
Documentation for `ContentProvider` says that `query()` can return `Cursor` or `null`. In my opinion, if there is no data for this query (eg table is empty) `ContentProvider` should return empty cursor, but if such query does not have mapping (eg no such table for uri and so on) it should return `null`, which is exceptional case for us and users of StorIO, I guess.

[2015-07-16 07:18] artem-zinnatullin commented on #439
Hope #440 will finally fix this, I'll keep this issue for couple other PRs and if we won't see problems with them — I'll then close this issue.

[2015-07-16 07:25] artem-zinnatullin opened #443 "Annotation processor for generating StorIOContentResolver type mapping"

[2015-07-16 08:09] #351 closed

[2015-07-16 14:46] artem-zinnatullin opened #446 "Provide public API to ChangesBus to allow users subscribe to all changes in StorIO"
At the moment user can observe changes of particular tables (in `StorIOSQLite`) or particular `Uris` (in `StorIOContentResolver`).

I think it could be useful for users (at least for me and our current work project) to have an API that will allow to observe all changes without filtration, for example for logging and other purposes.

@nikitin-da thoughts? I remember that we discussed this several m

[2015-07-16 14:53] nikitin-da commented on #446
Just for logging? Do you have other ideas why it may be helpful, listen entire db regardless of the tables?

[2015-07-16 15:11] artem-zinnatullin commented on #446
You can dynamically decide what to filter and yes -> logging, but we will provide logging in some future release…

[2015-07-16 15:25] Rainer-Lang commented on #446
Logging is essential.
Very nice - I'm looking forward.

For now I'm using DBFlow, but storio is getting better and better - and for me it's important that I can use rxjava.

[2015-07-16 16:39] artem-zinnatullin commented on #446
Sure, logging is essential but we'll provide it as separate feature #79.

[2015-07-16 17:37] artem-zinnatullin commented on #439
Looks like everything is okay, closing.

[2015-07-16 17:37] #439 closed

[2015-07-16 21:23] artem-zinnatullin opened #448 "Create custom exception for operations"
`StorIOException` should wrap all exceptions happened during execution of all `PreparedOperations`, also it should cover #441.

And yep, it's a feature :)

[2015-07-16 23:19] artem-zinnatullin opened #449 "Sample app should show how to work with StorIOContentResolver"

[2015-07-17 10:28] artem-zinnatullin opened #450 "Add test coverage tool to the build"
Also, it should fail the build if coverage is less than some value (80% for example).

[2015-07-20 12:52] artem-zinnatullin opened #452 "Add recipe of taking one result via RxJava"
Actually, it's just like:

[code]

[2015-07-20 14:05] krpiotrek opened #453 "PutResult with 0 updated rows"
Hey,
Is this a bug or it's intended and I'm missing something - I cannot create PutResult with zero rows updated - both newUpdateResult(...) methods take numberOfRowsUpdated as a primitive int, while constructor's
[code]
 assumes that you either pass null value (impossible via newUpdateResult method) or > 0 value

[2015-07-20 15:11] artem-zinnatullin commented on #453
Put is Insert or Update, so correct variant of `PutResult`: one inserted row or one or several updated rows (> 0).

You want to create `PutResult` that represent update with 0 updated rows?

[2015-07-20 15:30] krpiotrek commented on #453
Yep, exactly, it's pretty normal for update query to end up with no rows updated, is such PutResult doable with current API?

[2015-07-20 15:48] artem-zinnatullin commented on #453
But in terms of Put Operation it is incorrect result -> if no rows were updated, you need to insert it don't you?

BTW this is how DefaultPutResolver works.

[2015-07-20 17:01] krpiotrek commented on #453
Is it a contract of DefaultPutResolver or PutResolver in general?
I have implemented my own PutResolver which does something like this :
if item doesnt exist - insert
if item exists - check is data synced (user can modify data offline) -> if synced, update / if not synced, leave it as it is

[2015-07-20 17:26] artem-zinnatullin commented on #453
I understand your case now.

It's contract of `PutResolver` and `PutResult` in general, we've followed same semantic as `SQLiteDatabase` here, it will return that one row was updated even if all columns were same.

In general, we can not guarantee this for `DefaultPutResolver` because we check only existence of row for `Query.where(updateQuery.where()).whereArgs(updateQuery.whereArgs())`, `SQLiteD

[2015-07-20 17:54] krpiotrek commented on #453
Just to be clear - SQLiteDatabase will return 0 for an update statement with where clause like "WHERE id = some_id AND some_flag = true" if the some_flag is set to false. I'm not sure if returning wasUpdated = true for this case intuitive

[2015-07-20 18:02] artem-zinnatullin commented on #453
Sure, but this is not the case, and it's normal behavior, `DefaultPutResolver` will make `query` with this `where` and `whereArgs` and  if result will be `0` it will make insert, otherwise — update and update will return `> 1` -> `wasUpdated` will be `true`.

[2015-07-20 21:49] nikitin-da commented on #453
I think we should allow `PutResult` with `0` updated rows.
Like I said before (https://github.com/pushtorefresh/storio/pull/423) it's just `DefaultPutResolver` feature that `0` inserted and `0` updated - impossible.
Another resolvers may, for example, check object for equality or some other condition before `update` call. So this `PutResult` will be required.
@krpiotrek, if I understand you correc

[2015-07-20 22:21] artem-zinnatullin commented on #453
Okay, so, let's make it in 1.0.1, I'll try to prepare PR and release today, looks like it's critical for @krpiotrek  :)

@nikitin-da can you be online for a few hours please?

[2015-07-20 22:23] nikitin-da commented on #453
ok

[2015-07-21 00:09] #453 closed

[2015-07-21 00:51] artem-zinnatullin commented on #453
@krpiotrek please try v1.0.1!

[2015-07-21 07:25] krpiotrek commented on #453
thanks ! :+1:

[2015-07-21 09:00] plastiv commented on #452
return `rx.Single` to clarify API contract? https://github.com/ReactiveX/RxJava/blob/1.x/CHANGES.md#rxsingle

[2015-07-21 09:03] artem-zinnatullin commented on #452
I'd like to use it, but 1 - it's experimental API in RxJava 1.0.13, 2 -
how can we integrate it into PreparedOperation?
21 июля 2015 г. 12:00 PM пользователь "Sergii Pechenizkyi" <
notifications@github.com> написал:

[2015-07-21 14:15] fdorssers commented on #436
I'm also looking forward to seeing how you would implement this using StorIO. For example adding an author class to your current sample and having multiple tweets refer to the same author.

[2015-07-21 15:16] artem-zinnatullin commented on #436
I'd make it like this:

[code]

[2015-07-22 23:07] artem-zinnatullin opened #457 "Remove Query.whereArgs(List<?> whereArgs) from StorIOSQLite"
This was my mistake in the API, I guess, nobody used it because we have nice overload which is used in all other Queries `whereArgs(Object… whereArgs)`.

I think it's okay to remove this API in 1.1.0?

@nikitin-da, anybody?

[2015-07-23 15:50] nikitin-da commented on #457
I agree. But have you decided that it will not break compatibility?

[2015-07-23 15:55] artem-zinnatullin commented on #457
Unfortunately it will break compatibility, but I hope nobody uses it because there is `Object... whereArgs` overload.

Recently OkHttp denied body in PUT and DELETE requests, I didn't see so many issues about one change for a while…

I think it's critical to made this change ASAP while we don't have a lot of users.

[2015-07-23 16:00] nikitin-da commented on #457
Ok. Lets remove it.

[2015-07-23 19:41] nikitin-da commented on #448
Fixed by #451

[2015-07-23 19:42] #448 closed

[2015-07-27 02:01] artem-zinnatullin opened #463 "Don't compute result of Get Operation if subscriber unsubscribed"
Currently we use `OnSubscribeExecuteAsBlocking` class that executes `PreparedOperation` anyway and then notifies Subscriber about result if it's not unsubscribed at this time.

It's okay for `Put` and `Delete` Operations because they should happen even if subscriber already unsubscribed, but we can skip it for `Get` Operation to prevent uneeded computations.

[2015-07-27 08:30] artem-zinnatullin opened #464 "100% code coverage for all modules"
Because we can.

[2015-07-27 12:21] artem-zinnatullin commented on #441
Closed by #451.

[2015-07-27 12:21] #441 closed

[2015-07-27 12:44] artem-zinnatullin commented on #457
Reopening, this is incompatible API change, so we need to move this issue to v2.0.0

PR with revert — #468

[2015-07-27 17:24] dmytrodanylyk commented on #129
What exactly lazy data list will be? List of empty objects, calling `get(i)` method will return parsed object?

[2015-07-27 22:13] artem-zinnatullin commented on #129
@dmytrodanylyk first of all, let me explain what problem we want to solve:

Whether you use `StorIOSQLite` or `StorIOContentResolver` Get Operation will receive update of tables (in case of `SQLiteDatabase`) or `Uri` (in case of `ContentResolver`) and each update will cause re-quering of the data.

Imagine you have list and adapter with `Cursor` or `List<SomeEntity>`. You can write such call to re

[2015-07-28 06:36] dmytrodanylyk commented on #129
@artem-zinnatullin thanks, all is clear now.

FYI: ending of your message is duplicated :)

[2015-07-28 10:33] artem-zinnatullin commented on #129
Great!

Ah, my bad, I just wanted to copy code from the beginning… (Fixed).

@dmytrodanylyk if you will have any questions -> feel free to ask them here or in Twitter: https://twitter.com/artem_zin

[2015-07-28 11:50] dmytrodanylyk opened #471 "Feature request: create / drop table API for Humans"
As I see in sample you are using [string concatenation](https://github.com/pushtorefresh/storio/blob/master/storio-sample-app/src/main/java/com/pushtorefresh/storio/sample/db/DbOpenHelper.java#L19-L25) for create table query. Maybe storio need create / drop table query builder for Humans ? :)

[2015-07-28 13:10] artem-zinnatullin commented on #471
Current position about this: `StorIO` is API for querying (Put, Get, Delete) DB and `ContentResolver`. We don't want to limit our users in creating and managing their databases, tables, constraints, schemas and so on :)

Also, we won't provide SQL generation.

Sorry if it makes you less happy, but we think that good library should do as little work as possible and respect SOLID principles (in part

[2015-07-28 13:17] dmytrodanylyk commented on #471
@artem-zinnatullin ok, fair enough.

[2015-07-28 13:17] #471 closed

[2015-07-30 15:59] tadas-subonis opened #474 "Queries using "WHERE field IN (value1, value2)""
Hi,

Is there a support for such queries or an example of that?

Thanks

[2015-07-30 16:39] artem-zinnatullin commented on #474
Yep, just like in `SQLiteDatabase`:

[code]

[2015-07-30 16:41] tadas-subonis commented on #474
Hmm... In my case a number of arguments (number of entries in a list varies
that I use for IN condition) is a variable so I guess I'll have to stick
with RawQuery :/

On Thu, Jul 30, 2015 at 7:39 PM, Artem Zinnatullin <notifications@github.com

--

Kind Regards,
Tadas Šubonis

[2015-07-30 16:44] artem-zinnatullin commented on #474
Just write func that generates `?,?,?` string and use args :)

[2015-07-30 17:36] artem-zinnatullin commented on #474
@tadas-subonis can we close this issue?

[2015-07-30 18:58] tadas-subonis commented on #474
Well, it would be nice to have more streamlined support for that but I
guess we can close this at the moment :)

Thanks!

On Thu, Jul 30, 2015 at 8:36 PM, Artem Zinnatullin <notifications@github.com

--

Kind Regards,
Tadas Šubonis

[2015-07-30 19:00] artem-zinnatullin commented on #474
Okay, we'll think about it and comment here.

[2015-08-01 05:58] RodrigoQuesadaDev opened #475 "Support for custom field types on generated resolvers"
Hi, first let me tell you that I think this project is absolutely great and you guys rock. Also, I wanted to ask you if there is a possibility for adding custom type converters/mappers for unsupported field types. Like for example, I have the next column definition in one of my objects:

@StorIOSQLiteColumn(name = "myDate") DateTime myDate;

But when trying to compile it I get the next error:

"Un

[2015-08-01 15:26] artem-zinnatullin commented on #475
Hello @RodrigoQuesadaDev! That's nice idea, we have to think about implementation, at the moment I got 2 variants:

1. Add interface for converter and allow to specify class, which makes conversion per field:

[code]

Example implementation for JodaTime's `DateTime`:

[code]

And usage:

[code]

Ah, I have to go, I'll post second variant of implementation later!

[2015-08-01 17:53] RodrigoQuesadaDev commented on #475
Awesome, I had also thought about implementing it like similarly but I think you could also just add an annotation for the converters, like this:

[code]

So that you don't need to specify the converter as part of the @StorIOSQLiteColumn annotation (although you could leave it optional, to work as override?). But anyway, I'm not sure about it because I've never implemented a annotation processor (

[2015-08-02 12:59] nodinosaur opened #476 "onComplete is not called when querying for cursor & observable"

[2015-08-02 13:10] #476 closed

[2015-08-02 17:54] artem-zinnatullin commented on #475
I'm back, your variant is okay, but I guess that you may need to convert field of one type into different formats for different situations, for example you have `Tweet` and `User` and both of them has `DateTime` field which you would like to save as `long` for `Tweet` and as `String` for `User`, so you'll have two converters for one type (`DateTime`) — that's why first variant is to set converter

[2015-08-02 17:55] artem-zinnatullin commented on #476
…okay :)

[2015-08-04 13:18] tadas-subonis opened #478 "Transaction exception -- java.util.ConcurrentModificationException"
Hi,

I am trying to use StorIO in this manner:

[code]

And I get this exception
[code]

[2015-08-04 13:33] artem-zinnatullin commented on #478
I'll prepare fix ASAP, thanks for report!

[2015-08-04 13:35] artem-zinnatullin commented on #478
BTW, you don't need to write `useTransaction(true)` explicitly  because it's `true` by default :)

[2015-08-04 13:38] tadas-subonis commented on #478
Thanks :)

[2015-08-04 14:27] artem-zinnatullin commented on #478
Fixed by #479, sorry it was my stupid mistake in the code :(

It was not even related to concurrency.

[2015-08-04 14:27] #478 closed

[2015-08-04 15:15] artem-zinnatullin commented on #478
@tadas-subonis we've just released StorIO v1.1.1, it should be available in about 10-20 minutes, thanks for report, sorry for bug and have a nice day!

[2015-08-04 15:22] tadas-subonis commented on #478
That was very quick! Thanks!

On Tue, Aug 4, 2015 at 6:15 PM, Artem Zinnatullin <notifications@github.com>
wrote:

--

Kind Regards,
Tadas Šubonis

[2015-08-05 12:07] tadas-subonis opened #481 "Deadlock accessing the database - don't use singleton StorIO in multiple threads"
So after some time I was able to track the issue to these components:

DefaultStoreIOSQLite.java
[code]

and

SQLiteConnectionPool.java with SQLiteDatabase and SQLiteSession
[code]
[code]

The problem is that SQLiteSession takes a connection from SQLiteConnectionPool for the duration of the transaction and keeps it in ThreadLocal variable.

So lets assume we are doing something in Thread1 and star

[2015-08-05 12:24] artem-zinnatullin commented on #481
Good investigation, I tried to make deadlock with different implementations of `DefaultStorIOSQLite` before release 1.0.0 and current impl was LGTM, but your explanation makes sense.

I'll take a look at this tonight and provide solution, probably it will be possible to make it non blocking.

Thanks again!

[2015-08-05 13:06] artem-zinnatullin commented on #481
I remembered why I decided to use synchronization instead of `AtomicInteger` and `newSetFromMap(new ConcurrentHashMap())` for notification about changes: `ConcurrentHashMap` does not guarantee that if Thread1 is currently reading and removing items and Thread2 is adding items — Thread1 "may see, or not see" items that were added by Thread2 and if it will see them, there are no guarantees that when

[2015-08-05 13:21] artem-zinnatullin commented on #481
@tadas-subonis PTAL at #482

[2015-08-05 14:00] artem-zinnatullin commented on #481
Resolved by #482.

[2015-08-05 14:00] #481 closed

[2015-08-05 14:20] artem-zinnatullin commented on #481
1.1.2 should be available in 10-20 minutes!

[2015-08-06 12:29] #450 closed

[2015-08-06 12:30] artem-zinnatullin opened #484 "Use AssertJ for test"
Because it's better than JUnit.

[2015-08-07 14:07] artem-zinnatullin commented on #474
@tadas-subonis PTAL at #485, today I needed `WHERE IN (?,?,?)` too and decided to add it to the `StorIO` :)

[2015-08-07 14:37] #474 closed

[2015-08-07 15:54] artem-zinnatullin commented on #474
@tadas-subonis with `StorIO` 1.2.0 you can use `Queries.placeholders(numberOfPlaceholders)` to generate `?,?,?`.

For example:

[code]

[2015-08-07 17:12] tadas-subonis commented on #474
Nice! Thanks :)

On Fri, Aug 7, 2015 at 6:54 PM, Artem Zinnatullin <notifications@github.com>
wrote:

--

Kind Regards,
Tadas Šubonis

[2015-08-07 19:48] Rainer-Lang opened #487 "How about performance?"
Sample Tweets app isn't really fast on my nexus 5.
The tweets aren't much data. Maybe it's possible to show better performance with more realistic data.

[2015-08-07 19:58] Rainer-Lang commented on #436
Please also lists.
I'm thinking about using StorIO instead of an orm-lib.

[2015-08-08 02:41] artem-zinnatullin commented on #487
There is delay in the sample app, take a look in the code :) Just remove to see how fast is it for real :)

[2015-08-08 02:41] #487 closed

[2015-08-08 05:46] Rainer-Lang commented on #487
Ok. Just a proposal: in the sample app - let the user decide to load with and without delay. The sample app is to show what storio can.... To slow it down - is this someting you really want? ;-)
If storio is fast - show it! :-)

[2015-08-08 17:05] artem-zinnatullin commented on #487
Okay, let's remove the delay :)

[2015-08-08 17:37] artem-zinnatullin opened #488 "Caching for Cursor parsing"
In the generated code for type mapping we can cache results of `cursor.getColumnIndex()` to prevent unnecessary calculations for each row in the cursor.

I am thinking about such solution:

[code]

[2015-08-09 18:05] artem-zinnatullin opened #489 "Write a document about maximization of performance using StorIO"

[2015-08-13 21:03] #484 closed

[2015-08-19 12:20] Rainer-Lang opened #493 "@StorIOSQLiteColumn(...)"
For now this is needed:
[code]

If annotated column name is same as the attribute name, would this be possible (in future):
[code]

[2015-08-19 13:24] artem-zinnatullin commented on #493
Personally, I'd prefer explicit column name, because you may use proguard or other obfuscation which will rename this field and app will crash in runtime.

@nikitin-da your opinion?

[2015-08-19 13:27] Rainer-Lang commented on #493
OK - thanks Artem. I haven't thought about Proguard, but I want to use it in future....
So, for me this issue could be closed.

[2015-08-19 13:28] artem-zinnatullin commented on #493
Great :)

[2015-08-19 13:28] #493 closed

[2015-08-19 15:14] dimsuz commented on #436
@artem-zinnatullin in your example above, what should I put instead of "//get user by name"? For example if User is stored in another table. can I use storIO instance to perform another blocking call here? Is it good to do this inside a Resolver? Or is this the wrong approach and "raw query" + "join" should be used instead?

[2015-08-20 00:26] artem-zinnatullin commented on #436
cc all interested in this issue: take a look at #494, it's my vision of relations with StorIO.

Feel free to ask any questions here.

@dimsuz

Yes, feel free to use StorIO methods to do what you need to do (get other objects and so on, see PR #494), of course you can use raw queries too.

The only thing is that StorIO operations will create useless notification… I think we will eliminate them some

[2015-08-20 05:57] #436 closed

[2015-08-20 16:28] dimsuz commented on #436
@artem-zinnatullin sadly, I cannot reuse storIO object in mapFromCursor and this means that all my relation-based 'get' queries must be rewritten to raw queries with JOIN which kinda defeats the whole purpose of fluent API which Query brings us - and now I need to have all those DAO-like classes again which would hide all those raw queries behind nicer interfaces like `Relations.java` in your exam

[2015-08-20 17:50] artem-zinnatullin commented on #436
@dimsuz why you can not reuse StorIO methods in `mapFromCursor()`? You can make custom `query` but reuse type-mapping :)

[2015-08-20 17:58] dimsuz commented on #436
`mapFromCursor()` doesn't have storIO argument passed in. It gets passed only to other methods of Resolver class (e.g. `performGet`).  So I could reuse it in resolver's `mapFromCursor()` only by overriding `performGet` and saving it as field. But judging from API it is not clear whether it is safe to do so or not. It is passed by argument to limited set of methods contrary to having some `getStore

[2015-08-20 19:16] artem-zinnatullin commented on #436
I'll add more javadoc for operation resolvers. Feel free to use most abstract operation resolvers, we've added default implementations to save users from boilerplate :)

[2015-08-20 21:23] dimsuz commented on #436
So you are saying that the way to do this would be to store reference in resolver field and use it in mapFromCursor?

[2015-08-20 21:32] artem-zinnatullin commented on #436
Nope, it's not a good solution, because potentially you can use same resolver for different `StorIO` instances, so I would not depend on this.

You can extend `GetResolver`, or just pass instances of `GetResolver`s of required classes.

Like this:

[code]

Instead of this:

[code]

StorIO is not one of black magic libs/frameworks, just write your code which uses StorIO as your normal code :)

[2015-08-20 21:36] dimsuz commented on #436
Oh, that's a nice hint, thanks!
Still feeling a little weird about joins requiring raw query (after wow-effect of other StorIO api), but your are right, this would require some black magic to support using fluent API and some tradeoffs would likely need to be made and this is the thing which everyone is struggling with when using ORMs :)

[2015-08-20 21:46] artem-zinnatullin commented on #436
It's just because StorIO is not ORM and will never be it (I hope :))

[2015-08-20 21:51] dimsuz commented on #436
:+1:

[2015-08-24 01:37] donaldlittlepie opened #495 "Nested transactions cause ConcurrentModificationException"
I ran into an issue with nested transactions in a custom PutResolver throwing a ConcurrentModificationException in DefaultStorIOSQLite.notifyAboutPendingChangesIfNotInTransaction. I was trying to ensure one entity was created successfully, so I could store its id in another entity.

[code]

Here's an sample of the PutResolver I created using your example TweetWithUserPutResolver.
[code]

[2015-08-24 02:24] donaldlittlepie commented on #495
You can disregard this. I was using an old version of StorIO (v1.0.0). Sorry about that.

[2015-08-24 02:24] #495 closed

[2015-08-24 08:27] artem-zinnatullin commented on #495
No problems :)

[2015-08-28 09:25] hamen opened #496 "Storing byte[] as BLOB"
Hi all
I'm trying to figure out how to store a `byte[]` as a BLOB.
Right now I get:

[code]

Any tip? Thanks.

[2015-08-28 11:01] artem-zinnatullin commented on #496
Damn, just forgot about blobs (didn't use blobs in sqlite for several years). I'll add it to annotation processor today-tomorrow or if you want to help us a little — you can open a PR, annotation processor is no magic :)

At the moment you can use custom operation resolver.

[2015-08-28 12:06] hamen commented on #496
Yeah.... BLOB... I know... weird requirements.
Anyhow, thank you. I'll look into it.

[2015-08-28 16:23] artem-zinnatullin opened #497 "Add info about supported field types (Annotation Processor)"
http://stackoverflow.com/questions/32259956/what-are-the-various-column-types-you-can-have-in-storio

[2015-08-28 20:39] artem-zinnatullin commented on #496
@hamen JFYI I am working on PR, so you can just sit and relax :)

[2015-08-29 07:22] #496 closed

[2015-08-29 10:57] Rainer-Lang opened #499 "Can't compile anymore with newest commit."

[2015-08-29 12:23] Rainer-Lang commented on #499
Checked-out another commit and compile - all fine.
Rechecked-out latest commit and compile - no error anymore.

-> all is fine => closing issue.

[2015-08-29 12:23] #499 closed

[2015-08-29 13:13] artem-zinnatullin commented on #499
In such situations you can try to do clean build without caches :)

[2015-08-29 13:32] Rainer-Lang commented on #499
OK - thanks Artem.

[2015-08-29 18:16] artem-zinnatullin commented on #496
@hamen just released 1.3.0 with support for `byte[]` via Annotation Processor, should be available in 10-20 minutes!

[2015-08-30 11:07] hamen commented on #496
Awesome! First thing in the morning! :smile:

[2015-08-30 14:19] Rainer-Lang opened #502 "Error:Execution failed for task ':app:packageDebug'. --- Duplicate files copied in APK"
Error:Execution failed for task ':app:packageDebug'.

Duplicate files copied in APK META-INF/services/javax.annotation.processing.Processor

File 1: abc\.gradle\caches\modules-2\files-2.1\com.google.auto.service\auto-service\1.0-rc2\51033a5b8fcf7039159e35b6878f106ccd5fb35f\auto-service-1.0-rc2.jar

File 2: abc\.gradle\caches\modules-2\files-2.1\com.pushtorefresh.storio\sqlite-annotations-processor

[2015-08-30 14:35] artem-zinnatullin commented on #502
I'll close this since it's not the problem of StorIO itself, but a problem of dependencies with same info in META-INF.

@Rainer-Lang thanks for publishing, may be it'll help somebody who will google that!

[2015-08-30 14:35] #502 closed

[2015-08-31 00:08] artem-zinnatullin commented on #497
BTW, there is now an entity in sample app that uses all types of fields supported by SQLite Annotation Processor https://github.com/pushtorefresh/storio/blob/master/storio-sample-app/src/main/java/com/pushtorefresh/storio/sample/db/entities/AllSupportedTypes.java

[2015-09-01 22:04] #497 closed

[2015-09-05 18:57] artem-zinnatullin commented on #352
`when` is keyword in Kotlin and you have to escape it each time to write `Mockito.when()`, also, at the moment Kotlin Plugin for IntelliJ IDEA does not have static import suggestion yet so it's really annoying to write tests…

Closing for now.

[2015-09-05 18:57] #352 closed

[2015-09-07 20:44] artem-zinnatullin opened #505 "Add info about "key" column for StorIOSQLite annotations!"

[2015-09-09 10:44] Rainer-Lang opened #506 "Is InsertOrReplace possible with StorIO?"

[2015-09-09 10:46] Rainer-Lang opened #507 "String as PrimaryKey possible in StorIO?"
Just to be sure... :-)

[2015-09-09 10:49] Rainer-Lang opened #508 "Are here other StorIO users?"
Just to want know if there are other devs using this lib.
Maybe a community could be established to help each other...

[2015-09-09 11:14] nikitin-da commented on #506
Yep, `put` it's `insert` and `update` combination.
[DefaultPutResolver](https://github.com/pushtorefresh/storio/blob/master/storio-sqlite/src/main/java/com/pushtorefresh/storio/sqlite/operations/put/DefaultPutResolver.java) firstly queries appropriate rows and then updates or inserts.

[2015-09-09 11:27] Rainer-Lang commented on #506
Thanks.

[2015-09-09 11:37] artem-zinnatullin commented on #507
If you are talking about StorIOSQLite annotation processor — then the answer is yes :)

StorIO does not force you use only primary key from the SQLite table, you can do any kinds of "logical keys" for Put operation.

[2015-09-09 11:38] Rainer-Lang commented on #507
Thanks - I'm using uuid's.

[2015-09-09 11:39] artem-zinnatullin commented on #506
You may use any SQL things that you want, even `execSQL()`!

@Rainer-Lang we wanted to use GitHub issues only for bugs and feature requests, could you please ask such questions on StackOverflow with `storio` tag? :)

[2015-09-09 11:41] Rainer-Lang commented on #506
Ok. Please excuse me.

[2015-09-09 11:47] artem-zinnatullin commented on #506
Never mind :)

[2015-09-09 11:47] #506 closed

[2015-09-09 19:20] vokilam opened #509 "executeSQL(): crashes when executing no-args query"
Here is the setup:

	db.executeSQL()
	        .withQuery(RawQuery.builder()
	                .query("DROP TABLE IF EXISTS items")
	                .build())
	        .prepare()
	        .executeAsBlocking();

This fails with following exception:

     Caused by: java.lang.IllegalArgumentException: Empty bindArgs
            at android.database.sqlite.SQLiteDatabase.execSQL(SQLiteDatabase.java:1651

[2015-09-09 19:31] artem-zinnatullin commented on #509
I'll take a look asap, sorry for this bug!

[2015-09-09 22:24] artem-zinnatullin commented on #509
@vokilam prepared PR with fix, 1.3.1 will be released asap!

[2015-09-09 22:43] artem-zinnatullin opened #511 "Add option to change or remove default Rx scheduler"
There are few problems with setting `subscribeOn(Schedulers.io())` by default:

* User can not change this behavior.
* If user adds `subscribeOn()` to already configured observable — he just adds unnecessary work to the Rx chain because it'll switch to user thread and then switch to our initial setting — `Schedulers.io()` anyway.
* Some combinations of StorIO Observables may cause deadlocks becaus

[2015-09-10 05:42] #509 closed

[2015-09-10 06:29] vokilam commented on #509
Please, fix [documentation](https://github.com/pushtorefresh/storio/blob/master/docs/StorIOSQLite.md#4-execsql-operation) also.

[2015-09-10 08:58] artem-zinnatullin commented on #509
@vokilam just published v1.3.1 with fix to the Maven Central, should be available in 10-20 minutes!

Thanks for bug report!

[2015-09-10 18:53] vokilam opened #515 "Why doesn't limit() method of query builder accept integer args?"
Although I understand that `LIMIT` clause [may be pretty complex](https://www.sqlite.org/lang_select.html), I think that it would be handy to have overloaded versions `limit(int)` and `limit(int, int)` for vast majority of cases. Are there any implications of doing so?

[2015-09-10 21:38] artem-zinnatullin commented on #515
The main reason why we don't have `limit(n)` is that we don't want to generate any kind of SQL as part of the StorIO, because SQL is not very easy language to parse & validate.

But, I'd agree that `limit(n)` and `limit(n, m)` looks like easy, useful and valid feature!

I think we can add it in the next release, feel free to send PRs or wait until we implement it (we'll comment here if we start ou

[2015-09-10 21:46] nikitin-da commented on #515
I agree, it should be nice feature, I'll implement it.

[2015-09-10 21:48] artem-zinnatullin commented on #515
Cool :) Added to v1.4.0 milestone!

[2015-09-10 22:56] artem-zinnatullin opened #516 "Rename Internal to LowLevel"
`Internal` is a name for something that should not be used by others, but we allow users to use our `StorIOSQLite.Internal` and `StorIOContentResolver.Internal` APIs for Operation resolvers and so on, so I guess, we should rename it to make things clearer.

@nikitin-da and anybody who interested in this, what is your opinion?

[2015-09-10 23:24] nikitin-da commented on #516
I agree. Maybe I'd be afraid to use `internal` with such name.

[2015-09-11 05:31] Rainer-Lang commented on #516
Internal is really a bit strange. :-)

[2015-09-12 14:02] vokilam commented on #457
@artem-zinnatullin, @nikitin-da, before removing `whereArgs(List<?> whereArgs)` consider more complex cases of constructing a query. In example below, additional expressions are appended to where clause based on condition. One would probably implement it like this:

    boolean includeHappyTeenagers = true;
    StringBuilder whereBuilder = new StringBuilder();
    List<Object> argsList = new Array

[2015-09-13 21:28] #515 closed

[2015-09-14 10:34] artem-zinnatullin commented on #457
In general, I agree with you, the only thing that I don't like is keeping both `Object...` and `List` overloads, because it looks suspicious both for the compiler and me.

I'll check what we can do here and probably add it to the `RawQuery` too.

@vokilam, thanks for the input!

[2015-09-15 21:08] artem-zinnatullin commented on #515
@vokilam StorIO 1.4.0 was just released and should be available in 10-20 minutes, hope you'll like it!

[2015-09-15 21:12] artem-zinnatullin opened #519 "All Resolver's methods should receive instance of StorIO"
At the moment, users have to make some hacks to make it work…

[2015-09-16 06:21] vokilam commented on #515
Awesome!

[2015-09-16 21:27] artem-zinnatullin opened #521 "Add insertWithOnConflict() to the StorIOSQLite"
[code]

[2015-09-17 21:29] waynesford opened #523 "onComplete not getting called when a flatMapped inner Observable has completed"
I've taken the example inside TweetsFragment from the sample app and modified it slightly to show what I mean. ```inner.doOnCompleted``` will log successfully, but ```outer.onComplete()``` does not get called:

[code]

[2015-09-17 23:00] artem-zinnatullin commented on #523
Because `Get` operation in StorIO returns infinitive `Obserbable`!

`Observable` from `Get` operation observes changes in the DB/ContentProvider, so it can be used for constantly updates of the lists and other kinds of UI, just like Loaders API!

If you want to get result via Rx once, please use `take(1)` or `first()` :)

@waynesford feel free to ask questions if you have them! BTW we would like t

[2015-09-17 23:06] waynesford commented on #523
thanks @artem-zinnatullin, it's good to know you guys are watching the ```storio``` tag!

[2015-09-17 23:41] artem-zinnatullin commented on #523
I'm closing this issue, feel free to comment if you have something to say :)

[2015-09-17 23:41] #523 closed

[2015-09-21 12:55] arcadoss opened #525 "Question about rxjava and sleeping threads"
Hey!

I have a question about storio and rxjava. I try to display some info about database entries. After several subsequent requests rxjava stops produce responses from db. It ends up with ~70 sleeping threads. Here is the code.

    void collectStats() {
        safeUnsubscribe(statsSubscription);

        ConnectableObservable<Event> obs = db.get()
                .listOfObjects(Event.class)

[2015-09-21 13:29] artem-zinnatullin commented on #525
Wow, such usage of Rx operators :)

At first glance, it looks fine.

I won't be able to debug this until tonight, can you please try to replace the call to StorIO with `Observable.just(fakeListOfEvents)` and check if it works? Probably you just faced some deadlock in the RxJava.

[2015-09-21 15:07] arcadoss commented on #525
I'm still learning rx and sometimes overuse it :)
It looks like problem is rxjava only and doesn't connected with StorIO.

[2015-09-21 15:10] artem-zinnatullin commented on #525
If you're 100% sure that it's not related to StorIO — you can file an issue in RxJava https://github.com/ReactiveX/RxJava :)

Anyway, I'll try to reproduce it tonight and comment

[2015-09-21 16:03] akarnokd commented on #525
Could you mock out the source, perhaps after the createObservable() and see if it still hangs? What are the names of the sleeping threads? Which version of RxJava are you using?

There is a bug with 1.0.14 replay that may crash/hang in some situations. No ETA on 1.0.15 which will contain the bugfix.

[2015-09-21 17:21] arcadoss commented on #525
I find out what caused the problem. It was StorIO v1.2.0 :) After updating to 1.4.0 everything works as expected. With the outdated version the following code wouldn't update UI more than twice.

    void collectStats() {
        if (statsSubscription != null) {
            statsSubscription.unsubscribe();
        }

        Subscription statsSubscription = db.get()
                .listOfObjects(

[2015-09-21 17:21] #525 closed

[2015-09-21 17:26] artem-zinnatullin commented on #525
@arcadoss ah, looks like it was a bug with deadlock that we've fixed in StorIO 1.2.1!

For some reason I was sure that you're using latest StorIO 1.4.0 and forgot to ask you version, my bad, sorry :(

@akarnokd everything is fine on the RxJava side, thanks for your attention :)

[2015-09-21 17:28] artem-zinnatullin commented on #525
@arcadoss if you don't mind, can you please share some feedback: what are your feelings about StorIO? What do you like and what would you like us to improve? :)

[2015-09-21 22:17] dimsuz commented on #525
I wasn't invited, but can I still share? :) Been using it a bit more, so have some things on my mind.

Actually, one thing. StorIO is good at knowing how to fill my types with info from DB. But I find it a bit tedious that I still have to specify table each time I create a query to run. I know that query can be complex and involve several tables, but it would be very convenient if there was some w

[2015-09-21 22:30] artem-zinnatullin commented on #525
Sure!

Got it… But I guess, we can not do it automatically simply because:

* You can store same objects in multiple tables.
* StorIO core has no idea about mapping `YourType` -> `tables`, I guess you use `sqlite-annotations`, but since they are separate module, we can not combine core with this module too much…

Sorry for that :(

But, I think you can do this in user-space:

[code]

And then use

[2015-09-22 01:07] arcadoss commented on #525
@artem-zinnatullin I think it's a great library and i enjoy using it. However I noticed a couple of things that I don't understand.

First of all I didn't find a way to make fields in db model final while keeping automatically generated resolvers. It looks like it is possible to create annotation to specify builders (something similar to lombok).

I noticed that mapFromCursor method in GetResolver

[2015-09-22 07:30] Kistamushken opened #526 "Does StorIO support Unique Key or Compound key?"
This will be really handy. Thanks.

[2015-09-22 11:41] artem-zinnatullin commented on #525
Yep, it's possible to do in the future, probably we will even add support for AutoValue out of the box!

Yeah, it's my personal mistake in the API… Sorry for that :( Here is the issue tracking this change #519.

We want to avoid any kinds of SQL generation in the StorIO because it's not very trivial thing to do and StorIO is not ORM. Feel free to release this generator as a separate library and if

[2015-09-22 11:43] artem-zinnatullin commented on #526
Yes!

StorIO can work with any kind of primary keys via resolvers: you can use any combination of columns as keys :)

[2015-09-22 11:47] Rainer-Lang commented on #525
+1000000000000 for "AutoValue out of the box"-support

[2015-09-22 11:53] artem-zinnatullin commented on #525
Okay :)

[2015-09-22 13:51] dimsuz commented on #525
+1000 for autovalue from me too. I tried to add support to the current AnnotationProcessor, but I failed. Or should I say, temporarily suspended my efforts :) I have never written an AnnotationProcessor so far and got stuck because putting some resolver-related annotations on `@AutoValue`-ed class methods makes those annotations appear in two places: 1) in abstract class holding `@AutoValue` 2) in

[2015-09-22 13:52] dimsuz commented on #525
Perhaps this should be discussed in a separate issue. I'm not sure when I will be able to look again, so not creating it.

[2015-09-22 15:14] Rainer-Lang commented on #79
Would be really nice to have a logging....

[2015-09-22 17:07] Rainer-Lang opened #527 "for db-upgrade"
In SampleApp there is:
```public DbOpenHelper(@NonNull Context context)```

but shouldn't it be:
```public DatabaseHelper(Context context, String dbName, null, int dbVersion)```?

Or should be the db-version-number be provided directly with a constant?
[code]

What's the preferred way with StorIO?

[2015-09-22 18:19] artem-zinnatullin commented on #527
It does not related to StorIO at all :)

Usually we use constructor with just `context` in our projects.

[2015-09-22 18:19] #527 closed

[2015-09-22 18:31] artem-zinnatullin opened #528 "Support for AutoValue in annotation processors"

[2015-09-22 18:32] artem-zinnatullin commented on #525
Created issue for AutoValue #528

[2015-09-23 11:29] dimsuz commented on #525
Another piece of feedback.
`db.get().<...>.createObservable()` creates an observable which will watch for db changes. Oftentimes I use this function only to make asynchronous read without the need to be listening for updates. But because 'listening'-version is default, I need to be cautious and remember to stick `.take(1)` after each read-once-and-be-done `createObservable()`. And as long as you n

[2015-09-23 11:32] arcadoss commented on #525
@dimsuz there is an issue for that feature  #329

[2015-09-23 11:35] dimsuz commented on #525
@arcadoss thanks, subscribed

[2015-09-23 13:10] artem-zinnatullin opened #529 "Add support for rx.Single"

[2015-09-23 13:10] artem-zinnatullin commented on #525
@arcadoss @dimsuz #329 is about retrieving one object instead of `List`, but it will be same reactive as `get().listOfObjects()` (imagine you need to constantly update some view with info from one object).

We are thinking about `Single` support, added issue for that #529!

[2015-09-23 21:47] artem-zinnatullin commented on #507
Closing :)

[2015-09-23 21:47] #507 closed

[2015-09-23 21:49] artem-zinnatullin commented on #488
Not required, just checked `SQLiteCursor` from sdk 23, it has cache.

[2015-09-23 21:49] #488 closed

[2015-09-23 21:50] artem-zinnatullin commented on #526
Closing, feel free to comment!

[2015-09-23 21:50] #526 closed

[2015-09-23 23:02] #521 closed

[2015-09-26 18:08] Rainer-Lang commented on #506
@artem-zinnatullin Is it possible that you add InsertOrReplace to one of the next versions? I really need it.

[2015-09-26 18:13] artem-zinnatullin commented on #506
It will be in 1.5.0! See https://github.com/pushtorefresh/storio/issues/521

сб, 26 Сен 2015, 21:09, Rainer-Lang <notifications@github.com>:

--

@artem_zin

[2015-09-26 18:37] Rainer-Lang commented on #521
Great! :+1:

[2015-09-27 07:34] Rainer-Lang opened #532 "idea/feature request: UpdateQuery + ContentValues"
now:
[code]

I have many different update-statements, so I want to move them (like the query-statements) into to the table-definition class.

What I want or better what will be helpful:
I want to have the whole "update"-statement part (UpdateQuery AND ContentValues") encapsulate in the table-definition class.
My aim is to move all sql-queries to separate files/classes, so my code will be clean and

[2015-09-28 00:07] artem-zinnatullin commented on #532
You can do this like this:

[code]

And then use this methods where required :)

I don't think that we will do this for you in StorIO because it's pretty hard to satisfy requirements of all users of these feature, so we will leave it up to the user code :)

[2015-09-28 00:07] artem-zinnatullin commented on #532
I'm closing it, feel free to comment!

[2015-09-28 00:07] #532 closed

[2015-10-01 00:13] artem-zinnatullin commented on #44
Done!

[2015-10-01 00:13] #44 closed

[2015-10-01 00:27] artem-zinnatullin commented on #521
@Rainer-Lang just released 1.5.0 with this feature! Should be available in 10-20 minutes

[2015-10-02 13:05] Rainer-Lang opened #536 "com.pushtorefresh.storio.StorIOException: java.lang.IllegalStateException: Object does not have type mapping"
I get this error:
[code]

[2015-10-02 13:08] Rainer-Lang commented on #536
Found it.

[2015-10-02 13:08] #536 closed

[2015-10-02 13:09] artem-zinnatullin commented on #536
Just wrote long comment and then saw "Found it" :)

What was the problem?

[2015-10-02 13:11] Rainer-Lang commented on #536
I have a test-base-class and there is a separate mapping only for tests - but I looked and also inserted the new mappings in my production environment.
Sorry about this, Artem.

[2015-10-02 13:34] artem-zinnatullin commented on #536
Ah, cool, no problems!

[2015-10-03 20:38] mipreamble commented on #457
@artem-zinnatullin

where should append to the previous selection rather than replacing the existing clause

public Builder where(String selection, String... selectionArgs) {
        if (TextUtils.isEmpty(selection)) {
            if (selectionArgs != null && selectionArgs.length > 0) {
                throw new IllegalArgumentException(
                        "Valid selection required when inclu

[2015-10-04 01:19] artem-zinnatullin opened #537 "Add toBuilder() for all Queries!"

[2015-10-04 01:30] artem-zinnatullin commented on #457
We've discussed this with @nikitin-da and decided to keep current behavior. The main reason for this is that it will be non-intuitive for the users of the library, because all other methods of the Query builder won't do this, for example: `sortOrder()`, `limit()` and  so on. Also, it'll require kind of understanding of the SQL inside of StorIO (you're adding ` AND ` between two `where()`) which we

[2015-10-04 11:13] mipreamble commented on #457
@artem-zinnatullin

1. I understand. I wrote a little wrapper around for myself for all my entities. Sample below.
Makes it easier for me to create Queries and pass them.

[code]

2. Cool.

[2015-10-04 15:32] artem-zinnatullin commented on #457
1. Nice!
2. We'll try to ship it :ship: soon!

[2015-10-10 22:18] artem-zinnatullin commented on #427
Related to #489.

[2015-10-10 22:21] artem-zinnatullin commented on #373
Not needed, since we are throwing `NullPointerException` message `Please specify ...` looks obvious.

[2015-10-10 22:21] #373 closed

[2015-10-10 22:23] artem-zinnatullin commented on #317
Closing for now, anybody interested in this — feel free to comment.

[2015-10-10 22:23] #317 closed

[2015-10-10 22:29] artem-zinnatullin commented on #156
Closing for now.

[2015-10-10 22:29] #156 closed

[2015-10-10 22:30] artem-zinnatullin commented on #151
Closed by #520.

[2015-10-10 22:30] #151 closed

[2015-10-10 22:36] artem-zinnatullin commented on #105
Licence is in the repository.

[2015-10-10 22:36] #105 closed

[2015-10-12 17:50] Rainer-Lang commented on #329
Would be nice to have this. I really need it.

[2015-10-12 17:52] Rainer-Lang commented on #519
+1

[2015-10-13 16:46] Rainer-Lang opened #540 ""orderby XYZ collate nocase" possible?"

[2015-10-13 17:00] artem-zinnatullin commented on #540
Should work! StorIO does nothing special with values passed to `Query`, it just redirects them to `SQLiteDatabase.query()` so if `SQLiteDatabase.query()` can handle this — StorIO will do this too!

So, I'd suggest to try and and comment here about results! (I won't be able to do this next 5-6 hours)

[2015-10-15 12:26] artem-zinnatullin opened #541 "Stetho plugin!"
Would be nice to see requests as loading resources (spent time, request, response)

[2015-10-15 12:33] artem-zinnatullin opened #542 "Interceptors API"
Yes, Interceptors!

Why?
- Logging via interceptors
- Stetho integration via interceptor
- Request behavior changes via interceptor

[2015-10-15 12:35] artem-zinnatullin commented on #541
See #542.

[2015-10-15 12:59] kboyarshinov commented on #169
I finally finished working on update my realm rxjava example to latest Realm version. Fixed threading issues, added multiple subscribers support etc. Probably [`OnSubscribeRealm`](https://github.com/kboyarshinov/realm-rxjava-example/blob/master/app/src/main/java/com/kboyarshinov/realmrxjavaexample/rx/OnSubscribeRealm.java) class can be used as reference to add Realm support to StorIO.

[2015-10-15 16:50] artem-zinnatullin commented on #169
@kboyarshinov I'll check this tonight!

[2015-10-15 22:20] #537 closed

[2015-10-15 22:22] artem-zinnatullin commented on #79
#542!

[2015-10-16 00:25] artem-zinnatullin commented on #540
@Rainer-Lang I am closing this, since it's not related to StorIO.

Feel free to comment!

[2015-10-16 00:25] #540 closed

[2015-10-16 05:29] #446 closed

[2015-10-16 13:16] dadino commented on #169
How would this work? Realm as database and StorIO as Rx interface to access that database?

[2015-10-16 13:19] artem-zinnatullin commented on #169
@dadino yes! With all StorIO design principles and features. StorIO is conception with implementations for `SQLiteDatabase` and `ContentResolver`, actually, we're also thinking about JDBC implementation (we need it for our backends).

[2015-10-16 13:20] artem-zinnatullin commented on #169
@kboyarshinov I've checked your `OnSubscribeRealm` tonight, it's interesting, though I see few ways to improve it. I think we can discuss StorIORealm this weekends and start work :)

[2015-10-17 02:14] kboyarshinov commented on #169
@artem-zinnatullin Cool! I'm in.

[2015-10-17 21:43] deviant-studio commented on #475
any news on this issue? it is really blocker

[2015-10-17 21:47] artem-zinnatullin commented on #475
@deviant-studio not yet, if it blocks you — you always can implement resolvers yourself, StorIO gives you such flexibility. This issue is hard to do correctly, I have some variants of implementation, but I guess it'll require some time.

Moving this to 1.7.0 release.

[2015-10-17 21:51] deviant-studio commented on #475
ok. thanks

[2015-10-18 15:19] Rainer-Lang commented on #540
Only for completeness:
```Query.builder().table(TABLE).orderBy(COL_NAME + " COLLATE NOCASE ").build();```
...works for me.

[2015-10-18 21:07] #284 closed

[2015-10-19 13:52] artem-zinnatullin commented on #540
:+1: (btw, I think space after `NOCASE` is not needed)

[2015-10-21 07:57] dadino commented on #169
[Changelog for 0.84](https://github.com/realm/realm-java/blob/master/changelog.txt) reports `Added support for async queries and transactions.`
Could this change the approach @kboyarshinov is using?

[2015-10-21 14:22] kboyarshinov commented on #169
@dadino It won't change it. They've added ability to execute quieries async in their own scheduler and queue. Sync methods are the same. These changes won't affect my current implementation.

[2015-10-23 12:34] artem-zinnatullin commented on #169
https://github.com/realm/realm-java/pull/1651

[2015-10-28 04:44] artem-zinnatullin opened #546 "PutResult and DeleteResult should allow 0 updated tables"
Case: operation hadn't affected the state of db -> no notifications should be thrown.

[2015-10-29 12:38] artem-zinnatullin commented on #475
Another solution: store custom field as one of [supported types](https://github.com/pushtorefresh/storio/blob/master/storio-sample-app/src/main/java/com/pushtorefresh/storio/sample/db/entities/AllSupportedTypes.java) and provide public getter/etc with custom type!

Example:

[code]

[2015-10-30 14:44] cody1024d opened #547 "Bulk inserts across tables and control of transactions"
Hey guys,

I've used your library in personal apps, and I'm trying to make a push for it at my 9-to-5.  I have a few questions on a use-case that we have here, and I'm unsure if Storio can cover it.

Essentially we have a LARGE json payload that gets synced at initial login (we're talking a potential of 50k+ objects).  Because of this, we will be streaming the objects through a JSON parser, so tha

[2015-10-30 15:39] artem-zinnatullin commented on #547
In StorIO v1 it's possible with `executeAsBlocking()`!

[code]

And of course StorIO will not send any notifications about changes in the db until transaction is not closed!

In StorIO v2 we will make it possible with Rx too.
(StorIO v1 sets `subscribeOn()` for `rx.Observable`, so it's not possible to work with db from other threads)

[2015-10-30 17:14] cody1024d commented on #547
I should have investigated the internal APIs a bit more before I posted an issue.  Thank you for the quick response!

That should definitely work for us, as we're not going to be leveraging the RX functionality yet

[2015-10-30 17:39] #547 closed

[2015-10-30 17:46] artem-zinnatullin commented on #547
@cody1024d JFYI `internal` is misleading name, it's actually `lowlevel` (we'll rename it in v2), so don't worry about using API with such name (it's documented and part of public api), just read javadoc carefully and you're good to go!

[2015-10-30 19:10] cody1024d commented on #547
Thanks @artem-zinnatullin.  Out of curiosity, I should be able to start and end a transaction through the native SQLiteOpenHelper, instead of routing it through StorIO, correct?

[2015-10-30 19:28] artem-zinnatullin commented on #547
You can do it, but StorIO won't know about such transaction, though
SQLiteDatabase won't allow us break its state anyway :)

If you're ok with doing it via StorIO API I strongly recommend to do it via
StorIO, especially because of upcoming features like Interceptors API!

On Fri, Oct 30, 2015, 22:10 Cody Duncan <notifications@github.com> wrote:

--

@artem_zin

[2015-10-30 19:45] cody1024d commented on #547
Makes sense.  I'll have to adjust my architecture accordingly.  Thanks again!

[2015-11-06 12:21] artem-zinnatullin opened #549 "StorIOContentResolver does not observe changes of uris on API < 16"
We're using only [`onChange(boolean, Uri)`](http://developer.android.com/intl/ru/reference/android/database/ContentObserver.html#onChange(boolean,%20android.net.Uri)) which was added in the API 16, so on devices with API < 16 we're skipping all notifications…

Solution — override also [`onChange(boolean)`](http://developer.android.com/intl/ru/reference/android/database/ContentObserver.html#onChang

[2015-11-06 21:12] artem-zinnatullin commented on #549
Fixed by #550.

[2015-11-06 21:12] #549 closed

[2015-11-08 22:57] nikitin-da opened #554 "Use `not-null` in javadocs to make it independent on the jetbrains and support annotations"

[2015-11-08 23:24] #443 closed

[2015-11-08 23:40] nikitin-da opened #556 "Create module `:storio-common-annotations-processor` with common annotations processor logic"

[2015-11-08 23:41] artem-zinnatullin commented on #554
Closing?

[2015-11-08 23:42] nikitin-da commented on #554
Yes, `non-null` - it's ok for me. And there are no `not-null` usage in docs.

[2015-11-08 23:43] #554 closed

[2015-11-10 23:10] nikitin-da opened #557 "Annotations processors: add ability to set different tables/uris for insert, update and delete"

[2015-11-12 23:28] faifai21 opened #559 "Backpressure problem with table observers"
Hey guys,

I'm using RxJava to observe table changes. I've seen this exception when I'm making lots of inserts/updates in really quick succession.

[code]

Initially I was inserting a large amount of items (4k~) or so individually in rapid succession. This error was a lot more common back then. I then started batching inserts in batches of 25, and this error became a lot less common. I still see i

[2015-11-12 23:59] artem-zinnatullin commented on #559
Hello, @faifai21!

The problem here is if we start handling backpressure on our side we have only two choices (in general):

1. Drop events — may lead to inconsistency of the client app since it may not receive some notification.
2. Buffer and group notifications — we can do it, and it looks better than dropping events, but, but it may lead to delays in the StorIO notifications system and if you'l

[2015-11-13 00:37] faifai21 commented on #559
Hi @artem-zinnatullin!

Thanks for the quick response! It isn't critical. No releases this Friday haha! I think i'll just increase the batch size to 40 or so (I'll play around with the value and see what works best) and that will probably solve the problem. The other thing that I noticed is that once I get this exception, I actually stop getting anymore notifications to changes to the table. Is th

[2015-11-13 00:59] artem-zinnatullin commented on #559
Whoa, by default unhandled exception should crash the app, strange that it works after this.

As said — it should crash the app, but looks like you're setting `onError` handler so `RxChangesBus` just freezes in `onError` state. Currently we don't expose api to reset `RxChangesBus` and if we add backpressure support — we won't need it.

At the moment you can provide your own implementation of notif

[2015-11-13 01:03] faifai21 commented on #559
Yep, I've got `onError` catching that exception somewhere along our pipeline, so that's preventing the app from crashing. And yea, you're right, with backpressure, we shouldn't need to reset the changes bus.

Out of curiosity, where would I add my own implementation of the notifications system?

[2015-11-13 01:07] artem-zinnatullin commented on #559
You can create own version of `StorIOSQLite` and implement it as you wish (probably even reuse some parts of `DefaultStorIOSQLite`).

But, I recommend just wait for 1.7.0 :smile:

[2015-11-13 01:09] #556 closed

[2015-11-13 01:27] faifai21 commented on #559
Yep, will do! I have too many things in my queue right now to worry about implementing a completely new notification system haha!

[2015-11-13 09:03] akarnokd commented on #559
Disclaimer: I'm not familiar with StorIO and its API.

What I'd do, on the API level is to ask the user for an Observable instead of values:

[code]

and return a completion observable for it. This shifts the backpressure responsibility to the caller who now can apply `onBackpressureXXX` knowingly or simply provide something that naturally supports backpressure like `from(Iterable)`.

`Backpressur

[2015-11-17 17:43] geralt-encore commented on #329
@artem-zinnatullin Hey! I have done this feature for the executeAsBlocking case, but not for createObservable yet, because of a lack of experience with RxJava on that level. So should I make a PR? And if yes what base branch should I choose?
It is my first serious contribution to open source and I am very excited about it =), so sorry for my newbie questions.

[2015-11-18 05:29] artem-zinnatullin commented on #169
https://github.com/mulab/rx-realm

[2015-11-18 15:51] kboyarshinov commented on #169
@artem-zinnatullin interesting, but I'll stick to wait for native support of RxJava in Realm because all solutions including mine do not fit completely with Realm. Probably we should wait for it too in order to support Realm in StorIO properly.

[2015-11-19 06:05] artem-zinnatullin commented on #169
okay, that's fine for me :)

ср, 18 нояб. 2015 г. в 18:51, Kirill Boyarshinov <notifications@github.com>:

--

@artem_zin

[2015-11-20 04:49] artem-zinnatullin commented on #559
If we do so users will have to deal with backpressure each time they want to write/read something to/from the db, which will make code more complicated than it should be.

I hope I'll be able to implement backpressure with buffering without `OutOfMemoryError`, because we send only `table` name and usually db does not have many tables so if buffering will be done correctly will just merge `table` n

[2015-11-21 22:15] oneassasin opened #564 "Multiple parameters in the method orderBy when creating queries"
Please, add, becouse options for sorting can be many.

[2015-11-21 22:58] artem-zinnatullin commented on #564
You can specify multiple columns divided by `,` in `orderBy` clause. We've followed same semantic as `SQLiteDatabase.query()`.

Example:

[code]

[2015-11-21 22:58] #564 closed

[2015-11-21 23:57] oneassasin commented on #564
[code]
StorIOSQLite 1.6.1

[2015-11-21 23:59] artem-zinnatullin commented on #564
Yep, this `orderBy` string can contain multiple columns divided by comma `,` :smile:

[2015-11-22 00:09] oneassasin commented on #564
Ooops. I do not write what he wanted. :smile:
Why do I generate this line, if you can do it within the library :question:

[2015-11-22 04:20] artem-zinnatullin commented on #564
Simply because we don't want to do any kind of SQL parsing/processing/generating in the StorIO, it's not an ORM, it's a DAO. The same is applicable to `Query.where()` and `Query.limit()`.

[2015-11-23 12:33] pskink opened #566 "performance enhancement"
i have been using storio from yesterday and i don't fully understand why `DefaultPutResolver#performPut` uses a `Cursor` to find out whether to call insert or update which degrades the performance a bit, why not internally use `storIOSQLite.internal().insertWithOnConflict()` with `android.database.sqlite.SQLiteDatabase#CONFLICT_REPLACE` conflictAlgorithm? that way `mapToInsertQuery` and `mapToUpda

[2015-11-23 14:51] #566 closed

[2015-11-23 15:00] artem-zinnatullin commented on #566
Simply because logical check on our side gives more predictable result,
especially if you have multiple logical keys which is possible.

Feel free to change implementation to insertWithOnConflict!

On Mon, Nov 23, 2015, 17:51 pskink <notifications@github.com> wrote:

--

@artem_zin

[2015-11-26 13:20] TheRishka commented on #508
I'm using it in my new app:) Quite poor sample app without more complicated examples, therefore it takes some time to put it in real production. But Rx usage is awesome :+1:

[2015-11-26 13:28] Rainer-Lang commented on #508
Do you have this case:
Do first someting (delete,...) in db and then insert some data?

[2015-12-04 17:37] Rainer-Lang opened #567 "Also for SQLite: Option to get one object for executeAsBlocking for ContentResolver?"
Is this planned for SQLite (not ContentResolver)?

[2015-12-04 17:40] artem-zinnatullin commented on #567
Already merged another PR for SQLite!

On Fri, Dec 4, 2015, 20:37 Rainer-Lang <notifications@github.com> wrote:

--

@artem_zin

[2015-12-04 18:22] Rainer-Lang commented on #567
Thanks + closing

[2015-12-04 18:26] artem-zinnatullin commented on #567
JFYI we didn't ship new version yet, so I'll close it when we'll ship new StorIO!

[2015-12-04 21:58] geralt-encore commented on #329
Hi, Artem!
I have started to implement Rx part and faced with some difficulties because a lack of experience with it, so I need your advice. I tried to deal with it in that way:

    storIOSQLite.observeChangesInTables(tables)
                    .map(MapSomethingToExecuteAsBlocking.newInstance(this))
                    .startWith(Observable.create(OnSubscribeExecuteAsBlocking.newInstance(this)))

[2015-12-04 22:54] artem-zinnatullin commented on #329
@geralt-encore cool!

So, you should not `filter()` the emission in this case because you're just skipping `nulls` now and it's incorrect behavior. Also, `first()` will emit only one result and then `Observable` will be completed.

Looks like you understand Russian :smile:, so you can try to watch my talk about Rx and it'll hopefully help you understand Rx better https://events.yandex.ru/lib/talks

[2015-12-05 10:57] geralt-encore commented on #329
@artem-zinnatullin I am not sure that I explained my question well. I was talking about the implementation of `executeAsBlocking` in `PreparedGetObject`. I am using `first` because I need take only one object. And I need to use `filter` because `executeAsBlocking` can return `null` in the case when there is no object that satisfies query was found. Is it approach completely wrong?

[2015-12-05 17:25] artem-zinnatullin commented on #329
`first` (same as `take(1)`) will take one result of emission but then we won't receive updates on table changes.

`null` is valid result for `executeAsBlocking()`, so it should be the same for `rx` approach :)

[2015-12-05 18:52] geralt-encore commented on #329
Oh, now I understand the problem with `first`. So are you sure about emitting `null` and leaving to end users to handle that case?

[2015-12-06 02:27] artem-zinnatullin commented on #329
But we already do this for `executeAsBlocking`, Rx support should provide same results.

[2015-12-13 12:05] mfarid opened #571 "Unit Tests for improved test coverage"
Will it be helpful if I write some unit tests for certain modules to improve overall tested code coverage.

[2015-12-13 21:44] artem-zinnatullin commented on #571
@mfarid sure! You can start with small PR and few tests!

[2015-12-14 04:33] mfarid commented on #571
@artem-zinnatullin Thanks a lot for quick response, I will start with a small PR with few tests, just as you suggested.

[2015-12-14 04:34] artem-zinnatullin commented on #571
@mfarid great! Just curious with what class do you want to start? :smile:

[2015-12-14 04:49] mfarid commented on #571
@artem-zinnatullin I have not identified any specific class as of now, if you would like me to target something specific, please let me know. Otherwise, once I start with some tests I will update this ticket with the same.

[2015-12-14 04:53] artem-zinnatullin commented on #571
I have a solution! We have tests coverage which seems to be broken for last
month because flucking Gradle things, let me fix test coverage measurement
and then we'll see what classes need more tests, okay?

On Mon, Dec 14, 2015, 07:49 Mohd Farid <notifications@github.com> wrote:

--

@artem_zin

[2015-12-14 04:55] mfarid commented on #571
Sounds great, thanks.

[2015-12-14 08:55] geralt-encore commented on #329
@artem-zinnatullin Looks like this issue can be closed =)

[2015-12-14 09:19] artem-zinnatullin commented on #329
@geralt-encore yay! Thanks a lot!

[2015-12-14 09:19] #329 closed

[2015-12-14 09:20] artem-zinnatullin commented on #329
It was pleasure to merge your PRs! Hope @nikitin-da thinks so too :smile:

[2015-12-14 09:24] geralt-encore commented on #329
Thanks! I've learned a lot from you guys and looking forward to continuing to contribute into StorIO

[2015-12-14 09:28] #559 closed

[2015-12-14 09:43] geralt-encore commented on #529
@artem-zinnatullin сan you provide a little bit more info about this feature?

[2015-12-14 09:56] artem-zinnatullin commented on #529
Basically it's a kind of `Observable` (actually it's a separate class) but it emits result once, useful for getting result once via Rx and not care about updates.

You can get same result via `observable.first()`.

[2015-12-14 10:43] nikitin-da commented on #329
Definitely! Thank you, Ilya!

[2015-12-17 11:53] artem-zinnatullin commented on #169
https://github.com/realm/realm-java/pull/1710

[2015-12-17 15:16] kboyarshinov commented on #169
@artem-zinnatullin finally :smile:

[2015-12-17 17:13] geralt-encore commented on #529
@artem-zinnatullin I've started digging into `Single` implementation and just want to hear your opinion about it. This is how I've partially implemented it:

1. Added `createSingle` to `PreparedOperation' interface
2. Created `OnSubscribeExecuteAsBlockingSingle' ([gist] (https://gist.github.com/geralt-encore/57a12f193cb4748af98d))
3. Implemented `createSingle` for `PreparedGetListOfObjects`, for i

[2015-12-17 17:36] artem-zinnatullin commented on #169
So, let's close this for now.

[2015-12-17 17:36] #169 closed

[2015-12-17 18:34] artem-zinnatullin commented on #529
Yup, looks good!

Can you please name it `asRxSingle()` instead of `createSingle` because `Single` is very generic word and may mislead somebody. I think we'll deprecate `createObservable` and rename it to `asRxObservable()` in same release.

Looking forward to see PR!

[2015-12-17 18:42] geralt-encore commented on #529
Sure. And one more question. Should I unsubscribe from `Single`?

[2015-12-17 18:46] artem-zinnatullin commented on #529
No :)

[2015-12-17 19:14] geralt-encore commented on #529
Damn, I knew it :(

[2015-12-22 20:13] #557 closed

[2015-12-22 20:14] artem-zinnatullin commented on #546
Fixed by #560!

[2015-12-22 20:14] #546 closed

[2015-12-22 20:15] artem-zinnatullin commented on #529
@geralt-encore moved to v1.8.0! We'll review your PR soon and I hope v1.8.0 will be released soon after 1.7.0

Everybody: I'm checking if everything is okay with 1.7.0 and will try to prepare release in a few hours.

[2015-12-23 12:14] artem-zinnatullin commented on #571
@mfarid yay! You can now pull the repository and run `ci.sh` and then find Jacoco reports about test coverage in `module/build/reports/` for each module!

[2015-12-23 12:32] mfarid commented on #571
Thanks @artem-zinnatullin I appreciate it.
Ii will start with a small module and send out a PR to you soon.

[2015-12-23 13:19] artem-zinnatullin commented on #571
Great, thanks @mfarid! You can start even with one or two tests so code review will be fast :)

[2015-12-30 12:06] wpbloger opened #578 "How to store a single entity in the two tables?"
Hello.
I have tried different libraries to work with a sqlite, but there is not the flexibility that I need.
Specifically I need to store a single entity in the two tables for a particular data cache.
How can you do it correctly by a storio?
------------------------------------------------------------------------------------------------------------------
Здравствуйте.
Я уже пробовал разные библиот

[2015-12-31 11:54] nikitin-da commented on #578
Hi, @wpbloger !
If you really need it, you can construct custom [`put`](https://github.com/pushtorefresh/storio/blob/master/storio-sqlite/src/main/java/com/pushtorefresh/storio/sqlite/operations/put/PreparedPut.java), [`get`](https://github.com/pushtorefresh/storio/blob/master/storio-sqlite/src/main/java/com/pushtorefresh/storio/sqlite/operations/get/GetResolver.java) and [`delete`](https://github

[2016-01-01 15:18] #578 closed

[2016-01-01 23:25] artem-zinnatullin commented on #578
@nikitin-da gave right solution, the only recommendation from me — wrap each operation into transaction for data consistency, i.e.:

[code]

[2016-01-05 16:04] gbero commented on #457
Correct me if I'm wrong but doing :

selection.append(where).append(" = ").append(whereArg);

will prevent indexes from being used no ?

[2016-01-11 12:54] xdmaolei opened #581 "Add ability to dynamically change uri or update condition for put() method"
when I call StorIOContentResolver.put(), it's hard to change uri or update condition(where, whereArgs), usually I need to implement different putresolvers and hardcode them

[2016-01-11 17:10] BraunreutherA commented on #366
Hey there,

it seams that its still possible to get null as result:

[code]

Am I doing something wrong or why is it null?

[2016-01-11 23:27] nikitin-da commented on #366
Hi @BraunreutherA
This issue relates just to raw sql query. I think, `null` is the most expected when we request nonexistent object (`executeAsBlocking` [for this case](https://github.com/pushtorefresh/storio/blob/master/storio-sqlite/src/main/java/com/pushtorefresh/storio/sqlite/operations/get/PreparedGetObject.java) is still `nullable`).
@artem-zinnatullin to make it fairly, should we mark base

[2016-01-12 03:08] coofee commented on #581
Why put method cannot use query like get? just like below code. It's a design or has other reason.

[code]

[2016-01-12 08:03] artem-zinnatullin commented on #366
Well… Yes, let's do it.

@BraunreutherA it's expected behavior since object with required query params may not exist in the db, for example `get().listOfObjects()` will return empty list in such case.

[2016-01-12 10:17] BraunreutherA commented on #366
Okay, that makes sense. I was confused cause it was marked as a non-null method. Thanks for the explanation!

[2016-01-12 11:55] artem-zinnatullin commented on #366
@BraunreutherA yeah, sorry, my bad!

Hope you're enjoying the library :)

[2016-01-12 19:54] geralt-encore commented on #529
@artem-zinnatullin this one could be closed now I guess

[2016-01-12 19:59] artem-zinnatullin commented on #529
Yay!

[2016-01-12 19:59] #529 closed

[2016-01-12 20:00] artem-zinnatullin commented on #452
@plastiv, @geralt-encore has implemented `rx.Single` support, we'll release it as part of StorIO 1.8.0!

[2016-01-12 20:00] #452 closed

[2016-01-12 20:05] artem-zinnatullin commented on #508
I'll close this, JFYI you can ask a question on StackOverflow with `StorIO` tag and will answer it :)

[2016-01-12 20:05] #508 closed

[2016-01-12 20:06] artem-zinnatullin opened #582 "Remove `createObservable()` and replace it with `asRxObservable()`"

[2016-01-12 20:11] BraunreutherA opened #583 "Date Annotation"
In the Annotation Processor Dates are not supported. What's the intended way to get date and time into the db?

Best,
Alex

[2016-01-12 20:17] artem-zinnatullin commented on #583
This will be a part of #475!

JFYI: annotation processor is totally optional and you can always write custom Put, Get and Delete Resolvers with needed behavior, you can mix generated and manual code if you wish!

So, at the moment I'll recommend write custom Get and Put resolver or store the field as `long` milliseconds.

[2016-01-12 20:18] artem-zinnatullin commented on #583
If you don't mind, I'll close this issue in favor of #475. Feel free to comment here or (better) there #475!

[2016-01-12 20:18] #583 closed

[2016-01-13 15:02] artem-zinnatullin opened #587 "Add query to the exception"
It will improve exception readablity and user will immediatelly see the problem

[2016-01-13 16:05] geralt-encore commented on #528
@artem-zinnatullin can you elaborate more on this one? I know what AutoValue is and I am genuinely interesting in annotation processing because I have never done it before. So it could be pretty interesting for me to implement.

[2016-01-13 17:10] artem-zinnatullin commented on #528
@geralt-encore great!

So, basically StorIO has simple annotation processors (for StorIOSQLite and StorIOContentResolver) that user can use to genereate boilerplate code for Put, Get and Delete resolvers.

But at the moment our annotation processors don't support classes with Builders or static factory methods -> they don't support AutoValue.

I'd suggest you just play with sources of our annotati

[2016-01-13 17:17] artem-zinnatullin commented on #528
We can start with support for static factory methods, then think about Builders support!

[2016-01-13 17:31] geralt-encore commented on #528
Ok, thanks for an introduction. I will start digging into it soon. If I would have any questions - I'll post them here.

[2016-01-13 19:03] artem-zinnatullin commented on #528
Sure! Annotation processing is actually interesting part of JDK!

[2016-01-17 00:27] nikitin-da opened #591 "Find type mapping among interfaces recursively"

[2016-01-17 21:39] #587 closed

[2016-01-18 09:16] xdmaolei opened #595 "Better support for fields nullability by Annotation Processors"
public ContentValues mapToContentValues(@NonNull ReplyBean object) {
        ContentValues contentValues = new ContentValues(2);

        if(object.content != null){
            contentValues.put("content", object.content);
        }
        if(object.key!= null){
            contentValues.put("key", object.key);
        }

        return contentValues;
    }

First I appreciate your work, I think

[2016-01-18 11:53] artem-zinnatullin commented on #595
Well, columns may be null in SQLite. But we may add support for Nullability annotations in our annotation processor, will it be ok for you?

[2016-01-18 20:44] artem-zinnatullin commented on #475
I'm moving this to v1.9.0, and finally I think I understand how to implement this correctly

[2016-01-18 22:59] artem-zinnatullin commented on #457
Should work okay, indexes will be applied after all placeholders will be processed and changed with real values.

[2016-01-19 03:12] xdmaolei commented on #595
Thanks, it'll be OK

[2016-01-20 09:44] geralt-encore commented on #567
@Rainer-Lang as I remember this one has already merged

[2016-01-20 09:47] artem-zinnatullin commented on #567
Oh, yep was released in v1.7.0!

And we use it pretty heavily :)

[2016-01-20 09:47] #567 closed

[2016-01-22 13:14] geralt-encore commented on #528
@artem-zinnatullin I have a question regarding support of static factory methods. Should we annotate abstract methods representing fields of an object or just factory method and parse its parameters? Or maybe we should annotate both to be sure about how we are creating object because empty package-local constructor doesn't work in this situation? I wanna your approval before starting actual coding

[2016-01-22 22:23] lectricas opened #600 "Can you add an apk file for sample app?"
Hi. Is that possible to have an apk file? Compiling is a long process and I want to see whether the sample  source fits my needs without reading - someone can say -  tl;dr.
Thanks.

[2016-01-22 22:41] lectricas commented on #600
Sorry, but there is no need to do that anymore. Your lib is great!

[2016-01-22 23:25] artem-zinnatullin commented on #600
Sure, we'll add it this holidays!

On Sat, 23 Jan 2016, 01:41 lectricas <notifications@github.com> wrote:

--

@artem_zin

[2016-01-23 17:47] artem-zinnatullin commented on #600
@lectricas for future: please don't completely change title of the issue next time, because my comment became completely invalid :dancers:

[2016-01-24 01:08] artem-zinnatullin commented on #528
We should annotate both, take a look on Jackson `@JsonProperty` and `@JsonCreator` usage semantic (not implementation)

[2016-01-24 10:35] artem-zinnatullin opened #602 "Mention in the docs that Query is simply wrapper for SQLiteDatabase/ContentResolver query() params"

[2016-01-24 13:43] inorichi opened #603 "Incorrect mapping from JOINs when there are columns with the same name"
Using [this get resolver](https://github.com/pushtorefresh/storio/blob/master/storio-sample-app/src/main/java/com/pushtorefresh/storio/sample/db/resolvers/TweetWithUserGetResolver.java) with [this query](https://github.com/pushtorefresh/storio/blob/master/storio-sample-app/src/main/java/com/pushtorefresh/storio/sample/sample_code/Relations.java) would map the tweet id as the user id because `Tweet

[2016-01-24 15:25] inorichi commented on #582
Suggestion: rename also `executeAsBlocking` to `asBlocking`.

Everything would have the same format: `asSomething`

[2016-01-24 16:02] artem-zinnatullin commented on #582
Well, we want strongly show that this method will execute operation in
current thread as soon as you call it while other methods are lazy

On Sun, 24 Jan 2016, 18:25 inorichi <notifications@github.com> wrote:

--

@artem_zin

[2016-01-24 16:59] fusion44 opened #604 "Put error message is wrong"
Hi,

first, thank you for this awesome library! Its so simple and fun to use. :)

I've found a small but confusing typo. I'm getting the message "Error has occurred during Delete operation." after a failed PUT operation. You can find the code [here.](https://github.com/pushtorefresh/storio/blob/515f740a210c702b5bda170afcb07b4391b2f6e1/storio-sqlite/src/main/java/com/pushtorefresh/storio/sqlite/ope

[2016-01-24 20:55] artem-zinnatullin commented on #604
Damn, my bad! We'll fix it! Thanks for report and feedback :)

[2016-01-24 21:31] fusion44 commented on #604
No problem. Thanks for the quick feedback!

[2016-01-24 21:51] artem-zinnatullin commented on #604
We'll close it once we fix it!

[2016-01-26 20:02] pavlospt opened #606 "Put operation between different tables"
Hello.

Is there a way to store objects between different tables using the same StorIOSQLite object?

I tried by adding a custom PutResolver for the put operation on the second Table, but i do not seem to get it right based on the Docs.

Any hints or something that i can try?

Thanks in advance.

[2016-01-26 20:55] artem-zinnatullin commented on #606
To be sure: you want to store one object in multiple tables?

On Tue, 26 Jan 2016, 23:02 Pavlos-Petros Tournaris <notifications@github.com>
wrote:

--

@artem_zin

[2016-01-26 21:00] pavlospt commented on #606
@artem-zinnatullin let's say multiple same objects in two different tables. Example use case is: some cached data and some saved data by choice.

[2016-01-26 21:49] artem-zinnatullin commented on #606
aha, got it.

I'd suggest to write custom `PutResolver` via extending basic `PutResolver` instead of `DefaultPutResolver` and there you can do whatever you want to do :)

Just don't forget to wrap your code into transaction via `storIOSQLite.internal().beginTransaction()`, `setTransactionSuccessful()` and `endTransaction()` to keep db consistent!

[2016-01-26 21:50] artem-zinnatullin commented on #606
// For future: please ask such questions on StackOverflow with `storio` tag, we try to keep GitHub issues for bugs and feature requests :)

[2016-01-26 21:53] pavlospt commented on #606
@artem-zinnatullin Is there any practical example of such a use case somewhere that I can see the implementation of it?

Didn't know about the SO tag, excuse me for that!

[2016-01-26 22:00] artem-zinnatullin commented on #606
No, but presoudo-code will look like this:

[code]

P.S. sorry for `storIOSQLite.internal()`, actually it's part of public API and in the next release we'll rename it to `lowLevel`!

No problems :)

Hope it answers your question! If so — please close the issue :)

[2016-01-26 22:07] pavlospt commented on #606
Hello.

Thanks for your answer. That answers my question.

Thanks a lot again.

[2016-01-26 22:11] pavlospt commented on #606
Edit (cause of reopening): Will there be any way to add this ability on the API level of the .put() method or after it? Like .fromTable(Table_Name) ?

[2016-01-26 23:37] artem-zinnatullin commented on #606
No, since Put is operation that fully depends on Put Resolver to figure out how to perform it (insert or update).

I mean, from the point of API design it will be really hard to support kind of queries for Put operation, because it's more complex than Get and Delete.

Sorry…

[2016-01-26 23:37] #606 closed

[2016-01-26 23:40] artem-zinnatullin commented on #603
I see, you're right. We'll just append table name to columns I guess.

Thanks for reporting!

[2016-01-26 23:41] #604 closed

[2016-01-27 22:37] artem-zinnatullin opened #607 "Remove all deprecated APIs in 2.0"

[2016-01-27 22:38] artem-zinnatullin commented on #582
It's part of #607, I'm closing all other issues about deprecated apis.

[2016-01-27 22:38] #582 closed

[2016-01-27 22:39] artem-zinnatullin commented on #571
Looks like this one can be closed :)

[2016-01-27 22:39] #571 closed

[2016-01-27 23:19] artem-zinnatullin commented on #581
Please see #606 where I commented why we can't do this for Put Operation (TL; TR; it's responsibility of Put Resolver because Put is non trivial operation: update or insert).

[2016-01-27 23:19] #581 closed

[2016-01-28 11:31] pavlospt opened #609 "Error on Get operation when using Like operator"
Hello.

I think there is a bug during the use of the Get operation with a "like" operator in the query builder.

For example: When using the following "where" text:

`
.where(FoodTable.COLUMN_TITLE + " like ' " + term + "%' ")
`
everything works as expected.

Although if i try to rewrite it in the following way, an error occurs:

`
.where(FoodTable.COLUMN_TITLE + " like '?%' ")
.whereArgs(term)
`

[2016-01-28 11:49] artem-zinnatullin commented on #609
Not a bug of StorIO.

`Query` is container for all params for `SQLiteDatabase.query()`, so you can google how to make query with `LIKE` to `SQLiteDatabase`, take a look at [this](http://stackoverflow.com/questions/9076561/android-sqlitedatabase-query-with-like) and [this](http://stackoverflow.com/questions/9076561/android-sqlitedatabase-query-with-like) questions on StackOverflow.

Just tried:

[c

[2016-01-28 11:49] #609 closed

[2016-01-28 11:56] pavlospt commented on #609
Ok thanks for the response. I tried it before on a pure SQLiteContentProvider and i was using it with the single quotes style. That's what caused me to think that this is a bug and not a misuse. Can this be placed somewhere on the docs maybe, for future reference?

[2016-01-28 12:11] artem-zinnatullin commented on #609
We will mention that `Query` is simple wrapper for `SQLiteDatabase.query()` params in the docs! Here is the issue for that #602.

[2016-01-28 12:17] pavlospt commented on #609
Great! Thanks once again for the immediate reply.

[2016-01-28 12:31] artem-zinnatullin commented on #609
You're welcome :)

[2016-01-28 21:20] #516 closed

[2016-01-29 06:58] #603 closed

[2016-01-29 12:04] Rainer-Lang commented on #540
I just wanted to give a further information about this for ```ContentResolver```:
```sortOrder(...)``` works with ```COLLATE NOCASE``` too

[2016-01-31 20:18] fadevst opened #611 "Little extension of the DefaultPutResolver"
Hey.
Sometimes we need to update the value of only one field and leave the others unchanged. `DefaultPutResolver` isn't suitable if we don't have a complete object. Yes, we can do it by writing our `PutResolver`. But, also we can do it by `DefaultPutResolver.performPut()` with small changes (because it uses a Cursor to find out whether to call insert or update).

For example:
[code]

It looks quit

[2016-01-31 20:35] artem-zinnatullin commented on #611
Hello, @fadevst!

I understand your need, but we would like to keep set `Default*` APIs as small as possible so they will be easy to understand and implement by anyone.

Moreover, I'm not sure that removing fields from `ContentValues` will give any boost for the `UPDATE` because SQLite is row based db and it'll work with whole row anyway, you'll just do more operations on the Java side to remove t

[2016-01-31 20:35] #611 closed

[2016-01-31 22:00] fadevst commented on #611
Thanks, @artem-zinnatullin.

It is more necessary for changing (or adding) the fields in `ContentValues`, when primary key and StorIOSQLiteColumn key is different.

For example:

[code]

PutResolverV1:
[code]

PutResolverV2 (copy DefaultPutResolver with small changes):
[code]

I agree. It looks like the specific situation and doesn't require changes in `storIoSQLite`.
As a last resort, we can fork

[2016-02-01 12:58] Denvar opened #612 "Partial Put"
Hey guys

There are times when dealing with APIs where a model will sometimes have extra attributes when returned from some endpoints compared to others.

For example: /events return a list of Event objects with a members_count attribute.
Later calling /events/<event_id> returns the same vent but without a members_count.

With the standard StorIO setup (without defining separate POJO) PUTing the e

[2016-02-01 13:28] artem-zinnatullin commented on #612
Hi, @Denvar!

Sad case, but definitely solvable via StorIO! Looks like you need simple thing — custom `PutResolver`.

As said, I'd suggest to simply add `PutResolver` for your type and implement all the logic you need to do there, here is pseudo code:

[code]

**Notice** that you can mix resolvers generated via annotation processing with handmade ones, for example you can still use generated `Get`

[2016-02-01 13:28] #612 closed

[2016-02-03 03:16] faifai21 opened #613 "Better crash reporting"
The latest addition to exceptions in 1.8.0 is great, but it's still hard to debug exceptions inside of StorIO.
For example, I've been trying to debug this exception for the last hour:
[code]

I have no idea what the cause of this error is, and it'll probably take me another hour or so trying to figure it out. I was actually on 1.6.1 when I encountered this error and managed to figure out the query

[2016-02-03 14:06] artem-zinnatullin commented on #613
Hello, @faifai21!

Do you use RxJava with StorIO? Or own multithreading?

We catch and re-throw exceptions to add info about query and objects, it doesn't discard previous exceptions, the only case when you won't see root cause — deep stack overflow exception. Another problem is that if you triggered operation from another thread — stacktrace won't show initial point from first thread.

[2016-02-03 16:45] faifai21 commented on #613
Hi @artem-zinnatullin!

Thanks for responding. Yea, I am using RxJava with StorIO. For my particular case, it was a null pointer exception, but the stack trace didn't tell me where. After debugging for a while, I found the cause to be a null pointer in the `mapFromCursor()` method in one of our GetResolvers.

[2016-02-03 16:52] artem-zinnatullin commented on #613
Hm, you should saw that exception in stacktrace, but I'll investigate the code, maybe we don't add `cause` to our exception somewhere! Thanks for report and feedback!

[2016-02-05 01:33] faifai21 commented on #613
Of course! Thanks for the great library and work. Let me know if I can help in any other way.

[2016-02-07 17:51] geralt-encore commented on #528
I have one more question regarding this issue. Should we use the same `StorIOSQLiteColumn` annotation for `AutoValue` abstract methods for fields or introduce a new one? I am not sure, because, one the one hand, their share a lot, but on the other - they need completely different validation.

[2016-02-07 22:48] artem-zinnatullin commented on #528
I guess, we should use the same annotation, yeah, it'll require completely different validation…

[2016-02-15 12:18] georgeci opened #614 "Compatibility with the properties of Kotlin"
I want to generate `SQLiteTypeMapping` in Kotlin with [kapt](http://blog.jetbrains.com/kotlin/2015/05/kapt-annotation-processing-for-kotlin/). But all fields are private in Kotlin. There are open only getter and setter.

[code]

I had this exception
`Error:StorIOSQLiteColumn can not be applied to private field: name`

In OrmLite I can do it like [this](http://ormlite.com/javadoc/ormlite-core/doc-f

[2016-02-16 04:18] artem-zinnatullin commented on #614
Right, because OrmLite uses reflection while we don't.

In #528 @geralt-encore works on support for AutoValue which will add support for getters -> partially help with support for Kotlin.

For now I'd just suggest override `DefaultPutResolver`, `DefaultGetResolver` and `DefaultDeleteResolver` for your data classes, it's really easy :)

[2016-02-16 12:21] geralt-encore commented on #614
Didn't have much time, but still working on it. Kotlin support would be great feature to deal with next!

[2016-02-16 15:57] thomasdola opened #615 "how to perform an update?"
am really confused..
have been trying it for hours but error..
any help?
by the not only update?  ==> get a single object too..
thanks

[2016-02-16 16:00] thomasdola commented on #615
any one there?
please...

[2016-02-16 16:09] artem-zinnatullin commented on #615
StorIO has three basic operations: Put, Get and Delete.

Update is part of Put. Everything is in documentation and readme, also, we have a sample app in the repo and a lot of tests (even design tests where you can find out how to use StorIO).

[2016-02-16 16:14] thomasdola commented on #615
am a beginner in android development so if you could just give a simple example of an update using the Put...

[2016-02-16 16:19] artem-zinnatullin commented on #615
Idk what exactly will help you, but basic code is

[code]

I'd say, that to use StorIO you need some understanding of storage APIs (`SQLiteDatabase` or `ContentResolver`)  in Android.

[2016-02-16 16:23] thomasdola commented on #615
I solved my issue
i forgot to apply `take(1)` to my Observable while updating , so it was just running the code over and over...
thank you so much for this awesome library...

[2016-02-16 16:27] artem-zinnatullin commented on #615
Oh, got it. Well, please ask more precise questions with code samples next time :)

BTW, you can use `asRxSingle()` instead of `asRxObservable().take(1)`

[2016-02-16 16:27] #615 closed

[2016-02-16 22:33] jpmassena opened #616 "Migrate from Greendao to StorIO"
Hi,

I'd like to know if it's possible to migrate from Greendao to StorIO without losing existing data.

[2016-02-16 22:54] artem-zinnatullin commented on #616
Yes, it's possible!

StorIO does nothing about creation and updating of the database, it just attaches to the existing one via `SQLiteOpenHelper` or `ContentResolver` (which may be not even a db).

Just use `SQLiteOpenHelper` that will open existing db and you should be good to go!

[2016-02-16 22:54] #616 closed

[2016-02-16 22:55] artem-zinnatullin commented on #613
I'll just point others to an operator which saves stacktrace for RxJava https://github.com/ReactiveX/RxJava/issues/3521

[2016-02-16 22:55] #613 closed

[2016-02-16 22:56] artem-zinnatullin commented on #613
And just as reminde for others, since v1.2.1 StorIO prints as much useful info as possible to the exception message (query, objects, etc)

[2016-02-25 20:17] sreejithraman opened #619 "How exactly does the .where() work with .whereArgs()"
If I wanted to have AND I know I can do something like this:

[code]

But what if I wanted to match it with a list of ids or a list of types? Can I do something like this:

[code]

[2016-02-25 21:59] artem-zinnatullin commented on #619
Hi @sreejithraman!

So, basically it calls `.toString()` on each argument passed to `whereArgs()` and `whereArgs()` accepts an array, so if you won't convert your list to array, it'll see it as one object and use its `toString()` value.

If you need to specify a list, we have useful method `Queries.placeholders()` to create required amount of `?` placeholders and just call `.toArray()` on your lis

[2016-02-25 21:59] #619 closed

[2016-02-29 09:57] thomasdola opened #621 "A SQLiteConnection object for database '/data/data/primr.apps.eurakacachet.com.primr/databases/ryme.db' was leaked! Please fix your application to end transactions in progress properly and to close the database when it is no longer needed."
Any idea what might be the cause of that?
thanks.

[2016-02-29 14:41] artem-zinnatullin commented on #621
Do you use your DB only through StorIO?  Do you manually use `StorIO.Internal`?

[2016-02-29 14:56] thomasdola commented on #621
Yes only through StorIO..
not seeing that again for now. but what could be the cause?

[2016-03-01 00:24] artem-zinnatullin commented on #621
Do you manually call close on the db or `StorIOSQLiteDatabse`?

[2016-03-01 01:06] careful7j opened #622 "Sample Application is too complicated"
Please, create a better (easier) sample application. Sample application should not rely on 25+ libraries and 9! projects. Thats cool that you know all of that, but some people may not. Sample app is very huge and it looks like some methods are already outdated.

If you want many people use the wonderful technology you designed, **it should be easy to start with**. Not everybody have 5+ years of ex

[2016-03-01 01:51] Rainer-Lang commented on #622
What do you mean with "9! projects"?

[2016-03-01 01:52] careful7j commented on #622
// Parts of StorIO
        storIOCommon                              : project(':storio-common'),
        storIOSQLite                              : project(':storio-sqlite'),
        storIOContentResolver                     : project(':storio-content-resolver'),
        storIOSQLiteAnnotations                   : project(':storio-sqlite-annotations'),
        storIOContentResolverAnnotations

[2016-03-01 01:57] Rainer-Lang commented on #622
That's the StorIO lib or better the parts of it.
Later you will include only the parts you need eg contentresolver, sqlite,...

[2016-03-01 02:00] careful7j commented on #622
Well, sample app contains all of that things.

[2016-03-01 02:01] Rainer-Lang commented on #622
When did you start developing for android?

[2016-03-01 02:02] careful7j commented on #622
At least one year already passed (or mayby more).

[2016-03-01 02:14] Rainer-Lang commented on #622
My suggestion is - look at this parts which are really interesting for you right now, play with them and then look at the rest.
I changed the sample app for me for testing. So I made my first steps. First,  I'm honest, it was hard for me - but I wanted a db-lib with rxjava - and storio was the right choice. Do you know rxjava?

Focus on what you need, run the sample app and modify it.

[2016-03-01 02:18] careful7j commented on #622
Yeap, i have already tried rxjava with retrofit, its quite awesome. Now i am studying database solutions, i have tried ormlite and realm and everything was fine there. However, here I am stuck. Mayby storio is not something I can take with my level of expereince (after a whole night spent I am starting to think so).

[2016-03-01 02:25] Rainer-Lang commented on #622
Cool. Yes retrofit and rxjava are great. Storio is the perfect "addon". 😉
Keep trying - it's worth it.
And ask explicit questions - "sample is too complicated" it's too general. The developers of StorIO are great and very helpful!

[2016-03-01 05:08] careful7j commented on #622
Thank you, but it was not so much of a question, like a request from not very developed part of community :D. Just want to see an example of storio by itself, not with a lot of libraries integrated. Source code becomes extremely hard to understand and application by iteslf become heavyweight when there are so much things included. Hope you understand what i mean.

[2016-03-01 07:23] Rainer-Lang commented on #622
I EXACTLY know what you mean. ☺️
But in the sample app there are a lot of more things inside which are worth to know it. Dagger2 is one of it. And look at the tests (if you are interested in testing, there is a wonderful project on github of one of the StorIO developers).

[2016-03-01 08:28] lenguyenthanh commented on #622
If it's okay, I'll try to contribute a simpler sample for Storio.

[2016-03-01 13:07] BraunreutherA opened #623 "How to get Entity after put operation"
Hi there,

I'm inserting entities into the database and get a putresult in my observable. Is there a way to get the entity that was inserted/updated aswell?

Thanks,
Alex

[2016-03-01 16:47] artem-zinnatullin commented on #623
You want to retrieve it from `PutResult`?

[2016-03-01 16:53] BraunreutherA commented on #623
Yes - or another way. But it would be nice to get the inserted object and not just if it was inserted

[2016-03-01 17:03] artem-zinnatullin commented on #623
At the moment I'd suggest to simply retain the object that you're putting yourself, I think we'll add it to `PutResult` soon since `PutResults` (represents put of multiple objects) already stores them.

[2016-03-01 17:46] BraunreutherA commented on #623
Thats the way I do it at the moment. Great when you can put it on the next drive :+1:

[2016-03-02 00:57] lenguyenthanh commented on #622
@artem-zinnatullin yes, just try Sqlite to realize how beautiful StorIO is.

[2016-03-02 06:19] careful7j commented on #622
Thanks in advance! You've made my day :)
Looking forward for new sample app!

[2016-03-02 19:13] sreejithraman opened #624 "Updating a row with null value"
I don't know if I am missing something but if I try to update a row with some columns as null, it doesn't seem to be reflected

[2016-03-02 20:12] artem-zinnatullin commented on #624
StorIO simply passes `ContentValues` to `SQLiteDatabase` or `ContentResolver` methods…

We'll write test for that and see if it's real problem or not, I believe we put `null` in our apps without problems.

[2016-03-03 22:31] artem-zinnatullin commented on #624
@nikitin-da can you please take this? It may affect apps you're working on :)

(I'm pretty busy unfortunately…)

[2016-03-04 05:10] nikitin-da commented on #624
@artem-zinnatullin, sure, I'll take it tomorrow

[2016-03-07 12:41] #624 closed

[2016-03-11 23:33] sreejithraman opened #627 "If we made an Observable using RawQuery, will we not get updates/changes to the table?"

[2016-03-11 23:37] artem-zinnatullin commented on #627
`RawQuery` has two properties for that!

* `observesTables()` specifies set of tables that should be observed to re-execute this raw query.
* `affectsTables()` specifies set of tables that will be affected by execution of this raw query and will trigger update of queries which observe these tables.

[2016-03-11 23:37] #627 closed

[2016-03-12 16:54] geralt-encore opened #628 "rx.Completable support"
What do you think about using `Completable ` for put/delete operation?

[2016-03-12 17:34] artem-zinnatullin commented on #628
Yup, it's possible

[2016-03-16 20:50] artem-zinnatullin commented on #621
@nikitin-da, @karlicoss do you see this in the Yandex project that uses `StorIOSQLite`?

[2016-03-16 20:53] karlicoss commented on #621
Yup
On 16 Mar 2016 23:50, "Artem Zinnatullin" <notifications@github.com> wrote:

[2016-03-16 21:24] nikitin-da commented on #621
No, I don't

[2016-03-16 21:27] karlicoss commented on #621
Update: disregard my previous comment, I got confused. I haven't seen them
as well.
On 17 Mar 2016 00:24, "Dmitrii Nikitin" <notifications@github.com> wrote:

[2016-03-16 21:29] artem-zinnatullin commented on #621
ok, I'm going to close this because I don't see leaks inside of the StorIO and I guess it's problem of particular app…

[2016-03-16 21:29] #621 closed

[2016-03-17 18:27] artem-zinnatullin commented on #511
Btw, we can allow user pass scheduler in the builder of `DefaultStorIO` and don't apply it if it's `null`, this will allow save old apps from adding `subscribeOn()` everywhere and remove default scheduling for those who don't need it. Also, it'll allow change `Scheduler` to custom one.

@nikitin-da, @karlicoss: thoughts?

[2016-03-17 21:47] nikitin-da commented on #511
I agree that it will be a way better - add an ability to configure default scheduler without breaking api. We just need to correct issue name.

[2016-03-18 10:54] geralt-encore commented on #628
Will add this feature to ContentResolver in a couple of days

[2016-03-18 11:06] artem-zinnatullin commented on #628
Great, thanks!

[2016-03-26 18:40] artem-zinnatullin commented on #628
Awesome work, @geralt-encore, thanks a lot!

[2016-03-26 18:40] #628 closed

[2016-04-04 03:50] sreejithraman opened #635 "When I use the DeleteQuery, it is not using my custom delete resolver"
When I instead get the database items and do `.delete().objects()` it uses my custom delete resolver

[2016-04-04 03:56] sreejithraman opened #636 "When I try to do a database call onDestroy of a Fragment, it doesn't seem to execute"
I am using RxJava. My query looks like this:
[code]
I put logging in my custom get resolvers, but they don't seem to get triggered. I tried putting the get call elsewhere (not in onDestroy) and they execute fine. Is this a limitation of RxJava that I am not aware of?

[2016-04-04 16:23] artem-zinnatullin commented on #636
Do you store `Subscription` returned by `subscribe()` and unsubscribe it somewhere?

[2016-04-04 16:24] artem-zinnatullin commented on #635
Sure, because `DeleteQuery` is kind of `raw` operation over db, you're not working with type mapping in this case :)

[2016-04-04 16:24] #635 closed

[2016-04-04 18:23] sreejithraman commented on #636
No, I don't

[2016-04-04 18:29] artem-zinnatullin commented on #636
hm, do you use some solutions like RxLifecycle/etc?

RxJava has no knowledge about Android specific lifecycle callbacks like `onDestroy()`.

How do you test that? You're swiping app away from the list of apps? My next guess is that app process is dying and you're not seeing anything in logs because it's not doing anything.

[2016-04-04 18:55] sreejithraman commented on #636
No, I don't use anything like that.

Yea, that's what i figured too. I was just taking a shot at the dark with that.

The way it's set up in my app is that the photo list is a fragment that is a few activities deeper than the main activity. So, when I press the back button, it should trigger this code:
[code]
I put logging in my custom get resolver, but nothing is happening. And I have also verifi

[2016-04-04 19:01] artem-zinnatullin commented on #636
Hm, I don't see any problems in your code…

Both StorIO and RxJava does nothing specific about Android components lifecycle, can you debug the call in your custom get resolver?

Or you can put a log/breakpoint in the chain:

[code]

[2016-04-04 20:08] sreejithraman commented on #636
It seems like I do see the log from `doOnNext()` but when inspecting my database, those items still exist

[2016-04-04 21:13] artem-zinnatullin commented on #636
That's strange, are you sure you've written your operation resolvers correctly? You can paste code here.

[2016-04-04 21:21] sreejithraman commented on #636
Sure, I know they work because when i call them while the activity is presented, it properly deletes.

Here is my get resolver:

[code]

[2016-04-05 20:06] sreejithraman commented on #636
Sorry, it was an internal issue. The photoListId was null.

[2016-04-05 20:06] #636 closed

[2016-04-05 20:37] artem-zinnatullin commented on #636
Oh damn, those nulls always broking things :(

[2016-04-05 21:36] sreejithraman commented on #619
@artem-zinnatullin for the above query that you wrote, is that a mistake because you never specified the the id. Or am i missing something?

[2016-04-06 16:36] artem-zinnatullin commented on #619
@sreejithraman right, fixed, thanks!

[2016-04-07 22:13] sreejithraman opened #637 "Is there some way of using an Observable to get only updates to the table?"
So instead of it returning the whole query, just return items that changed/added that fits the query

[2016-04-07 22:33] artem-zinnatullin commented on #637
Unfortunately, that's impossible to implement efficiently on top of relational db :(

As an example try to imagine how we should process such query: `delete * from some_table where some_column like %str%`.

[2016-04-07 22:33] #637 closed

[2016-04-08 23:05] omainegra opened #638 "Method name collision with kotlin reserved word"
Methods `Prepared*.object` have collision with kotlin `object` reserved word. It's kind of ugly be calling this way

``storIOSQLite.delete().`object`(toDelete)``

[2016-04-10 14:57] sreejithraman opened #639 "How to ensure that a column won't get overriden by a null value?"
Let's say I have a simple `user` table with the following columns: `name`, `id`, `token`.

Sometimes `token` is given to me and in those cases update `token`. Other times token will be null and in those cases I just want to keep the existing value inside `token`.

One way I thought of was to make a put resolver. Inside the resolver, I check if the given `user` already has a value for token. If it

[2016-04-15 06:24] talenguyen commented on #528
How about this progress? I am caring about this issues, maybe I can give a hand to help.

[2016-04-18 13:30] harcoPro opened #640 "Add new column in existing table"
How i can add new column in existing table and update application for user?

[2016-04-18 15:57] sreejithraman commented on #640
Someone correct me if I am wrong but, I think you have to just update it normally.

[code]

[2016-04-18 16:12] artem-zinnatullin commented on #640
@harcoPro

StorIO does not handle scheme of your db, it just connects to the existing one via `SQLiteOpenHelper`.

Just change scheme of db/tables as part of `SQLiteOpenHelper.onUpgrade()` normally and make appropriate changes to the classes that you use with StorIO.

@sreejithraman you're right :)

[2016-04-18 16:12] #640 closed

[2016-04-19 07:27] harcoPro commented on #640
thanks!

[2016-04-19 22:01] nikitin-da commented on #639
To get rid inserting the same values, maybe just store `token` in separate table `token` : `user_id`, `token_value`?
Create put resolver like in [one-to-many example](https://github.com/pushtorefresh/storio/blob/52c18835c611270bc38aa55461731f2205d44b77/storio-sample-app/src/main/java/com/pushtorefresh/storio/sample/db/resolvers/UserWithTweetsPutResolver.java) with custom `performPut`. And here you

[2016-04-20 22:43] nikitin-da commented on #595
Hi, @xdmaolei!
We may add property `ignoreNull` for annotation processor, but it will be quite difficult to clear this field.
Is it acceptable for your case or do you see a way to clear, except using another put resolver?

[2016-04-20 22:45] nikitin-da commented on #639
There is related issue #595

[2016-04-22 14:03] xelevra opened #641 "Support nulls for boxed types in get resolvers made by Annotation Processor"
There is a class:
[code]
In the database c_start_time is nullable.

Now generates:
[code]

Right:
[code]

[2016-04-22 14:39] nikitin-da commented on #641
I'll prepare fix asap, thanks for report!

[2016-04-27 13:19] rakam opened #644 "Use AUTOINCREMENT with storio"
Hi

Is there any way to use a `INTEGER PRIMARY KEY AUTOINCREMENT` column with storio, in order not to specify an ID when inserting a value for the first time, but still neing able to get the generated id and use it to update the row? (I use Annotation Processor)

Thanks

[2016-04-27 20:38] Rainer-Lang opened #645 "wiki: executeSQL() shouldn't used for update - why?"

[2016-04-27 22:43] nikitin-da commented on #645
There isn't a strict prohibition to do it, but it imposes several drawbacks.
- Can't use resolvers -> query should contain serialization
- It is impossible to obtain the result
- Can't use embedded request arguments escaping -> stay alone with sql injection hazard :scream:

So it is preferable use `executeSQL()` for DDL, and `get`, `put`, `delete` for CRUD operations =)

[2016-04-27 23:28] nikitin-da commented on #644
Hi, @rakam!
It seems we should add yet another flag for annotation processor, something like `generatedId`
@artem-zinnatullin, @karlicoss guys what do you think?

[2016-04-27 23:41] karlicoss commented on #644
I guess that makes sense

[2016-04-28 07:43] buaacloud opened #646 "How to encrypt data ?"
Hi,

Is there any idea to encrypt data stored in sqlite database,someone said SQLCipher,but it told me
"Update the import path from android.database.sqlite.* to net.sqlcipher.database.* in any source files that reference it." that is to say,I can't use storio any more?

[2016-04-28 08:02] artem-zinnatullin commented on #646
Error seems not related to StorIO.

StorIO is abstraction with default implementation, you can implement it in
a way that it'll use sqlcipher under the hood. Or you can crate wrapper for
SQLiteOpenHelper from sqlcipher and pass it to StorIO.

On Thu, 28 Apr 2016, 10:43 keepfit, <notifications@github.com> wrote:

[2016-04-28 08:26] artem-zinnatullin commented on #644
Should your ignoreNull help?

On Thu, 28 Apr 2016, 02:41 Dima Gerasimov, <notifications@github.com> wrote:

[2016-04-28 08:31] nikitin-da commented on #644
Hm, actually no. For this case we need to set generated value back into entity

[2016-04-28 09:57] Rainer-Lang commented on #645
@nikitin-da Thanks for clarification.
Sometimes it's just necessary to execute just a statement. :)

[2016-04-28 09:57] #645 closed

[2016-04-28 16:11] artem-zinnatullin commented on #645
Just as addition, if you need to perform some custom SQL query that does
not fit into our Query object -> please use RawQuery where you can write
any kind of SQL (JOINS, etc) and safely bind arguments to it.

On Thu, Apr 28, 2016 at 12:57 PM, Rainer-Lang <notifications@github.com>
wrote:

[2016-04-28 16:16] artem-zinnatullin commented on #644
As far as I remember this is the only problem with it, that it does not set
generated value to the entity.

But, at the same time you should really consider using immutable entities
for db, so it looks ok to me.

On Thu, Apr 28, 2016 at 11:31 AM, Dmitrii Nikitin <notifications@github.com>
wrote:

[2016-04-28 16:17] artem-zinnatullin commented on #644
Btw, we have a feature request to store object in the PutResult, what if we
store result after Put there so it will be up-to-date after Put operation
and user will be able to retrieve it? cc @karlicoss

On Thu, Apr 28, 2016 at 7:15 PM, Artem Zinnatullin <
artem.zinnatullin@gmail.com> wrote:

[2016-04-28 16:35] nikitin-da commented on #644
In terms of immutability entities with result & `ignoreNull` annotation looks fine.
But how can we update or create new instance of unmodifiable entity inside the operation?

[2016-04-28 17:08] artem-zinnatullin commented on #644
Just read it from db?

On Thu, Apr 28, 2016 at 7:35 PM, Dmitrii Nikitin <notifications@github.com>
wrote:

[2016-04-28 17:11] nikitin-da commented on #644
Oh, right!
Ok, I agree.

[2016-04-28 17:15] nikitin-da commented on #644
Links to #595 and #623

[2016-04-28 17:24] Rainer-Lang commented on #645
@artem-zinnatullin Yes, I'm using RawQuery already. Thanks.

[2016-04-28 17:27] artem-zinnatullin commented on #644
But just for note: it'll affect performance..

On Thu, 28 Apr 2016, 20:15 Dmitrii Nikitin, <notifications@github.com>
wrote:

[2016-04-28 17:32] nikitin-da commented on #644
Yeah=( And will break API compatibility

[2016-04-28 17:55] artem-zinnatullin commented on #644
yeah, I'd prefer not to change object passed to Put operation, user can do
this in custom PutResolver

On Thu, Apr 28, 2016 at 8:32 PM, Dmitrii Nikitin <notifications@github.com>
wrote:

[2016-04-29 02:23] buaacloud commented on #646
Thanks for reply,I know it's not StorIO's Error,I have used StorIO in my project,but I do need data security,so I have  much work to do just as you said.

[2016-04-29 05:51] artem-zinnatullin commented on #646
It's not a lot of work, as I said you can try to wrap SQLiteOpenHelper.

On Fri, 29 Apr 2016, 05:23 keepfit, <notifications@github.com> wrote:

[2016-05-01 19:29] Rainer-Lang opened #647 "Conditional insert or replace -> with StorIO better?"
I have following procedure:

1. execute sql-statement: ```select to_update from test where uuid='123-XYZ'``` (```to_update``` is 0 or 1; or ```no-select-data```)
2. if result of ```1.``` is ```1``` or ```no-select-result``` then I have to execute another sql (example): ```insert or update (...) values (...)```

I'm wondering if this could be done with StorIO in an elegant way.....

[2016-05-02 09:10] riinav opened #648 "Delete all data from all tables"
Is there any method which can help in clearing all contents from all the tables.
something like StorIO.clear()
or Do we need to handle this by our selves?

[2016-05-02 10:27] artem-zinnatullin commented on #648
Yeah, for now I'd suggest to handle it yourself, something like:

[code]

This will clear all tables and notify all observers. You might also want to drop db file with `context.deleteDatabase()` but make sure you recreate `StorIO` instance then!

See https://github.com/pushtorefresh/storio/blob/master/storio-sqlite/src/test/java/com/pushtorefresh/storio/sqlite/design/ExecuteSQLOperationDesignTest.

[2016-05-02 10:27] #648 closed

[2016-05-02 15:29] nikitin-da commented on #647
If you really want it, you can extend [PutResolver](https://github.com/pushtorefresh/storio/blob/master/storio-sqlite/src/main/java/com/pushtorefresh/storio/sqlite/operations/put/PutResolver.java) for entity from `2.`. And in `performPut` query `to_update` to decide should you insert/update or do nothing.

But as for me it is not quite elegant way =) Maybe some active model should do it.

[2016-05-02 17:49] Rainer-Lang commented on #647
@nikitin-da What would be an elegant way for you? :)
I'm hoping with StorIO there is a cool way to do it.

[2016-05-02 20:50] nikitin-da commented on #647
@Rainer-Lang I guess, custom put resolver - it is only way to do it inside StorIO (@artem-zinnatullin, @karlicoss correct me if I'm wrong).

From my point of view it's preferably to make such decision on a higher level (some domain model that represents business logic).
Imagine if you will have to check not just `test` table to find out if value up to date. But also obtain some information from sh

[2016-05-03 06:40] Rainer-Lang commented on #647
@nikitin-da I have for all my tables resolvers, so I can do it like you suggested. I'm only afraid of getting 10-50 values instead of only 1 from each table.

[2016-05-03 12:18] BraunreutherA opened #649 "Updating parts of Objects"
Hi, I've got a similar question to the #612 issue.

I'm trying to update a timestamp of a message which is sent or received and I just want to update this one field without providing all other fields again. I haven't found a way to do this so I wrote a custom PutResolver:

[code]

I'm using the Resolver this way:

[code]

But on execution I always get an error Log:
`com.pushtorefresh.storio.StorIO

[2016-05-03 12:52] Rainer-Lang commented on #649
@BraunreutherA You can use executeSQL()

[2016-05-03 14:46] BraunreutherA commented on #649
@Rainer-Lang for sure I could go to the bottom layer but that's not i the sense of the storIO library. So i hope theres a better way.

[2016-05-03 16:11] Rainer-Lang commented on #649
@BraunreutherA I see. Maybe it's better to focus on the error message. Your resolver doesn't look so bad :)

[2016-05-03 17:02] nikitin-da commented on #649
Hi, @BraunreutherA!
Can you please set breakpoint in [`executeAsBlocking`](https://github.com/pushtorefresh/storio/blob/master/storio-sqlite/src/main/java/com/pushtorefresh/storio/sqlite/operations/put/PreparedPutObject.java#L57) and check the cause of StorIOException.
Branch with provided `explicitPutResolver` is extremely simple, so `performPut` likely should be called.
Or just place Log before

[2016-05-03 17:10] BraunreutherA commented on #649
Hi @nikitin-da
If edited the resolver here aswell and the log in front doesn't execute.
The breakpoint at executeAsBlocking isn't hit aswell.

[2016-05-03 17:25] Rainer-Lang commented on #649
so after ```Log.e("test", "Testing if the error occures somewhere here...");``` there is nothing executed?

[2016-05-03 17:27] BraunreutherA commented on #649
No, but I don't understand why the sentAt field is manipulated.. cause if I delete the Line `messageEntity.setSentAt(new Date().getTime());` sentAt stays 0.

[2016-05-03 17:29] nikitin-da commented on #649
@BraunreutherA, do you have another put resolvers for `MessageEntity`?)
What was the cause of StorIOException?

[2016-05-03 18:03] BraunreutherA commented on #649
Cause is the following:

`com.pushtorefresh.storio.StorIOException: Error has occurred during Put operation. object = MessageEntity{uuid='7e626104-bb45-4182-a074-6d9b1a549aa4', conversationUuid='null', senderUuid='null', sentAt=1462297655317, receivedAt=0, content='null', type='null'}`

`Caused by: android.database.sqlite.SQLiteConstraintException: NOT NULL constraint failed: messages.conversation

[2016-05-03 19:49] nikitin-da commented on #649
It's weird=)
Before this fact `if I delete the Line messageEntity.setSentAt(new Date().getTime()); sentAt stays 0.`
I thought that cause was in another put resolver or ignoring `markMessageSent` result.
I try to reproduce it in [test](https://github.com/pushtorefresh/storio/commit/98a537df1624bb6fc181465e3176573f519055fd), but all works fine.
Can you please modify it or provide me with another sim

[2016-05-03 20:40] BraunreutherA commented on #649
Sure I will put together something tomorrow.

[2016-05-04 12:16] BraunreutherA commented on #649
Strange.. I've set up the same stuff with your sample application and it works. I've senn that I didn't provide `@StorIOContentResolverColumn` in my entities. Is this the error? :D

[2016-05-04 12:29] nikitin-da commented on #649
It is not error if you don't use [`StorIOContentResolver`](https://github.com/pushtorefresh/storio/blob/master/storio-content-resolver/src/main/java/com/pushtorefresh/storio/contentresolver/StorIOContentResolver.java) or annotation processor for it.

[2016-05-04 13:18] BraunreutherA commented on #649
Oh my god. Found the error.. Sry guys this was realy dumb from my side.

[code]

The naming was wrong so the took the wrong object to insert -.- Sry for stealing your time.

[2016-05-04 13:38] nikitin-da commented on #649
Happens to everybody=)

[2016-05-04 13:38] #649 closed

[2016-05-16 17:39] artem-zinnatullin opened #653 "Let's release 1.9.0?"
@nikitin-da, @karlicoss can you please take a look at what can be done in a few days and what not, move some tickets to `1.10.0` and release `1.9.0`?

Otherwise, it's kind of stagnation of the library, even though it gets new features it doesn't get released…

[2016-05-16 21:30] nikitin-da commented on #644
To recap it will be resolved by using `ignoreNull` property #642 with custom put resolver or entity from put result (#623)