[2016-05-16 21:30] #644 closed

[2016-05-18 22:39] artem-zinnatullin commented on #511
Can this go into next version please? Maybe 1.10.0

[2016-05-18 23:07] nikitin-da commented on #511
Sure

[2016-05-18 23:08] artem-zinnatullin commented on #511
Thanks man :)

On Thu, 19 May 2016, 02:07 Dmitrii Nikitin, <notifications@github.com>
wrote:

[2016-05-19 21:39] artem-zinnatullin commented on #653
Pushed to maven central, should be available in ~hour. Thanks everybody who participated in it!

[2016-05-19 21:39] #653 closed

[2016-05-26 09:28] buaacloud commented on #646
Got it, Thanks for your suggestion!

[2016-05-26 09:28] #646 closed

[2016-05-26 13:50] Rainer-Lang commented on #646
@buaacloud What did you do now?

[2016-06-15 13:31] jedikv opened #662 "Any potential support for the Requery Android SQLite support library?"
Just wondering if it's a possibility down the road to maybe have an optional extension to enable some sort of compatibility wrapper with [Requry's Android SQLite](https://github.com/requery/sqlite-android)?

Keep up the good work otherwise! It's a great library :+1:

[2016-06-15 21:59] nikitin-da commented on #662
Hi @jedikv! Thanks!
Right now there isn't StorIO wrapper for requery directly, but it is quite simple to make it yourself.
You just need to write own implementation `StorIOSQLite` - like [`DefaultStorIOSQLite`](https://github.com/pushtorefresh/storio/blob/master/storio-sqlite/src/main/java/com/pushtorefresh/storio/sqlite/impl/DefaultStorIOSQLite.java).
It may be almost the same except import (`and

[2016-06-15 22:55] nikitin-da opened #663 "StorIOSQLite: add support for notification tags"
Add the same thing like [`affectsTables`](https://github.com/pushtorefresh/storio/blob/c8c4f8a58888c97594acef011722f86fed9a0d11/storio-sqlite/src/main/java/com/pushtorefresh/storio/sqlite/queries/RawQuery.java) in all query classes, to make it possible to emit notifications of some 'uris', real tables for which aren't exist.

`storIOSQLite.observeChangesInTable(TAG)`

`InsertQuery.builder().table(

[2016-06-15 23:01] artem-zinnatullin commented on #662
Well, that'll be nice, I believe even you will enjoy SQLite 4 in apps you
work on.

On Thu, 16 Jun 2016, 00:59 Dmitrii Nikitin, <notifications@github.com>
wrote:

[2016-06-15 23:03] artem-zinnatullin commented on #663
I'd start without API for manual notifyAboutChanges because DB operations
should be single source of true for such system. Let's see how users will
use this feature and if somebody will request manual API.

On Thu, 16 Jun 2016, 01:55 Dmitrii Nikitin, <notifications@github.com>
wrote:

[2016-06-18 12:30] agzamovr opened #664 "Can't run sampl app"
I got following error while running sample app on emulator
[code]
How this can be fixed?

[2016-06-18 13:13] nikitin-da commented on #664
Hi, @agzamovr! There are no receivers in sample app. Could you provide me with an actual StorIO sample crash log?

[2016-06-18 17:42] agzamovr commented on #664
Hmm, interesting, there is stack trace for new error which i've not seen before but now it directly related to sample app:
[code]
The only change which i've made to project is commented android-sdk-manager dependency and plugin in build files because it does not work with latest gradle version (2.+)

[2016-06-18 21:14] nikitin-da commented on #664
Can you [disable instant run](http://stackoverflow.com/a/36576011), please? =)

[2016-06-19 05:41] agzamovr commented on #664
Yes, this helped. Ii hope you will fix issue with instant run in future.
Thank you!

[2016-06-19 05:41] #664 closed

[2016-06-19 08:35] artem-zinnatullin commented on #664
That's tools problem, not library :)

On Sun, 19 Jun 2016, 08:41 Rustam Agzamov, <notifications@github.com> wrote:

[2016-07-04 17:23] simtse commented on #641
Hope to see this soon ^_^ I'm running in to this issue too.

[2016-07-04 17:30] wesley-alcock-hs commented on #641
This would be really helpful! :)

[2016-07-04 17:31] bluebery commented on #641
This would be really helpful!! :)

[2016-07-09 06:58] Rainer-Lang opened #670 "Possible to get from a given class the resolver?"

[2016-07-09 07:44] Rainer-Lang commented on #646
@keepfit What did you do now?

[2016-07-09 09:55] nikitin-da commented on #670
Hi, @Rainer-Lang !
Sure, you can call 'storIOSQLite.lowLevel().typeMapping(AwesomeClass.class).putResolver()' / `storIOContentResolver.lowLevel().typeMapping(AwesomeClass.class).putResolver()`

[2016-07-09 15:08] Rainer-Lang commented on #670
@nikitin-da Thanks a lot! Great!

[2016-07-09 15:08] #670 closed

[2016-07-11 17:36] Rainer-Lang commented on #663
I don't know if I'm right here....
I have a bunch of raw-sqls which affect different tables (I really don't know which exactly).
After executing these sqls I want to tell manually a defined set of "affected tables".
Is this now possible?

[2016-07-11 17:40] Rainer-Lang commented on #647
I found a workaround, so I don't need this.
Anyway, @nikitin-da thanks for your effort.

[2016-07-11 17:40] #647 closed

[2016-07-11 17:45] nikitin-da commented on #663
Can't you call something like this?
[code]
Or what do you mean by `don't know which exactly`?

[2016-07-12 07:50] Rainer-Lang commented on #663
Sorry, I should have provided more information.

I get a bunch of sqls from a server (during a sync process). I really don't now which tables are affected exactly.
I execute these sqls via ```executeSQL()```.
After processing all these sqls I want to to make a "manually affectedTables(syncTables)" at the end (not after every ```executeSQL()```).

worklflow
1) get sqls from server
2) ```executeSQL(

[2016-07-12 08:21] nikitin-da commented on #663
When you call `executeSQL()` `DefaultStorIOSQLite` uses `sqlite#execSQL` and according to documentation for it:  `Multiple statements separated by semicolons are not supported.` =(

But you can generate the list of `PreparedOperation` and execute it inside transaction.
[code]
All notifications you'll receive after transaction end.

But anyway you have to know what tables you are updating, to preve

[2016-07-12 08:51] Rainer-Lang commented on #663
SyncTables: I know these tables.
Sqls: I know not exactly which tables they are affecting, but they are inside the "SyncTables".

@nikitin-da I like your example with transaction. I'll give it a try. Thanks a lot.

[2016-07-12 09:09] Rainer-Lang commented on #663
What about ```notifyAboutChanges()``` after executing all sqls?

[2016-07-12 09:24] nikitin-da commented on #663
If "SyncTables" - it is the set of affected tables by all statements, I guess it make sense to call manually `notifyAboutChanges()` in the end of transaction.

[2016-07-12 09:59] Rainer-Lang commented on #663
@nikitin-da ```notifyAboutChanges()``` is working like a charm! :+1:
And thanks for StorIO!
(Sorry, if this issue wasn't the right one to ask.)

[2016-07-13 09:13] XanderWang opened #671 "Can I filter null object before asRxObservable() ?"
I use **storIO.get().listOfObjects().withGetResolver().asRxObservable()**  to observable database change.
But the  result is not I want, because my  GetResolver will return null object , when i show the chane result , i skip the null object . Can I filter null object before asRxObservable() ?

the version is
compile 'com.pushtorefresh.storio:sqlite:1.8.0'
compile 'com.pushtorefresh.storio:content-

[2016-07-13 09:15] artem-zinnatullin commented on #671
What is `recorder`?

[2016-07-13 09:21] XanderWang commented on #671
sorry,I did not describe clearly.There is no record in my database, it is empty

[2016-07-13 09:26] artem-zinnatullin commented on #671
StorIO should notify you with empty result then. `storIO.get()…asRxObservable()` emits initial result.

In case of empty db:

* `storIO.get().listOfObjects()` will emit empty `List`
* `storIO.get().cursor()` will emit empty `Cursor`
* `storIO.get().object()` will emit `null`

[2016-07-13 09:48] XanderWang commented on #671
i find my error,  i use **storIO.get().listOfObjects()**  and my GetResolver will return null object, when i show GetResolver return data , i skip the null object , so i see no data in my app. Can i filter null object before **asRxObservable()**

[2016-07-13 09:51] artem-zinnatullin commented on #671
Sorry, not sure I follow, can you please rewrite your question (if it is a question) "Can i filter null object before asRxObservable()"?

[2016-07-17 15:44] #591 closed

[2016-07-21 19:48] geralt-encore commented on #638
@artem-zinnatullin what do you think about adding alias method for `object` for better experience in Kotlin?

[2016-07-21 21:31] artem-zinnatullin commented on #638
I'd just add extension function in the project that uses StorIO :)

On Thu, 21 Jul 2016, 22:48 Ilya Zorin, <notifications@github.com> wrote:

[2016-07-26 07:00] #595 closed

[2016-07-26 07:19] #641 closed

[2016-07-28 08:45] gbero commented on #547
Hey,

Jumping here cause there's something I can't get.

I tried the following with .useTransaction(false) and .useTransaction(true) :

`
    storIOSQLite.lowLevel().beginTransaction();

    Log.i("TAG", "start transaction ");

    List<User> users = new ArrayList<>();
    for (int i = 0; i < 100; i++) {
      User user = new User(i, "yo");
      users.add(user);
    }

    storIOSQLite
        .p

[2016-07-28 09:11] gbero commented on #547
OK sorry found it, it's because UserStorIOSQLitePutResolver extends from DefaultPutResolver which overrides performPut to do transactional statement.

[2016-07-28 14:56] gbero opened #673 "Make public generated mapToInsertQuery, mapToUpdateQuery,... methods"
For instance in the : https://github.com/pushtorefresh/storio/blob/master/storio-sqlite-annotations-processor/src/main/java/com/pushtorefresh/storio/sqlite/annotations/processor/generate/PutResolverGenerator.java
Modifiers are put as public for mapToContentValues, but not for mapToInsertQuery, mapToUpdateQuery, ...

It would be useful for when using storIOSQLite.lowLevel().insert() or .insertWithO

[2016-07-28 21:30] nikitin-da commented on #673
Hi, @gbero! I think it make sense.
@artem-zinnatullin what do you think?

[2016-07-28 21:37] artem-zinnatullin commented on #673
I'm ~ok with that, but I'd like to leave them `final`

[2016-07-29 16:59] nikitin-da opened #675 "Queries.placeholders should work with placeholdersCount == 0"
/cc @thevery, @karlicoss

[2016-07-31 08:24] #675 closed

[2016-08-01 09:57] maxim-pandra opened #677 "Using Robolectric for testing"
Hi @artem-zinnatullin
I have listened your podcast and, if my memory serves me correctly, you said, that we should only use robolectric to mock and test only simple framework related objects (Bundles, ContentValues etc). Everything else we should test on device/emulator.

If that is correct then why in sample app in RelationsTest you use robolectric to test whole database behavior and using Runtim

[2016-08-01 10:27] artem-zinnatullin commented on #677
Hey hey! Your question is absolutely NOT stupid.

Let me describe why and for what we use Robolectric in StorIO tests.

What it gives us:

1. Robolectric provides SQLite support including db itself that runs in RAM and Android SDK classes like `SQLiteOpenHelper`, that allows us test `StorIOSQLite`.
2. Robolectric provides `ContentProvider` impl so we can also test `StorIOContentResolver`.

Why we

[2016-08-09 07:01] Nook2007 opened #678 "Limit/offset in StorIOContentResolver"
How to use it?

[2016-08-09 07:18] artem-zinnatullin commented on #678
It's not part of `ContentProvider` API. Usually we put such parameter as Uri query parameters and then parse them on the `ContentProvider` side.

See https://stackoverflow.com/questions/9898043/how-to-add-limit-clause-using-content-provider

[2016-08-09 07:18] #678 closed

[2016-08-13 20:22] Rainer-Lang opened #679 "I need to execute a few thousands inserts."
I have to handle a few thousands of inserts.
How could I do it efficiently?

[2016-08-13 20:51] nikitin-da commented on #679
You should specify `useTransaction(true)`(by default already in transaction).
If you're sure that these objects doesn't already present in db, you can use custom put resolver instead of `DefaultPutResolver` to eliminate cost for querying objects before insert.

[2016-08-13 22:18] Rainer-Lang commented on #679
These inserts are raw sqls. So, no resolver would fit, right?

[2016-08-14 07:50] Rainer-Lang commented on #679
I found a solution which doesn't help me right here because I have only the raw sqls...but I want to share it.

For bulk inserts there seems to be a fine class: InsertHelper
- http://orange-coding.net/2012/04/13/inserthelperandroid/
- http://www.outofwhatbox.com/blog/2010/12/android-using-databaseutils-inserthelper-for-faster-insertions-into-sqlite-database/

[2016-08-15 18:22] nikitin-da commented on #679
`So, no resolver would fit, right?`
Sure, with raw sql statement `putResolver` is useless.

`preInsertHelper` is deprecated right now.
With raw `SQLiteOpenHelper` you can try [prepared statement](https://developer.android.com/reference/android/database/sqlite/SQLiteStatement.html) .
Something like this:
[code]

[2016-08-29 17:52] hotchemi commented on #614
HI, any concrete plan to support it?

[2016-08-30 14:27] maxim-pandra opened #680 "question. Why safe toasts?"
Why sample app has this safe Toasts.java class. Are toast unsafe or something?
Is it common practice in big projects to have one?
thx in advance =)

[2016-08-30 14:59] Rainer-Lang commented on #680
Maybe of the context.

[2016-08-30 15:12] maxim-pandra commented on #680
@Rainer-Lang can you provide some example or be a little more specific?
I allways used Toasts and they never crashed. and i wasn't able to find information on this subject.

[2016-08-30 16:12] artem-zinnatullin commented on #680
Huh, I don't remember precisely, I guess there was a case in our practice when Toast would not work with particular `Context`.

@nikitin-da maybe you remember something? :)

[2016-08-30 16:59] nikitin-da commented on #680
I don't remember such cases=)
I guess all types of context are acceptable and we should just check context for null
(not to swallow `NotFoundException` if `stringRes` is incorrect or `RuntimeException` if we will call it from worker thread)

[2016-09-04 16:27] ZakTaccardi opened #681 "Please show example of how UserWithTweets is used"
UserWithTweets.java and its associated resolvers are un-used throughout the example app. I would love to see how it could be best used.

Thanks!

[2016-09-14 17:03] #679 closed

[2016-09-14 17:22] Rainer-Lang opened #682 "Possible to update only one column of a table?"
I have to update only one column - not the whole table.
I would use a custom PutResolver of course.

But what about the ```InsertQuery```?

[2016-09-14 17:24] Rainer-Lang commented on #682
Just saw it - I could better use ```lowLevel().update()``` instead of ```lowLevel().insertWithOnConflict()```.

[2016-09-14 22:34] nikitin-da commented on #682
If you are sure that row already exist, you can create put resolver like this:
[code]
But I not sure I follow you, what do you mean by `need the UpdateQuery.builder().table(TABLE).build() and this is for all columns`?
If you want to update column across all rows, you can create query just once, otherwise you should specify target rows with specific `UpdateQuery`

[2016-09-15 07:34] Aexyn opened #683 "16964 methods?? Seriously?"
I checked [Dbflow Method Count](http://www.methodscount.com/?lib=com.github.Raizlabs.DBFlow:dbflow-processor:3.1.1) and it shows 16964. Is it true or some bugs in counting methods ?

[2016-09-15 07:35] #683 closed

[2016-09-15 07:36] Aexyn commented on #683
Sorry, wrong repo

[2016-09-15 08:27] nikitin-da commented on #683
![true_story](https://cloud.githubusercontent.com/assets/7294857/18543208/501ff85c-7b37-11e6-81c2-f3b58f7a6f0e.png)

[2016-09-17 06:48] Rainer-Lang commented on #682
@nikitin-da Thanks a lot! Your example is great and helped.

[2016-09-17 06:48] #682 closed

[2016-09-21 20:22] nikitin-da commented on #682
@Rainer-Lang you are welcome =)

[2016-09-23 04:53] ZakTaccardi opened #684 "WhereArgs in Query.Builder has no love for booleans"
whereArgs doesn't like booleans (at least if provided from Kotlin).

had to create an extension function to convert true -> int (1) or false -> int (0)

return Query.builder()
                    .table(TABLE)
                    .where("$COLUMN_ID = ? AND $COLUMN_IS_COMPLETE = ?")
                    .whereArgs(businessId, true.toInt())
                    .build()

Obviously this occurs because

[2016-09-27 13:02] geralt-encore opened #685 "RxJava 2 support"
Any thoughts about how to introduce it in a better manner without dropping RxJava 1 support?
Also `object` methods have to be reworked since they are emitting `null` if there is no requested object.

[2016-09-28 18:46] nikitin-da commented on #684
Hi, @ZakTaccardi
Yes, it is quite simple to check type of argument and replace with integer.
But it is not single place where we should change it.
Will such replacement be obvious for users who write resolvers manually. Should we fail early if they for some reasons use another converting scheme (not such as `0-false, 1-true`)?
/cc @artem-zinnatullin

[2016-09-28 18:54] nikitin-da commented on #677
It seems it can be closed

[2016-09-28 18:54] #677 closed

[2016-09-28 19:01] #511 closed

[2016-09-28 20:25] skrzyneckik commented on #680
@nikitin-da I don't know am I correct but maybe this save toasts were added because of [potential 'race condition' when `AndroidSchedulers.mainThread()` is used](http://blog.bradcampbell.nz/keep-your-main-thread-synchronous/).

[2016-09-28 20:31] artem-zinnatullin commented on #680
No, if you unsubscribe correctly there won't be a race condition

On 28 Sep 2016 4:25 pm, "Krzysztof Skrzynecki" <notifications@github.com>
wrote:

[2016-09-29 21:49] skrzyneckik commented on #427
@artem-zinnatullin in case you didn't know, @touchlab updated released updated [android-orm-benchmark-updated repository](https://github.com/touchlab/android-orm-benchmark-updated) some time ago. I thought about adding StorIO to it as well, but this benchmark is purely for ORM libraries, so imho shouldn't be there. But it didn't prevent me from making a fork of it: [android-db-libraries-benchmark]

[2016-09-30 02:19] artem-zinnatullin commented on #427
You're seeing slow writes with StorIO or it's just hypothetical? Because we
give you full control over SQL and transactions so the only slow down from
us is few allocations for abstractions like Query and Transaction
notifications.

On 29 Sep 2016 5:49 pm, "Krzysztof Skrzynecki" <notifications@github.com>
wrote:

@artem-zinnatullin <https://github.com/artem-zinnatullin> in case you
didn't know, @t

[2016-09-30 07:13] skrzyneckik commented on #427
@artem-zinnatullin It's slow in benchmark: put 2000 Users (3 field object) and 20000 Messages (9 fields object) and I do it like that:
[code]

Is there anything in particular what I do wrong?

[2016-09-30 13:04] artem-zinnatullin commented on #427
Can you please give link to code, I wasn't been able to find StorIO in your
benchmark yesterday (I'm from phone, so that might be a reason), thanks!

On 30 Sep 2016 3:13 am, "Krzysztof Skrzynecki" <notifications@github.com>
wrote:

[2016-09-30 14:33] skrzyneckik commented on #427
@artem-zinnatullin [Here](https://github.com/skrzyneckik/android-db-libraries-benchmark/tree/add_storio/ORM-Benchmark/src/main/java/com/littleinc/orm_benchmark/storio) you can find whole StorIO part package: User and Message represent entities, DataBaseHelper extends SQLiteOpenHelper and StorIOExecutor executes different actions (create table, insert, read and delete table)

[2016-10-02 14:30] geralt-encore commented on #685
Totally forgot about `Maybe` - it's perfect for that case.

[2016-10-03 05:34] artem-zinnatullin commented on #685
Yeah, there is some work required to do RxJava v2 support.

TL;TR plan:

1. Wait for final release.
2. Add basic support for Flowable because it supports backpressure which is
required for IO operations.
3. Add support for Single/Completable.
4. Add/Think about support for Maybe.

RxJava 2 can work with RxJava 1 in same classpath, so  I don't see problems
with that except naming of the methods (I

[2016-10-03 07:51] geralt-encore commented on #685
Not sure if I understand you correctly, so you want to have both RxJava and RxJava 2 in the same library? It sounds not really good having both of these dependencies when you need only one of them in your project.
Regarding supporting `Maybe` - it's a perfect fit for `object` methods since null is prohibited in RxJava 2 and was kinda hacky in a first place.

[2016-10-03 08:56] nikitin-da commented on #685
StorIO has just provided rxjava dependency - you can use rx only when you already have this dependency in your project

[2016-10-03 09:00] geralt-encore commented on #685
Thanks for clarification @nikitin-da!
Anyway, I will be happy to help with this task.

[2016-10-03 13:51] artem-zinnatullin commented on #685
Great, let's wait for release then :)

On 3 Oct 2016 5:00 am, "Ilya Zorin" <notifications@github.com> wrote:

[2016-10-04 02:31] artem-zinnatullin commented on #684
Hm, I think it's a good idea for Query, but not sure about RawQuery. What
are your thoughts on that guys?

On 28 Sep 2016 2:46 pm, "Dmitrii Nikitin" <notifications@github.com> wrote:

[2016-10-04 05:32] nikitin-da commented on #684
What is the difference between `Query` and `RawQuery` from this point of view?
Of cause if we use only generated resolvers - there are no any problems with `Query`, otherwise we haven't full control on this converting.

[2016-10-06 17:41] #673 closed

[2016-10-06 17:43] #680 closed

[2016-10-06 17:58] artem-zinnatullin commented on #684
Well, I mean, `Query` is  abstract over `RawQuery` so it can be ok to do such processing, but `RawQuery` should always be as low-level as possible to allow any type of SQL.

@nikitin-da not sure I got what you said about resolvers :)

cc @thevery /others

[2016-10-06 18:13] artem-zinnatullin commented on #427
@skrzyneckik ah, it's on separate branch!

So, I see few problems in your benchmark:

`writeWholeData()`:

1. You use `LinkedList` which gives significant degradation in reading in compare to `ArrayList` since you have to traverse through heap each time you need to get reference to new element, especially on scale you use it at (`NUM_USER_INSERTS = 2000; NUM_MESSAGE_INSERTS = 20000;`).
2. You can

[2016-10-06 22:09] nikitin-da commented on #684
I mean, if user will decided to make resolver like this:
[code]
And after then will put `wasRead` as argument of `Query` by mistake directly, it will not be easy to find bug in such case.

[2016-10-07 11:25] skrzyneckik commented on #427
@artem-zinnatullin
I agree that logging shouldn't be part of measure action, but rest of executors do it in this way and I wanted to just add StorIO to existing benchmarks and be consistent across all of them without modifying old ones

[2016-10-07 11:48] pranavlathigara opened #690 "Create table inside Database"
Hii
This library is useful for Put,Get and Delete function but my question is how to crate new database and table with use of this library..?

Thank you..

[2016-10-07 12:11] nikitin-da commented on #690
Hi, @pranavlathigara!
For the new database you should create `SqliteOpenHelper` and pass it to `DefaultStorIOSQLite` [like this]( https://github.com/pushtorefresh/storio/blob/master/docs/StorIOSQLite.md#0-create-an-instance-of-storiosqlite)
For DDL operations like table creation, you can use [ExecSql](https://github.com/pushtorefresh/storio/blob/master/docs/StorIOSQLite.md#4-execsql-operation)

[2016-10-07 13:09] skrzyneckik commented on #427
@artem-zinnatullin due to `writeWholeData` I've checked how does it work with changes which you recommended and it's 1.5% faster now, but it's still slow. I'll try to analyse what's going on under the hood and maybe it'll help me to understand what potential bottleneck is.

[2016-10-08 08:11] pranavlathigara commented on #690
thank you....

[2016-10-08 08:12] #690 closed

[2016-10-08 12:50] artem-zinnatullin commented on #427
@skrzyneckik how many times do you run the benchmark, is SQLite used as in-memory db or it stores info on disk, on which device/emulator do you run it?

[2016-10-08 12:54] artem-zinnatullin commented on #684
Ah, I see. Yeah, @ZakTaccardi SQLite is kind of "interesting" regarding type-safety :)

Basically, the type of the column you use in `CREATE TABLE` is not a strict requirement, but "hint" for SQLite to treat it as this type during some operations. But in fact you can store any type of data in any column, so with auto-convert feature we can prevent user from doing some queries he/she would like to

[2016-10-08 14:23] yshrsmz opened #691 "update to RxJava 1.2.0 and up"
in RxJava 1.2.0, Completable API received some [breaking changes](https://github.com/ReactiveX/RxJava/blob/1.x/CHANGES.md#removed).

[2016-10-08 22:05] nikitin-da commented on #639
For generated resolvers there is `ignoreNull` property (#642).
In custom resolver we should not put `null` to contentValues.

[2016-10-08 22:05] #639 closed

[2016-10-09 12:23] skrzyneckik commented on #427
@artem-zinnatullin I found main cause of low `writeWholeData` performance - put operation handles "insert/update if item already exist" and it's a main advantage of StorIO: Put Get Delete instead of CRUD. I completely forgot about it.

Just for the sake of benchmark, I've replaced generated `DefaultPutResolver` with custom one, which `performPut` method doesn't check that item already exists. Now

[2016-10-10 07:07] #691 closed

[2016-10-10 12:36] artem-zinnatullin commented on #427
@skrzyneckik

This is true, but it's only behavior of `DefaultPutResolver`, user can always write own resolver for Put Operation. By default we do very safe but not very performant Put Operation: we first try to `query` entry with same id/etc and only then do `insert` or `update`. We could use `insertOrUpdate` which is faster, but it creates several constraints for `id`s which we don't want all us

[2016-10-10 14:28] skrzyneckik commented on #427
@artem-zinnatullin just for a record: `SQLiteStatement` is ["not thread-safe"](https://developer.android.com/reference/android/database/sqlite/SQLiteStatement.html). So LowLevel should handle it somehow. Later I'll add here some concern which I have about api, which I faced when I tried to replace LowLevel implementation.

[2016-10-10 15:28] artem-zinnatullin commented on #427
@skrzyneckik ok, thanks! Until we have requests to add `SQLiteStatement` from users we won't do it to not bloat API with unused functions

[2016-10-10 16:00] Rainer-Lang commented on #427
@skrzyneckik What do you think ```SQLiteStatement``` will affect the performance? Do you have any experiences?

[2016-10-10 16:18] nikitin-da commented on #427
@artem-zinnatullin there is request for such api from @karlicoss

[2016-10-10 16:30] jpventura opened #694 "Create tables using annotations only"
Isn't it possible to create tables only defining _plain old text objects_ with StorIO annotations, just like it would be done using [SimontVT Schematic](https://github.com/SimonVT/schematic)?

[2016-10-10 16:43] nikitin-da commented on #694
Actually with StorIO you can generate resolvers for get/put and delete operation [like this](https://github.com/pushtorefresh/storio/blob/master/docs/StorIOSQLite.md#how-object-mapping-works) but DDL request itself you should make manually or with some another tool

[2016-10-10 20:48] artem-zinnatullin commented on #427
@skrzyneckik if you have benchmark results with and without `SQLiteStatement` (related or not related to StorIO), I'd be happy to see them (with code of course!).

Last time @StanisVS and I played with it I got impression that it doesn't actually add much perf, I guess, SQLite may cache queries on its own.

[2016-10-11 09:34] skrzyneckik commented on #427
@artem-zinnatullin to compare benchmark of raw sql query with and without `SQLiteStatement` you can take a look on an [origin orm benchmark](https://github.com/touchlab/android-orm-benchmark-updated), which I used to compare StorIO. Unoptimized raw sql queries can be found [here](https://github.com/touchlab/android-orm-benchmark-updated/tree/master/ORM-Benchmark/src/main/java/com/littleinc/orm_ben

[2016-10-11 09:42] skrzyneckik commented on #427
@Rainer-Lang [here](http://stackoverflow.com/a/1703234/2004186) is what I found:

So actually it make sense to have it for PutResolver - it could be lazily initialized, but of course we'll need to have a proper benchmark for it. Another option which I see would be to have `SQLiteStatement` next to raw sql - we could decide does it make sense to compile it based on number of put items. As far as I

[2016-10-11 10:16] skrzyneckik commented on #427
@Rainer-Lang @artem-zinnatullin just to let you know I reviewed `SQLite.insertWithOnConflict` method in Android source ([here](https://gist.github.com/skrzyneckik/54e6a829f57f1aeb1d0036388a1ee51f) you can find gist with it) and you can see there that by default `SQLiteStatement` is compiled for every insert operation anyway, so we'll definitely get some improvement in performance if we'll it do it

[2016-10-12 12:13] rohanagarwal94 commented on #299
@artem-zinnatullin would like to work on this. Could you please be little more specific on the issue?

[2016-10-12 18:18] bluebery commented on #614
+1 hoping for this support!!

[2016-10-13 16:13] artem-zinnatullin commented on #427
@skrzyneckik great info, thanks!

@nikitin-da let's investigate how we can use `SQLiteStatement` in our Resolvers under the hood!

[2016-10-14 08:22] artem-zinnatullin commented on #299
@rohanagarwal94 we basically need support in Gradle scripts for uploading to Maven Central snapshot repository :)

[2016-10-17 07:45] fractalemagic opened #695 "Collection support for Query.whereArgs"
Hey there,

Is there any reason why `Query.whereArgs` only accepts `List`s and not `Collection`s?

I tried to call whereArgs with a `Set` variable, which ended up calling whereArgs(Objects... args) because Set is a subclass of Collection rather than List.

This meant that it didn't handle my args properly ie. it treated my arg as an Object and called toString() on the Set itself, rather than on th

[2016-10-17 10:57] artem-zinnatullin commented on #695
Hello, @fractalemagic!

The reason why we don't allow `Collection` is because `Collection` does not guarantee any ordering for the reader (most of implementations of `Set` don't), while arguments for `SQL` query must be ordered correctly in most types of the queries.

You can always convert your collection to `List` if you're sure about ordering, in Kotlin you can simply call `toList()`.

We're tr

[2016-10-17 10:57] #695 closed

[2016-10-17 11:18] fractalemagic commented on #695
Ah, that makes sense, thanks for the quick response!

[2016-10-17 11:31] artem-zinnatullin commented on #695
np!

On 17 Oct 2016 2:19 pm, "Franklin Wang" <notifications@github.com> wrote:

[2016-10-20 13:52] nikitin-da opened #696 "Add RawQuery.CompleteBuilder.observesTables(Set<String>) method"

[2016-10-20 14:16] nikitin-da opened #697 "RawQuery.CompleteBuilder.args should be generic instead of taking vararg of objects"

[2016-10-21 19:14] ZakTaccardi opened #700 "Discussion on Rx and multiTable entities"
In my opinion, SQL is painless until you start having to write joins. With Rx, "in-memory" joins, while less efficient, they are API friendly when using an operator like `.combineLatest()`.

Problem: When observing a multi-table entity via `.combineLatest()`, a `put` operation using that entity results in multiple `onNext()` calls (because multiple tables are updated).

Let's say I have a `Shoppin

[2016-10-22 08:46] Rainer-Lang commented on #542
May I ask for the status?

[2016-10-22 10:30] nikitin-da commented on #700
Hi, @ZakTaccardi !
As a workaround to combine notifications you can put both objects in one transaction:
[code]

In case of putting few heterogeneous objects with one prepared operation: it will be tricky to specify put resolver for every kind of them.

[2016-10-22 10:48] nikitin-da commented on #542
Hi, @Rainer-Lang !
Sorry, but I haven't started to implement it yet =(
As it may affect current api it will be possible in v2.0.0
Do you want it for logging?

[2016-10-22 11:15] Rainer-Lang commented on #542
@nikitin-da Yes for logging. I don't want to log via ```doOnNext()``` or something else. I think logging would be really great. But please, I don't want to rush you. Take your time. :)
"When it's done - it's done." :)

[2016-10-23 10:22] #697 closed

[2016-10-23 10:28] #696 closed

[2016-10-24 18:24] sreejithraman opened #701 "Can I use the annotation processor with subclasses?"
For example, can I have an Animal class, Lion class, and Tiger class. Tiger and Lion share similar column names like weight, height, etc. Would such a senario work with storio's annotation processor? Is there anything I should keep in mind when doing this?

[2016-10-24 19:36] ZakTaccardi commented on #700
Thanks!

Here's a kotlin extension function to wrap a transaction properly.

[code]

Feel free to close this or leave it open (if you plan on some type of future 2.0 API improvement)

[2016-10-26 06:09] nikitin-da commented on #701
Hi, @sreejithraman !
Sorry, but at the moment storIO annotation processor doesn't work with subclasses.
We should make smarter annotations validator to have this possibility.
Right now you should make type mapping for whole hierarchy manually.
Sorry =(

[2016-10-26 06:34] nikitin-da commented on #700
Thanks, @ZakTaccardi, it looks pretty good!
Moreover if you would not want to deal with `lowLevel` and transaction you can add all objects into one list and then put it like this:
[code]

About api changes: I thought about method in `StorIOSQLite` that takes multiple `PreparedOperation` and execute them in one transaction.
But it may seems superfluous and there were plans to remove prepared operat

[2016-10-26 06:51] nikitin-da opened #702 "Add note about notifications to javadoc of DefaultStorIOSQLite.LowLevel methods"
Right now it is not mentioned that DefaultStorIOSQLite.LowLevel.insert, update, insertWithOnConflict, delete and executeSQL methods will not notify about changes in tables.
Especially `affectsTables` in `RawQuery` can be cause of misleading:

[code]

[2016-10-26 09:47] PaulWoitaschek commented on #528
Any news on this? Would make storio my dream db ;-)

[2016-10-27 05:32] tseglevskiy commented on #614
Folks, are you going to support it?

[2016-10-27 07:50] nikitin-da opened #704 "Add support for precompiled statements"
1. I think it will be helpful to have in `LowLevel` getter for underlying `sqLiteOpenHelper`.
The same thing has been already implemented in `StorIOContentResolver.LowLevel` and it can solve problems with such particular thinks like precompiled statements if user will need it.
2. To complete support for prepared statements I suggest to add methods to `StorIOSqlite` like `compiledExecute`, `compile

[2016-10-27 16:43] artem-zinnatullin commented on #528
I'm currently not using AutoValue… @nikitin-da, @geralt-encore?

[2016-10-28 05:30] nikitin-da commented on #528
Right now I don't use processing.
I would like to work on this after precompiled statement support.

[2016-10-28 06:44] geralt-encore commented on #528
I really would like to help with this. I've started it couple of times, but it was too big and I had something more important to do, so  I never wasn't able to finish it.

[2016-10-28 21:22] ShikherVerma commented on #541
@artem-zinnatullin I wanted to contribute to this library. I see #542 solves this in a more generic way but since this issue is still open can I work on this ?

[2016-10-28 23:56] artem-zinnatullin commented on #541
@ShikherVerma what about resolving #542 first? We can discuss design of Interceptors API and accept PR(s) from you with implementation!

[2016-10-29 12:54] ShikherVerma commented on #541
Sure. I have end semester exams in a few days. I'll discuss #542 with you after that. Thanks.

[2016-10-30 13:05] ivansurguchev opened #705 "How to annotate subclasses properly?"
In my project I am using inheritance for entities. For example:

[code]

How to annotate entities properly in this situation?

[2016-10-30 13:10] #705 closed

[2016-10-30 16:03] artem-zinnatullin commented on #705
Ooook :)

[2016-10-31 09:32] geralt-encore commented on #685
https://github.com/ReactiveX/RxJava/releases/tag/v2.0.0

[2016-10-31 14:31] artem-zinnatullin commented on #685
Yup, still waiting for more stable build though, but we can start migration.

[2016-10-31 19:03] Adambl4 commented on #685
Good reason to lay the foundation for `StorIO v2`, huh?

[2016-10-31 22:26] artem-zinnatullin commented on #685
Hah, probably, but we're using semantic versioning so StorIO will become v2 as soon as we break API, adding RxJava v2 is planned as non-breaking change at the moment, so I guess StorIO will still be v1.

BUT: I'd like to keep both RxJava v1 and v2 only for the period of migration (in our internal and yours, users's) apps from RxJava v1 to v2 and when we'll see that RxJava v1 is not actively used a

[2016-10-31 22:51] artem-zinnatullin commented on #700
Wwwwwait guys, as @nikitin-da mentioned, @ZakTaccardi you can just put all objects to one collection and perform Put operation over that collection, StorIO will wrap it into one transaction so I'm not sure you need this custom extension function. Moreover, with Kotlin it's about adding `listOf(obj1, obj2)` or `collection1 + collection2`.

@ZakTaccardi we had such cases when we needed to observe ch

[2016-10-31 22:52] artem-zinnatullin commented on #700
P.S. @ZakTaccardi, @nikitin-da  I'm very sorry for answering with such delays…

[2016-11-01 00:00] artem-zinnatullin commented on #704
Hm. I was thinking about different implementation: on the `Query` + `StorIOSQLite` level.

Since our Queries are immutable, we can actually create precompiled statement per query (and as ThreadLocals if needed) and store them as as fixed size LIFO map in `SQLiteOpenHelper` so if we have precompiled statement for Query — use it, otherwise — precompile and use it!

I don't want to add any new public

[2016-11-01 05:44] nikitin-da commented on #685
I agree, both versions will be required for a certain period of time

[2016-11-01 06:01] nikitin-da commented on #704
Nice idea!
But should we add an option to enable/disable such optimization per operation, per `StorIOSqlite`?
Could it happen that precompile + single bind will be less efficient then single operation execute?
`LIFO map in SQLiteOpenHelper` do you mean LRU cache in `StorIOSqlite`?
DB Expert, @StanisVS, we need your advice)

[2016-11-01 06:20] ValeriusGC opened #707 "So, what about ManyToMany sample? It would be very kind..."
Hi!
Alas, I can't understand how realize it in "StorIO-way"...
Earlier in #436 you referred on decision, but [excuse me my stupidity] I does not see it in storio-sample.
I see UserWithTweets which is OneToMany, but how realize M2M???

Thanks beforehand, BBK

[2016-11-01 06:43] artem-zinnatullin commented on #704
Well, we can try implement that and then decide whether it should be option
or not!

On 1 Nov 2016 9:01 am, "Dmitrii Nikitin" <notifications@github.com> wrote:

[2016-11-01 06:54] ValeriusGC commented on #622
Thanks a lot to @skrzyneckik for basic sample. But it is as overly simplified example, alas.
One would like to see really "печенюшки". At least:
- how to observe changes via Get?
- how to make ManyToMany - nontrivial but frequently relation.

[2016-11-01 07:35] geralt-encore commented on #685
Sounds good 👍

[2016-11-01 08:16] artem-zinnatullin commented on #685
Though I admit that with https://github.com/akarnokd/RxJava2Interop from @akarnokd we can leave only RxJava v2 support and force users to use interop library to convert types between v1 and v2, but without extension methods support in plain Java it'll be non-fluent and add a lot of boilerplate to the code.

[2016-11-01 09:28] geralt-encore commented on #685
What about using interop library internally? Completely migrate to v2 and provide methods for v1 interop via the library. Then just wipe it after some time.

[2016-11-01 09:57] Adambl4 commented on #685
`RxJava1` has 5k methods, `RxJava2` another 9k.
Forcing users to have v2 in classpath if they don't need it is a crime against humanity.

[2016-11-01 11:36] skrzyneckik commented on #622
@ValeriusGC

To observer changes via Get you just need to observer query results as a RxJava observable - you can find how to use it [here](https://github.com/pushtorefresh/storio#reactive-observablejusttrue) and this scenario is presented in storio-sample-app right [here](https://github.com/pushtorefresh/storio/blob/master/storio-sample-app/src/main/java/com/pushtorefresh/storio/sample/ui/fragme

[2016-11-01 11:38] skrzyneckik opened #708 "Add README to basic sample"
I would like to propose adding README file as a description to explain potential users that basic sample is as basic as possible and more complicated scenarios they can find in storio-sample-app module

[2016-11-01 12:01] skrzyneckik commented on #704
@nikitin-da

As I mentioned in #427 [SQLiteDatabase.insertWithOnConflict](https://github.com/android/platform_frameworks_base/blob/master/core/java/android/database/sqlite/SQLiteDatabase.java#L1438) which is used by StorIO under the hood, creates `SQLiteStatement` everytime when new data is inserted into db, so if we would reuse it, I don't see where we could loose performance for single executed

[2016-11-01 14:30] ValeriusGC commented on #622
Of course, there is such hook, but no method to illustrate how changes are been observable.
@artem-zinnatullin I made some changes in storio-sample-app.

- Fixed getResources().getQuantityString(R.plurals.tweets_inserted, results.results().size()) in MainActivity, because Toast looks like '%d tweets inserted'.
- Fixed error: 'BootstrapApplication cannot be cast to ApplicationClass' when Instant Ru

[2016-11-02 04:41] putt opened #709 "Force implement all three resolver ?"
I just want do the GET action, and build the mapping like this:
.addTypeMapping(TicketWithCollection.class,
                        SQLiteTypeMapping.<TicketWithCollection>builder()
                                .putResolver(null)
                                .getResolver(new TicketWithCollectionGetResolver())
                                .deleteResolver(null)

[2016-11-02 05:45] nikitin-da commented on #709
Hi, @putt
If you want to specify resolver for particular operation you can provide it like this
[code]
But, yes, it isn't allowed to add not complete type mapping to `StorIOSqlite` =(

[2016-11-02 06:18] nikitin-da commented on #685
I don't like the idea to keep RxJava v2 methods only.
On the one hand it will speed up migration, but on the other hand it will lead to boilerplate on java6 and step towards to multidex 😱 on this period.
👍 for `asRxObservable` and `asRxObservable2`
Sure it will be more difficult for us, but much more democratic for users

[2016-11-02 10:38] putt commented on #709
thanks, @nikitin-da . I perfer the Mapping way.
Now I find anonymous Resolver can get pass the null check. I think I will leave them in my DbModule ;)
.putResolver(new PutResolver<TicketWithCollection>() {
    @NonNull  @Override
    public PutResult performPut(@NonNull StorIOSQLite storIOSQLite, @NonNull TicketWithCollection object) {    return null;   }
})

[2016-11-03 06:16] nikitin-da commented on #709
Hah there are @NonNull and @Override users on github=)
@artem-zinnatullin should we check type mapping per operation and allow nullable resolver?
In the bad case it will be runtime error too, so it does not seem to lose anything

[2016-11-04 13:59] ValeriusGC opened #712 "ManyToMany... Need recipe: how to create a staging table in a stylish "storio way"?"
Have you a live, working recipe, how create this "bridge-table with foreign keys" in more elegant way?

[2016-11-04 15:16] ValeriusGC opened #713 "Recursive call in performPut(@NonNull StorIOSQLite storIOSQLite, @NonNull ... object)"
Well i made some architecture for my case.
Note has list of Tags
To store them i override performPut
[code]

In `.executeAsBlocking()` is happening recursive call of this `performPut.`
How make it correct?

[2016-11-05 00:16] nikitin-da commented on #713
Hi, @ValeriusGC
You shouldn't put object via `storIOSQLite.put().objects` inside resolver of the same object.
To prevent this recursion you should put `note` as content values instead (see [DefaultPutResolver](https://github.com/pushtorefresh/storio/blob/master/storio-sqlite/src/main/java/com/pushtorefresh/storio/sqlite/operations/put/DefaultPutResolver.java#L77)).
Otherwise you will receive the s

[2016-11-07 06:32] nikitin-da commented on #707
Hi, @ValeriusGC
You can try something like this https://github.com/pushtorefresh/storio/pull/714
It is not trivial but StorIO is not ORM and there is no magic under the hood.
So you should write such things as you normal code using existed type mapping.

[2016-11-07 12:36] ValeriusGC commented on #707
Thanks, @nikitin-da
I realize StorIO differs from ORM and have no thoughts to see "ORM-magic" in it )
All i'd like to see - recipe how to make it in elegant mode, with all of the power of this library.
The fact is not everything is always obvious in such complex projects.
And it seems you made it clearly, thanks.

[2016-11-07 12:36] #707 closed

[2016-11-08 06:09] nikitin-da commented on #713
Closing, feel free to comment!

[2016-11-08 06:09] #713 closed

[2016-11-08 06:20] ValeriusGC opened #715 "Real exception has been swallowed during call chain"
When i tried make sql-query on non-existent table i got exception of type
`android.database.sqlite.SQLiteException: no such table: persons (code 1): , while compiling: SELECT * FROM persons` in **PreparedGetListOfObjects.executeAsBlocking():122**.
But later going thru call chain this type was hidden and only `StorIOException("Error has occurred during Get operation. query...` was in error message.

[2016-11-08 06:21] #712 closed

[2016-11-08 07:03] nikitin-da commented on #715
Yes, we wrap exception into StorIOException.
Exception message should include query that may contain mistake.
But we don't swallow the original exception - it is places as cause.
[code]
Are there original exception in stack trace?

[2016-11-08 07:11] ValeriusGC commented on #707
Hi, @nikitin-da.
Look, something wrong happening in "on change subscription" in this sample.
It's about `Subscription subscribeToPersonsAndCars()` in **ManyToManyActivity**.
Every push for "add" or 'remove' car raises ever-increasing chain of calls.
I place logger in
[code]
For first pressing on '+' i got 5 identical string. For second one - 7. Then pressed on '-' and got 10 log strings. And so on

[2016-11-08 07:36] ValeriusGC commented on #707
I solved this by adding `.first()` operator before `.flatMap`. But maybe i do it wrong way? Maybe somewhere under the hood one should purge some buffer of affected tables?

[2016-11-08 07:54] ValeriusGC commented on #715
Yes i saw that, thanks. But real error is not in "bad query" or something like that. Root mistake was in non-existence table. Maybe reasonable for show it for client? In my case i wasted some time and bulk of breakpoints to  solve the problem.

[2016-11-08 19:29] pbochenski commented on #614
+1

[2016-11-09 10:18] nikitin-da opened #716 "DefaultStorIOSQLite should combine affected tables from pending changes"
DefaultStorIOSQLite notifies about every unique pending change.
It should make it just once with new instance of `Changes` that will combine all affected tables.

[2016-11-11 10:55] Aexyn commented on #541
+1

[2016-11-11 10:56] Aexyn opened #718 "Can this library be used with agera?"

[2016-11-11 13:03] artem-zinnatullin commented on #718
Yes, why not? Though we don't provide first-party support for it, but you definitely can covert our ÅPIs to Agera style.

[2016-11-11 13:03] #718 closed

[2016-11-13 01:05] artem-zinnatullin commented on #614
PR is welcome :)

Ideas for possible implementation:

1. Allow apply `@StorIOSQLiteColumn` to methods (that will allow us work with getters and setters which Kotlin generates for `var/val`.)
2. Handle methods starting with `get/set` in annotation processor, notice that `val` won't have `set`
3. Handle creation of class instance through constructor call with parameters (most significant part).
4. …

[2016-11-13 01:17] artem-zinnatullin commented on #708
PR welcome!

[2016-11-13 01:18] artem-zinnatullin commented on #704
SGTM, @nikitin-da you'll be able to test it in Yandex.Mail since it uses DB all the time and see if it increases performance or not!

[2016-11-13 01:25] artem-zinnatullin commented on #685
@geralt-encore

:+1:

PR welcome!

@Adambl4 nobody will force you download RxJava v2, we'll add it same way we added RxJava v1 support, it's optional dependency!

[2016-11-13 01:29] artem-zinnatullin commented on #709
Well, I don't want to accept `null` because it'll require us to add a lot of `if (resolver == null) throw UnsupportedOperationException` in different places…

@putt I think creating resolver that throws `UnsupportedOperationException` is much better approach. SGTY?

[2016-11-13 14:03] artem-zinnatullin commented on #715
Cause of the exception should be shown in stacktrace with its message, wrapping should not be a problem!

[2016-11-13 14:03] #715 closed

[2016-11-13 16:01] geralt-encore commented on #528
I am going to start working seriously on this issue next week. Hope will have something to show by the end of the week.

[2016-11-14 11:55] artem-zinnatullin commented on #528
Yay 🎉

[2016-11-14 12:16] geralt-encore commented on #528
My initial plan:

- Allow to annotate methods with `StorIOSQLiteColumn ` and perform all the necessary validations
- Introduce new annotation for factory methods or constructors for marking methods/constructors for creating an object
- The hardest part is to map column fields with factory methods/constructors fields. Do you think that it will be good enough to do it based on the order of fields? I

[2016-11-15 07:05] artem-zinnatullin commented on #528
2nd item is especially interesting (I didn't though about additional annotation for constructor, but I like its explicitness). Regarding third item — if you can get parameter names of the constructor, that would be good, but if you can't — then sure use order of the parameters.

SGTM!

[2016-11-18 13:49] maxim-pandra opened #719 "Error has occurred during Get operation. LIKE '%?%'"
Hi!

Get operation works like this

[code]
but doesn't work like this:

[code]

Any idea why?

Thanks!

[2016-11-19 08:02] nikitin-da commented on #719
Hi, @maxim-pandra!
You should escape bindable parameter from literal.
Would you try something like this?
[code]

[2016-11-19 23:47] #716 closed

[2016-11-23 14:37] AlexAndroidDev opened #721 "Distinct not working with rawQuery"
Subscription sc = storIOSQLite
                .get()
                .listOfObjects(Tweet.class)
                .withQuery(RawQuery.builder()
                        .query("SELECT DISTINCT author FROM tweets")
                        .observesTables("tweets")
                        .build())
                .prepare()

                .asRxObservable()

                // Get Result as rx.Obse

[2016-11-24 06:17] nikitin-da commented on #721
We [directly pass](https://github.com/pushtorefresh/storio/blob/8a7d6aa4db6dfeece669dfefc3ed3e56f19df965/storio-sqlite/src/main/java/com/pushtorefresh/storio/sqlite/impl/DefaultStorIOSQLite.java#L336) query string from `RawQuery` to `SQLiteDatabase#rawQuery` without any modifications.
Do you have more specific example? Because in case of `tweets` from storIO you can't create `Tweet` object from `a

[2016-11-25 13:13] ShikherVerma commented on #541
@artem-zinnatullin Exams over!! Please help me get started.

[2016-11-25 14:37] Rainer-Lang commented on #541
I hope exams were good :-)

[2016-11-25 18:28] ShikherVerma commented on #541
@Rainer-Lang thanks. I'll pass :)

[2016-11-25 18:29] ShikherVerma commented on #541
@artem-zinnatullin i'll be great if we could discuss over hangout or fb

[2016-11-25 21:35] artem-zinnatullin commented on #541
Nononononono, only public discussions here so anyone will be able to follow progress and contribute to it

[2016-11-25 21:38] artem-zinnatullin commented on #541
I would suggest to start with:

1. Reading [Stetho sources](https://github.com/facebook/stetho) first.
1. Check how [Stetho OkHttp integration](https://github.com/facebook/stetho/tree/master/stetho-okhttp3) works since we're going to go with pretty similar solution of using interceptors.
1. Then publish your thoughts about it here
1. Then we can discuss StorIO Interceptors API
1. Then we can imple

[2016-11-28 18:48] AlexFrost commented on #694
Maybe it can generate Table classes form annotated POJOs using fields name, so we can use its in query. Because it is annoying to write all this columns name and set it back to POJO.

[2016-11-29 07:14] nikitin-da commented on #719
Closing. Feel free to comment

[2016-11-29 07:14] #719 closed

[2016-11-29 07:16] nikitin-da commented on #709
Closing. Feel free to comment or reopen

[2016-11-29 07:16] #709 closed

[2016-11-29 07:18] nikitin-da commented on #700
Also #717 will help to handle it

[2016-11-29 07:18] #700 closed

[2016-11-29 20:49] ZakTaccardi opened #723 "Add marker interface for pojos that can be put/get"
Could help a bit with type safety

[code]

[2016-11-29 22:33] ZakTaccardi opened #724 "A delete query for a table named "'transaction'" locks indefinitely"
[code]

I had to rename the table to be "transactions" to workaround the issue.

[2016-11-29 22:45] artem-zinnatullin commented on #724
Well, I guess SQLite just forbids deletion of this table, no? :) Can you please try to remove it using underlying `SQLiteOpenHelper` directly?

[2016-11-29 22:46] artem-zinnatullin commented on #723
Hm, interesting idea, but it will forbid you from working with classes that you don't control but have custom adapters for, like classes from libraries.

@nikitin-da thoughts?

[2016-11-29 23:00] ZakTaccardi commented on #723
@artem-zinnatullin agreed, I can see how that can be a limitation that would outweigh the benefit for users relying on that flexibility.

Here's the use case I was hoping this would solve:
I convert my StorIo POJOs into a Kotlin data class, and sometimes I forget to convert the Kotlin data class into the StorIo POJO on put operations.

[2016-11-29 23:14] artem-zinnatullin commented on #723
Yeah, I understand your pain, I catch myself everytime with same problem using Gson and other similar libraries, so I really like your proposal, but we have to check how many users may be affected by such change, since it's not backward compatible at all…

[2016-11-30 08:38] nikitin-da commented on #723
Good idea to move this check to compile time, but marker interface itself will not force you to add type mapping. It looks like excess step and it will be impossible to use entities from libraries =(

[2016-11-30 08:56] nikitin-da commented on #622
Would it be right to have 3 sample projects?
1) [basic sample](https://github.com/pushtorefresh/storio/tree/master/storio-basic-sample-app) on java as is to explain how to get started
2) samples on java, with separate screen on every feature, like sqlite, content-resolver, many-to-many.
3) samples on kotlin for the same features
//cc @artem-zinnatullin @pbochenski

[2016-12-06 09:44] geralt-encore commented on #614
This one can be closed now.

[2016-12-06 09:44] geralt-encore commented on #528
This one can be closed now.

[2016-12-06 09:57] #614 closed

[2016-12-06 09:57] #528 closed

[2016-12-06 12:36] Saketme opened #727 "Cannot resolve @StorIOSQLiteCreator"
Hello, I'm using the latest version of the library (1.11.0) and I cannot seem to be able to find `@StorIOSQLiteCreator`. I've these dependencies in my `build.gradle` file:

    compile 'com.pushtorefresh.storio:sqlite:1.11.0'
    compile 'com.pushtorefresh.storio:sqlite-annotations:1.11.0'
    apt 'com.pushtorefresh.storio:sqlite-annotations-processor:1.11.0'

Any idea what I'm missing?

[2016-12-06 12:54] geralt-encore commented on #727
Version with `@StorIOSQLiteCreator` hasn't been released yet. It should be available in 1.12 version. @artem-zinnatullin and @nikitin-da can say more about estimated release date.

[2016-12-06 12:55] Saketme commented on #727
Well, it's slightly confusing if you are adding unreleased features into your README :)

Is it possible to use a snapshot version?

[2016-12-06 13:03] geralt-encore commented on #727
I understand you. It is particularly my fault since I have done PR with README update, but I didn't expect that it will be merged before the new version. Sorry for the confusion.
I think it should be possible to add current master snapshot using [jitpack](https://github.com/jitpack/jitpack.io).

[2016-12-06 13:09] Saketme commented on #727
A snapshot version will be really awesome. If that doesn't happen, we'll be forced to use something else :(

[2016-12-06 14:20] saket opened #728 "What's the best way to put or update in case of conflict?"
Hello!

Apart from using `DefaultStorIOSQLite#lowLevel()#insertWithOnConflict`, is there any other way I can use `DefaultStorIOSQLite#put()` which falls back to update if a row with the same primary eky already exists?

[2016-12-06 15:28] artem-zinnatullin commented on #728
Yes, you can basically do whatever logic you want to do, ie query db to
find "existent" row and update it or remove it and insert new one, up to
you, just don't forget to put such logic into a transaction!

On 6 Dec 2016 5:20 pm, "Saket Narayan" <notifications@github.com> wrote:

[2016-12-06 16:08] artem-zinnatullin commented on #727
We'll try to do release soon, don't worry :)

On 6 Dec 2016 4:09 pm, "Saket Narayan" <notifications@github.com> wrote:

[2016-12-08 07:06] geralt-encore opened #730 "Enums support in annotation processors"
What are your thoughts on this feature? Would be happy to implement it.

[2016-12-08 07:17] nikitin-da commented on #730
It would be great!
But how can we perform serialization? Should it be some db value extractor or just ordinal value? (danger for persistence in case when we will add new item in the middle ordinal will be shifted) =(

[2016-12-08 07:25] geralt-encore commented on #730
You are right about `ordinal`. But what about `valueOf`? Then we can just save String representation of enum.

[2016-12-08 08:43] nikitin-da commented on #730
Oh yeah, with `name` - `valueOf` it should work! 👍

[2016-12-08 20:33] S1owaway opened #731 "Wrong get result"
such a case:
1. Get something from the database (the table 'Accounts' for example)
2. Alert table (add new column) using the following:

3. The next get query anywhere in the application returns wrong result (returns data without new column). But the following query in the database gives the correct result.

Manipulations with observesTables()/affectsTables() did not yield results. However, when I

[2016-12-09 06:23] nikitin-da commented on #731
Hi, @S1owaway !
There is the same behavior with the "raw" sqlOpenHelper:

[code]
On the sqlfiddle SQLite (SQL.js) all works fine http://sqlfiddle.com/#!5/725e6/8

[2016-12-09 12:36] S1owaway commented on #731
Спасибо за ответ. Поведение в представленном вами примере понятно и логично. А вот поведение StorIO непонятно. Либо это бага, либо фича такая интересная. Обидно, так как библиотека уже вплотную используется в немаленьком проекте. Неужели придется переезжать на что нибудь другое.
Опишу еще раз проблему, возможно меня не так поняли.
Есть таблица, например с 4мя столбцами, первые 2 статические, остал

[2016-12-09 13:34] nikitin-da commented on #731
Can we please continue in english to keep issue available to all interested?

First of all StrIO uses sqlOpenHelper under the hood.
As I said before in the example I met the same behavior in sqlOpenHelper. I also read the value twice. And first time it was not updated.
[code]
I havn't investigate the cause of this problem yet, but can't you instead of adding columns for every account decompose thi

[2016-12-09 14:06] artem-zinnatullin commented on #730
But proguard, if it'll rename enum values users can get very "funny"
problems since proguard does not guarantee that after code changes it'll
give same names.

We'll have to be very careful with documentation and samples.

But other than that I'm 100% for doing that!

On 8 Dec 2016 11:43 am, "Dmitrii Nikitin" <notifications@github.com> wrote:

[2016-12-10 10:17] artem-zinnatullin opened #732 "We own @geralt-encore a beer!"
@geralt-encore dude, @nikitin-da and I own you a beer 🍻 for [all you've done for StorIO](https://github.com/pushtorefresh/storio/search?p=2&q=geralt-encore&type=Issues&utf8=✓)!

Ping us when you'll be in Saint-Petersburg (in 99% of cases I might be somewhere else, but I'll try my best to be there at that time) and we'll go to some bar and discuss many things 😸

Maybe @nikitin-da will also invite s

[2016-12-10 13:45] nikitin-da commented on #732
I completely agree! And I am certain this is bug, that we haven't done this yet! 🍺🍺🍺
Sure I will invite guys!

[2016-12-10 13:46] artem-zinnatullin commented on #732
Haha, true true, critical :D

[2016-12-10 14:01] artem-zinnatullin opened #733 "@artem-zinnatullin owes beer to @ZakTaccardi"
As continuation of #732 I'd like to file an issue  that I personally owe beer 🍻 to @ZakTaccardi for all his comments in threads on Reddit when he proves people that StorIO is able to do things they think it's not 😸

@ZakTaccardi, whenever we'll be somewhere at the same time at ~same location -> feel free to ping me to go 🍻 and talk about software development things!

[2016-12-10 20:52] S1owaway commented on #731
Thank you for your help. It seems the problem is really on the SQLite level. In my case, add a column for the table is the only way. Fortunatly it is the very rare operation. Thank you for StorIO.

P.S.: by the way, using the library I faced with some discomfort. When I update some field in the table, I want to know where exactly this update happened (particular id). The current table observers ar

[2016-12-10 22:35] artem-zinnatullin commented on #731
We can attach Query that caused Change, but it might not be helful in cases like `DELETE * WHERE id LIKE %s% FROM users` since we don't know which rows will be affected by such queries so we decided to not include such feature into initial design.

[2016-12-11 14:18] geralt-encore commented on #732
Thank's guys! It's a pleasure for me to work with you on StorIO 😊
Since now I am living in Helsinki so it's quite possible that eventually, I'll be in Saint-Petersburg and will be happy to have a beer with you 🍻

[2016-12-11 14:23] geralt-encore commented on #730
Wow, thanks, @artem-zinnatullin, for a really good point! I haven't thought about it.
So looks like that we have to options and both of them aren't perfect. Using `ordinal` can cause potential issues with changing order of enum members. And using `valueOf` can cause issues with Proguard and additional headache for users because of it. What will be the best option you think? Or maybe I missed somet

[2016-12-12 08:11] nikitin-da commented on #727
@Saketme check please 1.12.0!

[2016-12-12 11:05] pbochenski opened #735 "Auto generated GetResolver has constructor with wrong parameter order in Kotlin"
Reproduction steps:
1. create class with more than two columns f.e.
[code]
2. build project (couple of times if needed).

The reason for that is kapt (kotlins annotation processor, don't know about apt) does not process annotations in creation order.

[2016-12-12 11:16] geralt-encore commented on #735
Did you check it with kapt or kapt2?

[2016-12-12 11:23] pbochenski commented on #735
kapt1 I guess (I'm using '1.0.5-2' version of Kotlin)
the one with
[code]

[2016-12-12 11:30] pbochenski commented on #735
just checked with the new kapt (the one described here: https://blog.jetbrains.com/kotlin/2016/09/kotlin-1-0-4-is-here/) and the problem is still occurring.

[2016-12-12 12:11] geralt-encore commented on #735
Looks like I was very (un)fortunate with my Kotlin test case, but it's still my fault because I haven't tested it properly and was more concentrated on AutoValue case. I asked a question in Kotlin slack if it is expected behaviour or not. If it works as expected then I'll add an ordering parameter to column annotations and will sort fields according to it.
Thank you, very much for filing this issu

[2016-12-12 13:27] pbochenski commented on #735
maybe some reflection can be used to avoid parameter numbering?

[2016-12-12 14:44] geralt-encore commented on #735
JetBrains guys said that kapt should behave in the same way as apt.
So here is an issue: https://youtrack.jetbrains.com/issue/KT-15202.
Since we don't know when it will be fixed and current version doesn't work I think we still need to do something even if the problem is on kapt side.

[2016-12-12 18:58] sreejithraman opened #736 "Null values are getting written when using a custom put resolver to prevent it"
I created a put resolver that looks like this:
[code]

Bascially if the user's email is null, I don't want to override it, so I remove the content value. When debugging, I know it hits this line and properly returns the ContentValues object without the email column.

I know I can use the `ignorenull` property, but i want to know why this is not working.

[2016-12-12 19:27] sreejithraman commented on #736
So, debugging more, [I fixed it but I have no clue why it works.](http://images-cdn.9gag.com/photo/anYZ9Eo_700b.jpg)
In the code above, I left out another thing I was doing. Here is what it actually looked like:
[code]
Notice that I was removing the email column twice. When I fixed it to remove the correct column, it magically started working. Does anyone know why this would be the case??

[2016-12-13 08:35] nikitin-da commented on #736
Hi, @sreejithraman !
It is strange that duplicate remove value from map make it to work=)
I can't reproduce you case, can you please help me on branch (https://github.com/pushtorefresh/storio/commit/675bb6216762acc7c62730f08fcbed9a283564f8#diff-24675be996f2e24c996d51fdcedbcbf7R32) or give some another example?

[2016-12-13 14:44] sreejithraman commented on #736
@nikitin-da no, it wasn't adding the duplicate remove, it was removing the duplicate remove. I had initailly taken out extra code in my original post thinking the issue was in that code block. Later when I realized that the issue was that I was calling `contentValues.remove(UsersTable.COLUMN_EMAIL);` twice, I posted all of the code I originally had to show what was happening. Notice that in my if

[2016-12-13 15:16] nikitin-da commented on #736
I don't think that the cause may be in the duplicate removing)
I added the second call as you advised, in branch (https://github.com/pushtorefresh/storio/commit/0a9906a09c28262ca00b491c1a49f84636daffc4#diff-24675be996f2e24c996d51fdcedbcbf7R51) and test was passed.
Can you please pull this branch and make changes to break it or share some simple example where you can reproduce it ;)

[2016-12-13 15:21] sreejithraman commented on #736
hmm.. interesting. yea, i'll try to reproduce it and let you know if I am successful

[2016-12-13 15:40] artem-zinnatullin commented on #730
Another thing I'm worried about is that users might want to change value
type and names stored in the db, let's say I have enum(VALUE1, VALUE2) but
I want to store them as integers 1 and 2 no matter what ordinal() they have
or names, especially useful in case if you rename value in enum but want to
keep compatibility with already stored values in database.

I guess we'll need to add annotations su

[2016-12-14 10:18] NightSkyDev commented on #475
Hi, I'm new to StorIO and having trouble finding documentation.  Can you point me to the documentation on this change as I want to implement a ColumnConverter for an enum.

Thanks for the library!  There's a lot here to like, but it's slow getting started with it.  (And I've set up MANY ORMs on Android.)

[2016-12-14 11:25] geralt-encore commented on #475
@NightSkyDev Unfortunately, it hasn't been implemented yet.

[2016-12-14 13:09] outofdate commented on #685
Any updates on RxJava2 support?

[2016-12-14 13:29] lectricas commented on #505
good idea!
Error:(10, 8) error: Class marked with StorIOSQLiteType annotation should have at least one KEY field marked with StorIOSQLiteColumn annotation
is really confusing

[2016-12-14 14:20] NightSkyDev commented on #475
Thanks @geralt-encore ... just to be clear, this feature or the documentation has been implemented yet?  (I thought this issue was part of v1.10.0?, or am I misunderstanding the milestone labels?)

[2016-12-14 14:22] geralt-encore commented on #475
I am not in charge of milestones, so can't say anything about it. But I am sure that this feature hasn't been implemented yet (as well as documentation obviously).

[2016-12-14 14:24] NightSkyDev commented on #475
Ok, so the feature itself  hasn't been implemented.  I appreciate the response @geralt-encore!

[2016-12-14 16:04] artem-zinnatullin commented on #685
Please use adapter library from @akarnokd for now.

On Wed, Dec 14, 2016, 16:09 outofdate <notifications@github.com> wrote:

[2016-12-14 16:05] artem-zinnatullin commented on #505
Isn't it kinda straightforward error message? :)

On Wed, Dec 14, 2016, 16:29 alexey polusov <notifications@github.com> wrote:

[2016-12-14 16:13] lectricas commented on #505
Nope. I was like: What the hack is this key mean? A door key? Ctr+f on readme didn't help me. Then I figured it out by crawling the sample app. Consider adding "primary" word or something. You did it well on "StorIOSQLiteColumn" btw :D

[2016-12-14 16:36] artem-zinnatullin commented on #505
Ahaha, got it :) Can you please make a PR then?

On Wed, Dec 14, 2016, 19:13 alexey polusov <notifications@github.com> wrote:

[2016-12-15 06:41] nikitin-da commented on #475
@NightSkyDev sorry for misleading with milestone
@geralt-encore is absolutely right, this feature hasn't implemented yet
There is separate issue on it, please follow #730

[2016-12-15 06:45] NightSkyDev commented on #730
From experience with other ORM's, I wouldn't use either the ordinal or name, instead I implemented an "id" for each enum and persisting the id.

[2016-12-15 06:47] NightSkyDev commented on #475
Thanks @nikitin-da!  I hope a "field converter" is implemented some day and not just support for enums.

[2016-12-15 18:43] careful7j commented on #622
Hi hi, Thank you!
Topic-starter is back and trying out basic sample app.
I am asking for help, since Basic Sample Project **is not launching** - In MainActivity.java **line 34** there is mentioned a class **TweetSQLiteTypeMapping** that is missing in a project:

[code]

If it is somehow generated (I don't know) please insert some comment that explains how to do so. Still can't use storio ahhh Q_Q

[2016-12-15 19:24] careful7j commented on #622
Hi again! Topic starter is back and I have launched Storio!!111 Yeaaa!!111
But it took me around a hour :C
I should say that **Basic Sample App is still NOT that easy to copy paste from.**
**I offer you a new step of simplification:** to make Basic Sample App **stand-alone** from the whole project.

So build gradle will have this:

[code]
And this:

[code]

Instead of **Nothing** and this:
[code]

[2016-12-16 11:10] Saketme commented on #727
@nikitin-da I'm seeing this error:

`Error:(37, 8) error: Please annotate class AutoValue_KiteNotification with StorIOSQLiteType`

[2016-12-16 11:12] geralt-encore commented on #727
@Saketme can you please show your class if it is possible?

[2016-12-16 11:13] artem-zinnatullin commented on #727
Daaamn. @geralt-encore looks like because of annotation processing rounds our annotation processor sees class generated by AutoValue, or I'm wrong

[2016-12-16 11:15] Saketme commented on #727
Sure, but can I email it to you instead?

[2016-12-16 11:33] geralt-encore commented on #727
@Saketme there is no more need I have been able to reproduce it.
@artem-zinnatullin the problem is, that `AutoValue` classes also inherit annotations from the original class methods. I think that the easiest solutions will be skipping classes which names start from `AutoValue_`.
I am deeply sorry because this is completely my fault and lack of proper testing. I was testing it using just regular ab

[2016-12-16 11:35] geralt-encore commented on #735
@artem-zinnatullin Kotlin support is broken atm. Shall we wait more answers and fixes from Kotlin team or shall we start acting upon it by ourselves?

[2016-12-16 11:41] artem-zinnatullin commented on #735
Do you think it's possible to give a fix from our side? Without reflection.

On Fri, Dec 16, 2016, 14:35 Ilya Zorin <notifications@github.com> wrote:

[2016-12-16 11:42] artem-zinnatullin commented on #727
Nono, wait, no specific ignores, we need to find more general solution, I'm
pretty sure we can force it to inherit class level annotations too or
otherwise prevent it from inheriting any of our annotations!

On Fri, Dec 16, 2016, 14:34 Ilya Zorin <notifications@github.com> wrote:

[2016-12-16 11:45] pbochenski commented on #735
I've just read some documentation, so I might be wrong but probably you can cast element annotated with ```@Creator``` annotation into ExecutableElement and it has ```getParameters()``` method. (see here: https://docs.oracle.com/javase/7/docs/api/javax/lang/model/element/ExecutableElement.html)

[2016-12-16 12:03] geralt-encore commented on #735
We can introduce new parameter order to `StorIOSqliteColumn` and sort parameters according to it before building parameters list

[2016-12-16 12:16] geralt-encore commented on #727
Inherit class level annotation is not an option because then we will get two tables and that is not what we really need. After quick googling I haven't found anything related to annotations inheritance in AutoValue.

[2016-12-16 12:25] artem-zinnatullin commented on #735
That looks like too much manual work :(

On Fri, Dec 16, 2016, 15:03 Ilya Zorin <notifications@github.com> wrote:

[2016-12-16 12:26] artem-zinnatullin commented on #727
I believe it's not AutoValue specific, I remember facing pretty similar
behavior but with Reflection lookup for child classes.

On Fri, Dec 16, 2016, 15:16 Ilya Zorin <notifications@github.com> wrote:

[2016-12-16 12:54] geralt-encore commented on #727
I think it has to be AutoValue specific because I remember that while working on others project annotation processor it didn't come up by default.

[2016-12-16 13:37] artem-zinnatullin commented on #727
Well, ok let's start with specific thing and then try to generalize it

On Fri, Dec 16, 2016, 15:54 Ilya Zorin <notifications@github.com> wrote:

[2016-12-16 14:04] ValeriusGC opened #737 "How can i realize operation COUNT(..), MAX(..), etc?"
What is elegant and effective way to do that with StorIO?

[2016-12-16 14:07] artem-zinnatullin commented on #737
Perform get with RawQuery!

On Fri, Dec 16, 2016, 17:04 Valery Kulikov <notifications@github.com> wrote:

[2016-12-16 16:24] ValeriusGC commented on #737
But how?
Constructon like this
[code]
fails with
**Caused by: java.lang.IllegalStateException: This type does not have type mapping: type = class java.lang.Integer,db was not touched by this operation, please add type mapping for this type**

[2016-12-16 17:01] nikitin-da commented on #737
Can you please try something some like this?
[code]

[2016-12-16 17:05] ValeriusGC commented on #737
I really really have no idea how perform this primitive operation as COUNT with this sophisticated library. It is terrible to imagine how to implement min()/max()... or get some columns... \B-(
As Metallica sang: "The Thing That Should Not Be"

[2016-12-16 17:25] geralt-encore commented on #735
@pbochenski you can't get variables name from there :(
@artem-zinnatullin not that much, but adding  more manual work for users is always bad, I agree.

[2016-12-16 17:26] geralt-encore commented on #727
@artem-zinnatullin so specific ignore then or you have a better idea?

[2016-12-16 20:59] artem-zinnatullin commented on #737
What's the problem with cursor?

On Fri, Dec 16, 2016, 20:05 Valery Kulikov <notifications@github.com> wrote:

[2016-12-16 21:01] artem-zinnatullin commented on #727
We can start with specific ignore. Or what about checking parent class
annotations and skip classes that have our annotations on parents?

On Fri, Dec 16, 2016, 20:26 Ilya Zorin <notifications@github.com> wrote:

[2016-12-16 21:30] geralt-encore commented on #727
I also was thinking about it but then I thought that if we want to introduce support for inheritance in future it might be a bad idea.

[2016-12-16 21:50] artem-zinnatullin commented on #727
Well, then child class will also need class level annotation and everything
will be ok!

On Sat, Dec 17, 2016, 00:30 Ilya Zorin <notifications@github.com> wrote:

[2016-12-17 11:50] geralt-encore commented on #735
I just checked that @pbochenski is actually right and you can get actual parameters names from `getParameters()` on `ExecutableElement`. So it should be possible to map columns with parameters relying just on their names.

[2016-12-17 12:02] ValeriusGC commented on #737
Thanks to @nikitin-da problem was gone.
Maybe this solution should be in documentation.

[2016-12-17 13:16] artem-zinnatullin commented on #735
Nice!

[2016-12-17 16:17] artem-zinnatullin commented on #737
PR welcome :)

On Sat, Dec 17, 2016, 15:02 Valery Kulikov <notifications@github.com> wrote:

[2016-12-17 18:18] ValeriusGC commented on #737
well, ok. i`d make PR for sample or readme with this 'use case'.
But i have another case: how can i perform complex update in one transaction, such as (pseudocode):
[code]
Please help me with this. So then I combine all oof this in one PR

[2016-12-17 21:18] nikitin-da commented on #737
You can use `storIOSQLite#lowLever` for this:
[code]

[2016-12-20 10:32] geralt-encore commented on #730
[SQLDelight](https://github.com/square/sqldelight) uses just `valueOf` for [mapping enums](https://github.com/square/sqldelight/blob/master/sqldelight-runtime/src/main/java/com/squareup/sqldelight/EnumColumnAdapter.java).

[2016-12-20 10:41] NightSkyDev commented on #730
Yeah, that's actually how I persisted my enums before as well.  Then when I was working with greenDAO, I came across this:

How to convert Enums correctly
Enums are popular with data objects like entities. When persisting enums, there are a couple of best practices:
Do not persist the enum’s ordinal or name:
http://greenrobot.org/greendao/documentation/custom-types/

The biggest problem I see is i

[2016-12-23 23:47] artem-zinnatullin commented on #730
You are in control of that

[2016-12-28 18:40] hotchemi opened #741 "Compile error while generating GetResolver"
Firstable thank you for your snappy library!
Let me explain a bug that I got.

### Version

- 1.12.0
  - Note that I'm using Kotlin 1.0.5 with it

### How to reproduce

Define a model below.

[code]

After building a project you'll get a compile error below.
It seems processor failed to keep the order of constructor arguments correctly.

[code]

Could you take a look? @artem-zinnatullin  @nikitin-

[2016-12-28 19:10] geralt-encore commented on #741
There is an already open issue for it https://github.com/pushtorefresh/storio/issues/735.
And also a fix https://github.com/pushtorefresh/storio/pull/740, but it hasn't been merged yet.

[2016-12-28 19:13] hotchemi commented on #741
@geralt-encore Thx! So let me close the issue.
I hope it'll be merged soon!

[2016-12-28 19:13] #741 closed

[2017-01-01 14:55] Rainer-Lang opened #745 "Happy new year!"
And thanks for your hard work on this great lib.

[2017-01-01 15:48] nikitin-da commented on #745
Thank you @Rainer-Lang! :christmas_tree:
Happy new year and many thanks to everyone who use this library and make it better!
🎉 :confetti_ball:

[2017-01-01 23:36] artem-zinnatullin commented on #745
Well, for about a year most of contributions to StorIO are done by @geralt-encore, so please thank him for work on the library :)

HNY!

[2017-01-01 23:36] #745 closed

[2017-01-03 08:28] geralt-encore commented on #727
@Saketme please verify that the issue is fixed in the latest version.

[2017-01-03 08:29] geralt-encore commented on #735
@pbochenski please verify that the issue is fixed in the latest version.

[2017-01-03 08:43] Saketme commented on #727
@geralt-encore I'm sorry, I didn't realize a fix has already been released. I will test the new version and report back.

[2017-01-03 09:48] pbochenski commented on #735
sorry but no. testing using this: https://github.com/pbochenski/kaptstoriobug
the error is
[code]

[2017-01-03 09:56] geralt-encore commented on #735
Sorry if I wasn't clear. I've changed implementation in StorIO for using parameters names instead of relying on fields order. So I was asking you to test this issue with version `1.12.1`. Kapt behaviour remains unchanged that's why test repo still doesn't work.

[2017-01-03 10:24] pbochenski commented on #735
@geralt-encore yes I know, I've forked your repo since it is nicely isolated problem and updated StorIO libraries as well as added kotlin-apt plugin.

[2017-01-03 12:14] geralt-encore commented on #735
That's a bummer 😔
 I tested it properly before making PR with the fix and it worked. Need to investigate it further...

[2017-01-05 19:44] bluebery opened #749 "GetResolver fails to generate properly with Kotlin nullable -> java boxed types"
Hi everyone! This is my data class for a StorIO table with 5 columns using Kotlin

[code]

And this is the generated AttachmentStorIOSQLiteGetResolver

[code]

As you can see, everything appears correct except there is a space missing between the type (Long) and the variable name (id, bytes) causing a compilation error. Should be an easy fix?

More examples of types (Kotlin -> Java Generated)
* Ok

[2017-01-06 14:06] geralt-encore commented on #749
Thanks for reporting the issue! I'll look into it soon.

[2017-01-06 23:00] artem-zinnatullin commented on #749
Seems possible to handle via Kotlin reflection library (or something
similar), they write most of meta info as protobuffed base64 strings into
annotations (if I remember correctly).

On Fri, Jan 6, 2017, 17:06 Ilya Zorin <notifications@github.com> wrote:

[2017-01-11 17:26] skrzyneckik commented on #733
@artem-zinnatullin could you link to this Reddit thread? I would love to see it!

[2017-01-11 19:04] mayuroks commented on #685
Bump!, any progress on RxJava v2 support?

[2017-01-15 20:33] artem-zinnatullin commented on #733
@skrzyneckik I believe you can just read [search results](https://www.reddit.com/r/androiddev/search?q=storio&sort=new&t=all), in some of them you'll see @ZakTaccardi answering :)

[2017-01-15 20:58] artem-zinnatullin commented on #685
Not yet, starting integrating it into work projects, then I'll look into support for StorIO, PRs welcome!

[2017-01-17 06:29] dannyjiajia opened #751 "Should we add a Transformer on changs before the query task?"
As i known , each change object triggers a query task in `storio`. how can i filter the change before the query task?

should we  add another `asRxObservable` method in get operations?

https://github.com/pushtorefresh/storio/blob/master/storio-sqlite/src/main/java/com/pushtorefresh/storio/sqlite/operations/get/PreparedGetListOfObjects.java#L191
[code]

[2017-01-17 08:36] nikitin-da commented on #751
Hi, @dannyjiajia !
Nice idea, it will simplify some cases.
I'll add it soon if guys will accept it
//cc @artem-zinnatullin @geralt-encore

[2017-01-17 13:00] artem-zinnatullin commented on #751
Wait, query will be reexecuted only if tables participated in it were
changed. Isn't that enough for most use cases?

On Tue, Jan 17, 2017, 11:36 Dmitrii Nikitin <notifications@github.com>
wrote:

[2017-01-18 01:04] dannyjiajia commented on #751
@artem-zinnatullin @nikitin-da
Hi guys, thanks your reply.That feature is enough for most use case.But i want to reduce the number of queries for database.
Maybe there other ways?

[2017-01-18 06:05] artem-zinnatullin commented on #751
There is a way, you can combine storio.get().asRxObservable().take(1) with
your Observable and only query db when you need, but I'd agree that it's
not so compact and convenient to use.

On Wed, Jan 18, 2017, 04:04 DannyHe <notifications@github.com> wrote:

[2017-01-18 10:39] dannyjiajia commented on #751
@artem-zinnatullin thanks your reply. It's works. 👍

[2017-01-18 10:39] #751 closed

[2017-01-18 17:40] geralt-encore commented on #749
The problem was just in missing space for boxed types in Kotlin/AutoValue case. Now it's fixed and fix will be available in the next version.

[2017-01-20 17:15] bluebery commented on #749
@geralt-encore thanks!!

[2017-01-22 02:44] michaelcarrano commented on #749
I'm running into this issue too but not using Kotlin for my project.

[2017-01-22 10:07] geralt-encore commented on #749
@michaelcarrano are you using AutoValue by any chance for you model?

[2017-01-22 13:47] michaelcarrano commented on #749
@geralt-encore I am, and having issue with the Long type. The generated code is `Longid` like this issue.

[2017-01-22 13:48] geralt-encore commented on #749
Then it's is the same problem and it has already been fixed in master branch.

[2017-01-22 14:24] michaelcarrano commented on #749
@geralt-encore it took me a while debugging my app yesterday to figure out this was the issue I was running into. This ticket mentions Kotlin so wanted to make sure the issue would also be resolved for Java.

My app uses StorIO, Autovalue, Dagger, ButterKnife which all use processors. So kept getting led down the wrong path of where my actual issue was. I didn't know it was the StorIO Class gettin

[2017-01-22 14:27] artem-zinnatullin commented on #749
@geralt-encore if you want a new release, just discuss it with @nikitin-da, open (you or @nikitin-da) a PR with changelog and I'll publish it to Maven Central with no problems!

[2017-01-22 14:27] artem-zinnatullin commented on #749
Moreover, I'm ok with small frequent releases, say once a week or so!

[2017-01-22 14:58] geralt-encore commented on #749
@michaelcarrano glad that we resolved the issue and sorry for inconvenience since it has been introduced because of my mistake.
@artem-zinnatullin great! I've already created a PR for release https://github.com/pushtorefresh/storio/pull/756

[2017-01-22 15:18] geralt-encore commented on #749
@bluebery @michaelcarrano please, verify that the issue was solved when 1.12.2 version will be available.

[2017-01-22 15:38] artem-zinnatullin commented on #749
v1.12.2 should be available already!

[2017-01-22 17:46] michaelcarrano commented on #749
@geralt-encore just had a chance to try out 1.12.2 and my issue is resolved. Thanks!

[2017-01-22 18:19] artem-zinnatullin commented on #749
Great! Closing then.

[2017-01-22 18:19] #749 closed

[2017-01-27 17:04] SelaliAdobor opened #758 "How are migrations handled with Annotation Processor Resolver classes"
If I make a change to an annotated class, are migrations handled automatically? Or would I handle that in the SQLiteOpenHelper

[2017-01-27 18:54] artem-zinnatullin commented on #758
You would need to handle this through SQLiteOpenHelper.

On Fri, Jan 27, 2017, 20:04 Errant <notifications@github.com> wrote:

[2017-01-27 22:29] bluebery commented on #749
Hey thanks for fixing this @geralt-encore I'll give it a go as soon as I can!!

[2017-01-31 18:59] komigor opened #759 "Handling constraint exceptions properly"
As I started testing my database logic code, I need an opportunity to handle different SQLite exceptions like Unique constraint failed, as some of the operations are very important. So the question is - how can I do it with StorIOSQLite, as it throws its own Exceptions, that contains no data that making it able to detect the reason of exception raising programmatically.

[2017-01-31 19:09] nikitin-da commented on #759
Hi, @komigor !
We wrap exception into StorIOException, and the original one places as cause.
[code]
Are there original exception in stack trace?

[2017-01-31 19:31] komigor commented on #759
Yep, thx for that. Didn't notice them because of enormous size of stacktrace

[2017-01-31 20:38] nikitin-da commented on #759
No problem) Closing for now. Feel free to comment or reopen

[2017-01-31 20:38] #759 closed

[2017-02-17 09:46] joelpet opened #763 "Upgrade JavaPoet dependency to fix version conflict with Dagger 2"
In my Android project (that I can unfortunately not share) with StorIO 1.12.2 and Dagger 2.8, the Gradle build fails with the following exception:

[code]

The problem seems to be that StorIO depends on an old version of JavaPoet (1.2), which is the version resolved by Gradle, while Dagger uses the `com.squareup.javapoet.ClassName.topLevelClassName()` method added in JavaPoet 1.4. I have resolved

[2017-02-17 10:05] geralt-encore commented on #763
@joelpet Thank you for reporting the issue!

[2017-02-17 10:55] #763 closed

[2017-02-19 16:31] artem-zinnatullin opened #766 "Release automation"
Currently, I'm the only person who can actually publish release to Maven Central. This is something I'm not proud of since it effectively reduces Bus Factor of the project to 1, even though we now have 3 persons with push rights to the repo: @nikitin-da, @geralt-encore, me.

- [ ] As a first step I'd like to find a way to give @nikitin-da access and setup his environment so he could also do manual

[2017-02-19 16:40] artem-zinnatullin opened #767 "v1.13.0 milestone"
Let's discuss what to include into next minor release?

I vote for RxJava v2 support #685 and notification tags #663 (recently discussed offline with @nikitin-da, @geralt-encore if you need more info — feel free to ask in #663!).

[2017-02-19 22:57] nikitin-da commented on #767
RxJava2 is very desired especially for people who start new project. It may be deciding factor in the choice of the library.
I've already started to make notification tags. I hope long holidays will help me to finish it this week)

[2017-02-19 23:16] artem-zinnatullin commented on #767
Oh cool! So let's wait for @geralt-encore opinion and set milestones on issues accordingly! (I hope you guys have rights for that)

[2017-02-19 23:20] nikitin-da commented on #766
Let's do it! 👍
It will allow you not to be distracted by some less important things and sometimes even to sleep! (Without clones creating like it probably does Jake).
Release via tags sounds adorably=)

[2017-02-20 07:59] geralt-encore commented on #766
I am always for automating as much thing is possible, so let me know if you need any help with it 👍

[2017-02-20 08:06] geralt-encore commented on #767
I can look into RxJava 2 migration. Have we agreed on how precisely we are gonna do it?

Is this still a viable option?

[2017-02-20 18:49] artem-zinnatullin commented on #767
Yup, I think so, but we'll need to either copy it or repackage so it would not conflict with user-added one.

[2017-02-20 18:55] geralt-encore commented on #767
Can't we just check if it is in class path same as with RxJava atm?

[2017-02-20 19:00] artem-zinnatullin commented on #767
We can, but I'm afraid there could be potential breaking changes that we would have to check for and be ready for fast releases just to fix them…

[2017-02-20 19:13] geralt-encore commented on #767
Ok, got it, makes sense. But I think that we still need some kind of a more detailed roadmap or plan because this feature is far too big and important for implementing just by me with the current vague idea how to tackle it.

[2017-02-20 20:24] artem-zinnatullin commented on #767
Sure, both me and @nikitin-da (I hope lol) will provide help.

Actually, let's ask David,

@akarnokd, can you please consult us if it'll be ok to depend on your [RxJava2Interop](https://github.com/akarnokd/RxJava2Interop) library in our library, or should we repackage it to avoid conflicts with user-added one?

TL;TR: how stable are APIs in [RxJava2Interop](https://github.com/akarnokd/RxJava2Inter

[2017-02-20 20:41] akarnokd commented on #767
The API in `RxJava2Interop` is stable in the sense that what's currently there won't change but may be extended with further conversions (for example Scheduler conversion is possible in the near future).

Internally, there are some dependencies on internal features of RxJava which I keep up to date whenever 1.x or 2.x releases but the algorithms themselves are fairly final and bug-free.

To be on

[2017-02-20 21:16] artem-zinnatullin commented on #767
@akarnokd thanks for detailed answer! Sounds like it's pretty safe to depend on your library in our case.

We're not planning to support both RxJava v1 and v2 for a long time and it's more about providing better APIs for a time frame of migration from RxJava v1 to v2 for developers in their projects.

In StorIO v2.0 we'll drop RxJava v1 support, and in any critical case we can always rollout updat

[2017-02-20 21:23] geralt-encore commented on #767
Sounds good! Also, we have to do something with `nulls` in `object` methods.

[2017-02-27 10:04] geralt-encore commented on #685
I guess I can start working on what we agreed in https://github.com/pushtorefresh/storio/issues/767.
There are still a couple of open questions:

- Should we expose database only as `Flowable` or with a new one `Observable` as well?
- What are we going to do with `nulls` in `object` method?

Everything else looks pretty clear to me.
Also, I want to add `Maybe` to both `object` and `objects` method

[2017-03-01 10:42] fstephany opened #769 "Standard Java support"
I use storIO for an Android app that might need to be ported to the desktop. Both apps will continue to live.
I've started to decouple all my code from the Android framework. I'm wondering how much effort it would need to port StorIO to standard Java and cut the dependency on Android. I'm willing to do it but before diving into the code, I wanted to get your feedback.

[2017-03-02 12:19] nikitin-da commented on #769
Hi, @fstephany
If you have in mind some library for `SQLite` itself with the same api (`openhelper`, `cursor`, `contentValues` etc) like it do [Requery](https://github.com/requery/sqlite-android) but without android dependency:
than as far as I can see you should create your own [`DefaultStorIOSQLite`](https://github.com/pushtorefresh/storio/blob/master/storio-sqlite/src/main/java/com/pushtorefres

[2017-03-02 16:55] nikitin-da commented on #721
Closed for now
Feel free to reopen if you have some example (table structure and data) with witch we can meet this problem

[2017-03-02 16:55] #721 closed

[2017-03-03 08:58] fstephany commented on #769
Thanks, I'll have a look :)
It struck me yesterday but my tests are running with Robolectric and the SQLite queries works just fine on the JVM. I guess they have implemented the necessary plumbing to make it work.

I'll try and let you know.

[2017-03-03 08:58] #769 closed

[2017-03-13 21:44] artem-zinnatullin commented on #769
Implementing classes with android package names should definitely work in my opinion and I would not say that it'll be *that* hard :)

[2017-03-26 20:29] artem-zinnatullin commented on #766
So I've checked the options, when we'll have something to release, I'll try to do it via https://github.com/Codearte/gradle-nexus-staging-plugin and if it'll work — I'll make a PR so we could do it automatically.

[2017-03-26 21:51] artem-zinnatullin commented on #766
I've checked it on another project and it works! Will also require some travis setup https://docs.travis-ci.com/user/deployment/releases/

[2017-03-27 11:42] Tooto opened #773 "Proguard and StorIO"
Hi!
Should i setup some proguard rules?
I have this error:
Warning:com.pushtorefresh.storio.operations.internal.OnSubscribeExecuteAsBlockingCompletable: can't find superclass or interface rx.Completable$OnSubscribe

[2017-03-27 22:47] artem-zinnatullin commented on #773
I guess you don't use RxJava. StorIO does not use reflection that requires
proguard settings.

On Mon, Mar 27, 2017, 14:42 Igor Glushkov <notifications@github.com> wrote:

[2017-03-28 05:46] #663 closed

[2017-03-28 08:40] nikitin-da commented on #773
I guess the only issue we can meet with obfuscation is the false negative result in [this](https://github.com/pushtorefresh/storio/blob/9f93ee905e70d6c89290e094a92ddcdb57df0e45/storio-common/src/main/java/com/pushtorefresh/storio/internal/Environment.java#L22) check
Do you have explicit rxjava dependency?

[2017-03-28 11:37] artem-zinnatullin commented on #773
AFAIK, ProGuard handles such class lookups.

On Tue, Mar 28, 2017, 11:40 Dmitrii Nikitin <notifications@github.com>
wrote:

[2017-04-15 00:04] gautamjain opened #777 "Add `bulkInsert` support for ContentResolver"
Have you considered adding support for [`ContentResolver::bulkInsert`][1]?

---

If so, what's a good way I could go about starting that?  I could see the following changes:

- Add bulk insert support in `StorIOContentResolver.LowLevel`
  - `insert(InsertQuery query, ContentValues[] values)`
- Add a bulk insert flag in `PreparedPutCollectionOfObjects.Builder` and `PreparedPutContentValuesIterable.

[2017-04-17 00:37] artem-zinnatullin commented on #777
Yeah, the problem with `bulkInsert` is that it does not fit into StorIO model that well since default behavior is to make `query()` to find out whether we should `insert` or `update` the entry which is not possible with `bulkInsert`. Unfortunately, `bulkInsert` is not the same mechanism as `useTransaction`.

However, implementation under the hood of `bulkInsert` could use `SQLiteDatabase. insertWi

[2017-04-17 04:00] MerlinYu opened #778 "StorIOException"
om.pushtorefresh.storio.StorIOException: android.database.CursorWindowAllocationException: Cursor window allocation of 2048 kb failed.
	at com.pushtorefresh.storio.sqlite.operations.put.PreparedPutCollectionOfObjects.executeAsBlocking(SourceFile:148)
	at com.imaygou.android.data.MomosoDbManager.a(SourceFile:174)
	at com.imaygou.android.brand.BrandService.c(SourceFile:135)
	at com.imaygou.android.b

[2017-04-17 04:01] MerlinYu opened #779 "CursorWindowAllocationException"
android.database.CursorWindowAllocationException: Cursor window allocation of 2048 kb failed.
	at android.database.CursorWindow.<init>(CursorWindow.java:108)
	at android.database.AbstractWindowedCursor.clearOrCreateWindow(AbstractWindowedCursor.java:198)
	at android.database.sqlite.SQLiteCursor.fillWindow(SQLiteCursor.java:138)
	at android.database.sqlite.SQLiteCursor.getCount(SQLiteCursor.java:13

[2017-04-17 06:21] nikitin-da commented on #777
Yep, `bulkInsert` doesn't match to "`put`-notation" and the simplest way to use it is call it directly on underlying content resolver, like @artem-zinnatullin suggest =(

[2017-04-17 06:26] nikitin-da commented on #778
Hi, @MerlinYu ! #779 contains almost the same log so I move it here.
`android.database.CursorWindowAllocationException: Cursor window allocation of 2048 kb failed.
at android.database.CursorWindow.(CursorWindow.java:108)
at android.database.AbstractWindowedCursor.clearOrCreateWindow(AbstractWindowedCursor.java:198)
at android.database.sqlite.SQLiteCursor.fillWindow(SQLiteCursor.java:138)
at androi

[2017-04-17 06:26] nikitin-da commented on #779
Duplicate of #778

[2017-04-17 06:26] #779 closed

[2017-04-17 06:47] nikitin-da commented on #778
It seems the problem is that cursors were not closed after usage.
Particular places were not the cause since cursor is handled correctly: [`numberOfResults()`](https://github.com/pushtorefresh/storio/blob/f6f35fed1678af522a9c379a1b0f9175bdf2acc9/storio-sqlite/src/main/java/com/pushtorefresh/storio/sqlite/operations/get/PreparedGetNumberOfResults.java#L69) and [`put()`](https://github.com/pushtoref

[2017-04-18 10:38] #735 closed

[2017-04-18 17:29] gautamjain commented on #777
Yeah, I did notice the default _put_ behavior was to `query` and then `insert` or `update` accordingly.

Instead of hacking this into _put_, could this be considered new database operation?  E.g. _import_ or maybe even _seed_?

If not, I'll go ahead and use `StorIOContentResolver.lowLevel().contentResolver()`.

Also, @artem-zinnatullin regarding your second paragraph - I don't own the `ContentProv

[2017-04-18 19:32] nayeemzen opened #781 "Receive Incremental updates when using Rx"
From the [example](https://github.com/pushtorefresh/storio/blob/master/docs/StorIOContentResolver.md), we are receiving any updates to the database as the entire list of results. What is the recommended approach to receive incremental updates (e.g when a Tweet object is added, we only receive that one object instead of the entire list of tweets.)

[code]

[2017-04-20 08:45] nikitin-da commented on #781
Hi, @nayeemzen !
You can observe changes of uris and request entities manually:
[code]

[2017-04-20 09:28] geralt-encore commented on #781
I guess @nayeemzen was talking about fine-grained notifications if I understand it correctly.

[2017-04-20 14:37] nayeemzen commented on #781
@nikitin-da thank you, yep I saw that in the API, I was eluding to more what @geralt-encore said. Btw awesome library, absolutely love it.

[2017-04-23 08:27] nikitin-da commented on #781
Sorry, I forgot to note that you will receive uri for particular row only if [API >= 16](https://github.com/pushtorefresh/storio/blob/master/storio-content-resolver/src/main/java/com/pushtorefresh/storio/contentresolver/impl/RxChangesObserver.java#L48), but for [older versions](https://github.com/pushtorefresh/storio/blob/master/storio-content-resolver/src/main/java/com/pushtorefresh/storio/conten

[2017-04-23 08:27] #781 closed

[2017-04-24 13:00] artem-zinnatullin commented on #777
Well, we would like to keep Put, Get, Delete semantics if possible, very sad that `bulkInsert()` does not fit into it though…

Please go ahead and use `StorIOContentResolver.lowLevel().contentResolver()` for now.

I'm closing this issue, feel free to comment if you have some new input!

[2017-04-24 13:00] #777 closed

[2017-04-27 22:52] artem-zinnatullin commented on #781
There are conceptual problems with incremental updates and SQL.

SQL allows you perform complex queries that can affect unknown (for StorIO)
entries in different tables of db, even simple things like "delete/update *
from table where something" will result in undefined behavior for naive
implementation of incremental updates, we were thinking about this feature
from the beginning of the project an

[2017-04-29 15:18] TonyNikolov opened #783 "all auto generated resolvers disappeared"
I've been trying out storIO for 2 days and i've been having great results, untill today. I started Android Studio and all auto generated resolver classes are gone and i cant even build my project.

`Error:(9, 53) error: cannot find symbol class CommentStorIOContentResolverDeleteResolver`
`Error:(10, 53) error: cannot find symbol class CommentStorIOContentResolverGetResolver`
`Error:(11, 53) error:

[2017-04-29 15:39] TonyNikolov commented on #783
Looks like something with annotation processors went wrong, still dont know what it was, but its working now.

[2017-04-29 15:39] #783 closed

[2017-04-30 19:55] zoff99 opened #784 "basic example not working"
can you please provide a simple example that is working?
[code]

this is not working. even if filled with missing values the 3 classes are not generated/found
[code]

i am using this in my build.gradle:
[code]

[2017-05-02 07:03] nikitin-da commented on #784
Hi, @zoff99 !
Can you show `Tweet.java` from your project? Maybe something was wrong with this class annotations.
Did you try sample in project https://github.com/pushtorefresh/storio/blob/master/storio-sample-app/src/main/java/com/pushtorefresh/storio/sample/db/DbModule.java#L40 ?

[2017-05-04 22:23] thevery commented on #766
@artem-zinnatullin some thoughts on the subj:
1) What about jcenter instead of sonatype? At least for releases.
2) We know you're a fan of tags instead of branches policy, but I still like auto-publish on every commit in release branch

[2017-05-05 07:26] artem-zinnatullin commented on #766
1. "At least for releases?" but we don't publish snapshots, so it's only
releases. I was recently setting up publishing to jcenter in some Juno
projects and faced major problem issue with publishing package with several
artifacts which took Bintray a week to resolve and they still don't have
automated solution for it
https://stackoverflow.com/questions/43468385/bintray-does-not-sync-one-of-the-art

[2017-05-05 08:06] nikitin-da opened #785 "Add example of integration with SQLDelight"
https://github.com/square/sqldelight

[2017-05-06 22:29] artem-zinnatullin commented on #785
Great idea! Since you successfully use it in production with StorIO you're very good source of info, maybe also write a blog article (or even markdown post here in repo) with your story?

[2017-05-06 22:36] thevery commented on #785
We're going into production in couple of weeks I hope :)
During migration we've faced several issues in both sqldelight and storio, but most of them (except https://github.com/pushtorefresh/storio/issues/704) are already resolved!

[2017-05-06 22:37] thevery commented on #785
I think that we should start we some sample anyway, what project structure should we use for it? @artem-zinnatullin

[2017-05-06 22:38] artem-zinnatullin commented on #785
Completely up to you, I think you can basically copy-paste current sample (it's pretty simple to look at) and just replace/add queries with SQLDelight

[2017-05-10 01:14] clackbib opened #786 "Rx: StorIOContentResolver updates running on StorIOContentResolverNotificationsThread"
Hello,
I've noticed that when using the `StorIOContentResolver` API, all emissions triggered by a contentResolver notifications come back on the same thread, so doing a long running operation on the same observable can delay notifications being received by another listener. For instance:

[code]

I realize that it can be avoided by switching to another thread with `observeOn()`, but aren't updates

[2017-05-10 17:54] artem-zinnatullin commented on #786
Default or specified scheduler for whole `StorIOSQLite`/`StorIOContentResolver` only used for initial subscription to the observable, so initial db request will go on that scheduler.

However further updates will be processed on thread that caused them, this is regular practice for rx related code and libraries and as a user you're able to change that with `observeOn`.

Moreover, if you know that

[2017-05-14 05:07] nikitin-da commented on #786
Hi!
I think it make sense in a greater degree for content resolver because of common `StorIOContentResolverNotificationsThread`.
But we will need symmetric api for sqlite too.
And we should deprecate current `defaultScheduler` method and rename it to `defaultSubscribeOnScheduler`

[2017-05-14 05:28] nikitin-da commented on #767
Maybe we can release already merged requests [annotation processor on Kotlin](https://github.com/pushtorefresh/storio/pull/775), [Kotlin properties support](https://github.com/pushtorefresh/storio/pull/776) and [tags](https://github.com/pushtorefresh/storio/pull/768).
[Interceptors](https://github.com/pushtorefresh/storio/pull/771) will break current api, so it should be 2.0. Should we move rxjava

[2017-05-14 12:46] artem-zinnatullin commented on #767
I agree, let's release v1 with kotlin improvements and tags, I've moved Interceptors to v2, let's move RxJava2 to v2 as well.

When you want me to make v1 release?

[2017-05-14 12:47] artem-zinnatullin commented on #786
@nikitin-da SGTM!

[2017-05-14 12:47] artem-zinnatullin commented on #786
@geralt-encore what do you think about proposal?

[2017-05-14 16:04] geralt-encore commented on #786
I don't have deep knowledge about this topic but as far as I understand the proposal makes sense.

[2017-05-14 16:06] geralt-encore commented on #767
I'll try to start working on RxJava2 support. It just looks too big so I am scared every time when I am thinking about starting it 😔

[2017-05-14 17:48] nikitin-da commented on #767
@artem-zinnatullin What about tomorrow? (#787)

[2017-05-17 16:53] ZakTaccardi opened #789 "Include notification when partially updating a record with ContentValues"
I have a `Transactions` table in my application. Each transaction has a "status" property, which can be like "PENDING", "CANCELLED", "COMPLETE", etc.

I wish to be able to update just the status of an existing transaction, so I use the following method:

[code]

Unfortunately, using `.lowLevel()` does not provide observable notifications when observing the `TransactionTable`. see https://github.co

[2017-05-17 22:49] artem-zinnatullin commented on #789
You've asked just at the right time!

With latest 1.13.0 release StorIO now has [Notification Tags](https://github.com/pushtorefresh/storio/pull/768) which you can add to the notification and then filter notifications by tags and perform much more granular updates.

@nikitin-da we completely forgot to add this to the documentation, can you please make a PR?

[2017-05-17 23:25] artem-zinnatullin commented on #767
1.13.0 was released, closing the issue :)

[2017-05-17 23:25] #767 closed

[2017-05-17 23:26] artem-zinnatullin commented on #773
I'm closing the issue, feel free to comment!

[2017-05-17 23:26] #773 closed

[2017-05-18 00:07] artem-zinnatullin commented on #778
Looks like this issue can be closed, feel free to comment!

[2017-05-18 00:07] #778 closed

[2017-05-18 00:08] artem-zinnatullin commented on #758
Looks like this issue can be closed, feel free to comment!

[2017-05-18 00:08] #758 closed

[2017-05-18 00:10] artem-zinnatullin commented on #671
I'm closing this for now, feel free to comment!

[2017-05-18 00:10] #671 closed

[2017-05-18 00:11] artem-zinnatullin commented on #638
Ok, since Kotlin is now an official Android language we need to actually resolve this in 2.0.0

[2017-05-18 04:45] nikitin-da commented on #789
Hi, @ZakTaccardi !
In case of low level update you should send notification manually too ;)
[code]
@artem-zinnatullin done)

[2017-05-19 10:46] clackbib commented on #786
`defaultSubscribeOnScheduler ` makes sense since fetching the data is always an I/O operation, `defaultObserveOnScheduler` maybe not completely? Nice to have a default, but since we can't assume the nature of the work that is done after the data returns (iO/ Computation/Main thread or other), the default may not be so helpful. How about enforcing the re-emission thread via a method param?
`asRxObs

[2017-05-21 12:49] geralt-encore commented on #685
@artem-zinnatullin so I have been looking into RxJava 2 migration lately and I was thinking since 2.0 is going to introduce API breaking changes because of interceptors we can introduce more of them to make migration easier?
I was thinking about:

- Migrating completely to RxJava 2
- Changing `Observable` to `Flowable` everywhere and method names as well to reflect it
- Removing `object` method si

[2017-05-21 13:02] artem-zinnatullin commented on #685
Your points are fare, lemme start migration so you and @nikitin-da could
catch up and continue the work?

On Sun, May 21, 2017, 15:49 Ilya Zorin <notifications@github.com> wrote:

[2017-05-21 13:06] geralt-encore commented on #685
Yes! It would be really nice if you made sure that the foundation works correctly since you are the guy who originally wrote it and you know rx way better than me =)
I can take care of all the more high-level stuff, tests and etc.

[2017-05-24 06:42] nikitin-da commented on #786
Since we should initially receive all notifications on the common handler thread (https://github.com/pushtorefresh/storio/blob/master/storio-content-resolver/src/main/java/com/pushtorefresh/storio/contentresolver/impl/RxChangesObserver.java#L40) moving emission to thread from io pool will add delay due to thread switching =(
If user will agree with such delay `defaultObserveOnScheduler(Schedulers.

[2017-05-28 20:24] artem-zinnatullin commented on #685
So I've started migration yesterday, it'll definitely take a lot of evenings after work to complete. So what I'll do is — convert all StorIO main/src to RxJava 2 and use Interop library in tests so tests won't be modified that much. Then I'll create a PR so you could review it and merge, and then we'll be able to convert tests to RxJava 2 little by little.

Does that sound good?

[2017-05-29 05:08] nikitin-da commented on #685
Sound nice! It will allow to do it iteratively and together 👍

[2017-05-29 07:27] geralt-encore commented on #685
Sounds good! Let me know if can help you. I would be happy to help as much as possible.

[2017-06-02 13:40] KChernenko commented on #638
@artem-zinnatullin could you provide example of that extension function, please?

[2017-06-04 11:05] karntrehan commented on #773
For anybody facing this issue. Please use the following line in your proguard-rules.pro
`-dontwarn com.pushtorefresh.storio.**`

[2017-06-06 00:14] Thore1954 opened #795 "Lowering minSdkVersion to 9 for further compatibility"
This is a great lib and I use it in most of my projects except the one's the client asks to be compatible down to Android 2.3! Any idea on lowering the minSdkVersion to API 9 somewhere in the future?
I don't think it takes much effort since most everything in the lib is already back compatible.

[2017-06-06 12:02] artem-zinnatullin commented on #795
Well, such a commitment will definitely tie our hands for future releases..

I belive you can override our minSdk in your project setup!

On Tue, Jun 6, 2017, 03:14 Thore1954 <notifications@github.com> wrote:

[2017-06-06 16:52] Thore1954 commented on #795
Yes, you were right. I managed to add the `storio-common` and `storio-sqlite` modules directly into my project and with a few modifications on gradle files it worked on Android 2.3!
I still don't understand why lowering the minSdkVersion will make problem on this Non-UI library.

[2017-06-08 22:43] artem-zinnatullin commented on #795
That's not what I meant 😨

You should be able to override StorIO/s minSdk just by adding something like this in your `AndroidManifest.xml`:

[code]

Well, it might look easy now, but we may use some SQLiteDatabase/ContentResolver methods that are API level dependent and in such a case we'll be in a bad situation with low minSdkVersion.

[2017-06-08 22:43] #795 closed

[2017-06-08 22:46] artem-zinnatullin commented on #638
Something like this should work:

[code]

[2017-06-12 16:51] nayeemzen opened #796 "ContentResolver vs SQLite?"
Is there any advantage of using one or the other if you don't intend on sharing the data outside of your own application? You still get change notifications with both right?

[2017-06-12 17:46] nikitin-da commented on #796
Hi, @nayeemzen !
There are the same differences as android ContentResolver has against raw SQLiteOpenHelper, except notifications.
StorIOSQLite also [sends](https://github.com/pushtorefresh/storio/blob/master/docs/StorIOSQLite.md#what-if-you-want-to-observe-changes-in-storiosqlite) change notifications.
So if you don't want to share data between applications or wrap existing ContentResolver to rx-

[2017-06-12 17:46] artem-zinnatullin commented on #796
Usually you only need `ContentProvider` when you want to share your data with other apps or with other process instances of your app, otherwise direct use of SQLite is preferred since it does not add overhead and StorIO has more features for StorIOSQLite and low level control over things than for StorIOContentResolver.

[2017-06-12 17:46] #796 closed

[2017-06-12 17:46] artem-zinnatullin commented on #796
Damn, @nikitin-da! Just a second faster than me!!11

[2017-06-12 18:21] nayeemzen commented on #796
Thanks so much guys! ContentResolver is so much boilerplate.

[2017-06-12 20:14] Sar777 opened #797 "AnnotationProcessor fail with AutoValue"
Hi, I am using AutoValue and have this result:

[code]
**Error:**
`Error:Problem occurred with StorIOProcessor: -1`

AutoValue: **1.4.1**
StorIO: **1.13.0**

Sorry my bad english. Thx.

[2017-06-12 20:18] geralt-encore commented on #797
Thanks for reporting! I'll look into it as soon as I can.

[2017-06-12 20:20] Sar777 commented on #797
@geralt-encore thx.

[2017-06-13 11:45] geralt-encore commented on #797
@Sar777 `yesterdayKills` column doesn't match with creators parameter `yesterdaykills`.
There is PR with meaningful error message instead of cryptic `Error:Problem occurred with StorIOProcessor: -1`.

[2017-06-13 11:52] Sar777 commented on #797
@geralt-encore shit.. Nice catch. thx.

[2017-06-13 15:15] #797 closed

[2017-06-16 16:05] Rainer-Lang opened #799 "StorIO and pagination"
Has anyone an example how to do pagination with StorIO?

[2017-06-16 16:49] nikitin-da commented on #799
Hello, @Rainer-Lang !
You can apply offset and limit in query to specify rows you are interested in:
[code]
If you have some increasing primary key you can insure consistency if beginning of the list will change while pagination:
[code]
Or you can just use `get().cursor` and cursor adapter=)

[2017-06-16 18:12] Rainer-Lang commented on #799
@nikitin-da Thanks.
And how about being notified about changes in the tables? Could this be a problem?
I have a service which writes data in the background - and right now my view-data is always up-to-date.

[2017-06-19 07:52] nikitin-da commented on #799
[Changes](https://github.com/pushtorefresh/storio/blob/f6f35fed1678af522a9c379a1b0f9175bdf2acc9/storio-sqlite/src/main/java/com/pushtorefresh/storio/sqlite/Changes.java) doesn't contain which particular raws were affected, because we can't determinate it for example for raw queries.
So I guess there is no pretty way to do this =(

This is one of possible solutions: observe table and query loaded p

[2017-06-20 14:05] Auriwield opened #800 "How to delete all data (drop all tables) ?"
I need to delete all data when user signed out from app, is there a special method for this case?

[2017-06-20 14:11] nikitin-da commented on #800
Hi, @Auriwield ! There is the same question with answer =) #648

[2017-06-20 14:11] #800 closed

[2017-06-20 14:15] nikiJava commented on #685
Hello, guys! Are there any news about rxjava 2 integration in library?

[2017-06-20 14:45] artem-zinnatullin commented on #685
All work is public and can be found in [`initial-2.x` branch](https://github.com/pushtorefresh/storio/tree/az/initial-2.x), I've migrated almost all StorIO codebase to RxJava 2.x

I need to make couple tests however, regarding need in Flowable and then a week of evenings or so to finish the work. If someone wants to continue my work, I'm more than happy to make a PR to 2.x branch so somebody could

[2017-06-25 12:19] geralt-encore commented on #685
I am ready to help. I was stuck on some low-level parts when I was trying to migrate it myself. I assume that you already have dealt with them so I am ready to help with whatever needed.

[2017-07-01 00:51] ZakTaccardi commented on #685
For nullabillity in RxJava2, we need a way to emit a null field for when a record is not found while keeping a hot stream, so Maybe does not suffice.

Has this been considered? Maybe some type of converter/adapter? Or does `.onErrorReturn()` suffice to catch the null pointer exception and return our own Optional implemention (does this style of error handling have side effects?)

[2017-07-03 18:21] mattdevelops opened #801 "Kotlin Data Class support"
Hello, I've recently dug up into StarIO and so far the API seemed nice and smooth until I tried applying it to a Kotlin Data Class. Is there any support for it, or am I using bad annotations here ? I keep getting this issue:
`Error:(19, 1) Some error(s) occurred while processing annotations. Please see the error messages above.`

And my data class looks like:

[code]

[2017-07-04 06:59] geralt-encore commented on #801
Hi! Are there any messages about an error or it is the only one? Because if it is the only one - it is not very helpful and we need to improve it for sure.
Regarding the error, you need to change properties declaration from `val` to `var` since we need both getter and setter to be able to generate correct code for this case.

[2017-07-04 08:35] geralt-encore commented on #685
I was thinking about the same thing recently. Converter/adapter won't work since they apply after the emission. Emitting nulls and catching them with `onErrorReturn()` seems like an anti-pattern to be honest. The only solution that I see is to bundle some `Optional` implementation with StorIO and use it for that case.

[2017-07-04 12:44] mattdevelops commented on #801
Got it, yes the only error I'm getting is the one I provided, plus a warning:
`Warning:warning: The following options were not recognized by any processor: '[kapt.kotlin.generated]'` , besides that nothing more.

Here's the final code that seems to work now
[code]

[2017-07-04 15:09] ZakTaccardi commented on #685
This definitely does not work, because it terminates the stream.

This seems like the best solution. Just make sure that it's not called `Optional` and something more specific to this lib to not confuse it with our own Optional implantations.

[2017-07-06 11:54] geralt-encore commented on #801
@mattdevelops just ran your example and received following error message:
`Error:StorIOSQLiteColumn can not be applied to private field without corresponding getter and setter or private method: password`
I'll add an example of library usage with Kotlin in readme though to avoid future misunderstandings.

[2017-07-06 16:28] geralt-encore commented on #801
I just double-checked it and realised that current Kotlin integration doesn't work as it was intended. Your initial code should be perfectly valid and this will be fixed in incoming PR. Meanwhile, the solution with `var`s and an empty secondary constructor is just a workaround and shouldn't be used at all since it doesn't respect immutability.
Thank your for reporting this issue and I hope that no

[2017-07-07 07:13] #702 closed

[2017-07-08 20:05] geralt-encore commented on #801
PR is merged and the fix will be available in the next release.

[2017-07-08 20:05] #801 closed

[2017-07-15 23:40] nayeemzen commented on #785
Any updates on this? Would love to see an example!

[2017-07-17 20:54] nikiJava opened #805 "Make a query to update multiple rows by different values"
As I mention in title, what I have to use to update multiple rows by different values?
For example, I have table like this:

[code]
I want to change status of one of the languages to 0, and in another - to 2, using one Query (UpdateQuery or something else).

Originnally I wanted to use two UpdateQuery instances - the one reset language to 0, the second - set 2 in another row, but did not find how

[2017-07-18 06:47] nikitin-da commented on #785
I'm really sorry for such delays, I don't have time right now =(
I hope I will open request in two weeks

[2017-07-18 07:06] nikitin-da commented on #805
Hi, @nikiJava !
I think using 2 different queries for 2 different values is the right way.
Don't you use `storIO.put().objects(Collection)` or `storIO.put().contentValueses(Iterable)` to put them?
In common case one of values may already exist in db unlike another. So the first `PutResult` will be for update, and the second for insertion.
And you can combine it with `PutResults` like [this](https:

[2017-07-18 08:53] thevery commented on #785
Same here :(

[2017-07-18 15:52] nikiJava commented on #805
@nikitin-da, I use custom `PutResolver` and override method `public PutResult performPut(..)` and there is a problem - this method have to return `PutResult` and I can not there return `PutResults`. Is there an another way to "merge"  `PutResult`'s from two querries?

[2017-07-23 15:43] nikiJava commented on #805
Guys, I'm gonna use one custom `PutResolver` to perform operation, that was mention in my first comment in the issue - change status of one of the languages to 0, and in another - to 2. So, how can I merge that `PutResult`s from two different operation, cause method `performPut` have to return `PutResult`, but not a `PutResults`.

[2017-07-23 16:31] nikitin-da commented on #805
`PutResolver` should be used to map single object into contentValues.
So if you want to put two object you can use `storIO.put().objects(Collection)`
Will it applicable in your case?
[code]

[2017-07-26 02:13] artem-zinnatullin opened #807 "Update groupId and packages to com.pushtorefresh.storio2"
Then we can actually ship v2!

[2017-07-27 08:32] #807 closed

[2017-07-27 08:33] artem-zinnatullin commented on #607
@geralt-encore @nikitin-da probably also need to do this before shipping v2…

[2017-07-27 08:34] artem-zinnatullin commented on #542
Closed by #771.

[2017-07-27 08:34] #542 closed

[2017-07-27 08:37] artem-zinnatullin commented on #457
@nikitin-da @geralt-encore what should we do with this?

[2017-07-27 08:41] artem-zinnatullin opened #809 "Release v2.0.0 preparations."
See https://github.com/pushtorefresh/storio/milestones/v2.0.0

@geralt-encore @nikitin-da I've cleaned up issues assigned to this milestone, can you please take care of remaining issues?

It'll probably be better if I actually perform the release once all issues will be closed, because it might not work on Travis right away and I may have to apply appropriate fixes or in worst case release manuall

[2017-07-27 09:02] nikitin-da commented on #457
maybe remove this method before v2 or v3?

[2017-07-27 13:48] Rainer-Lang commented on #457
Does removing this method will help users? If not - better keep it.
On the other hand, are there technical problems with keeping it?

[2017-08-02 09:47] hui5368 opened #810 "Android Studio Open storio-sample-app (error)"
Hi, when i was trying to open storio-sample-app using android studio, but i have some error about
 **_CreateProcess error=2, The system cannot find the file specified_**.

Does anyone knows how to fix this problem ?

[2017-08-04 14:08] Verichev opened #811 "Delete all objects and put in one operation with only one notification of observables"
I would like just to replace all content of a table with new content. To do this I use two operations "delete" and then "update". But my subscribed observables receive two notifications in this case. How can I avoid notification after deleting table content or is there any all-in-one operation for replacting all content in a table?

[2017-08-04 20:05] artem-zinnatullin commented on #811
You can do it in a transaction:

[code]

Please do it off the main thread!

[2017-08-04 20:05] #811 closed

[2017-08-05 17:06] nikitin-da commented on #810
Hi, @hui5368 ! Do you have 'git' in path?
Can you please provide whole stacktrace?

[2017-08-05 17:33] nikitin-da commented on #457
@Rainer-Lang, there is no technical problem. But as @artem-zinnatullin said above it looks
 suspicious for compiler=(
Moreover it looks inconsistent because other queries do not contain for now overload that takes list (ContentResolver: query, deleteQuery, updateQuery. Sqlite: deleteQuery, updateQuery and rawQuery)
Btw observesTags and affectsTags have both variant

[2017-08-07 13:40] Verichev opened #813 "first result (emit) for db observable"
Is it possible in storio subscribe only for changes in database, but without first emit (which just reads current data in a table)?
Of course, I can do something like `...asObservable().skip(1)`
But it's actually reading table  in vain for the first time!

[2017-08-07 14:32] nikitin-da commented on #813
Hi, @Verichev you can use `storIOSQLite.observeChangesInTable()` for this

[2017-08-07 14:32] #813 closed

[2017-08-13 00:05] nikitin-da commented on #785
@nayeemzen sorry for such delay =(
I have opened request with this example
The main idea is to use mapping generated by SQLDelight for complex objects: [serialization](https://github.com/pushtorefresh/storio/pull/814/files#diff-93af467e4d57f246c5122de1e62924a4R127) and [deserialization](https://github.com/pushtorefresh/storio/pull/814/files#diff-93af467e4d57f246c5122de1e62924a4R90)
StorIO will be

[2017-08-14 17:56] Rainer-Lang commented on #129
Sounds like a very smart feature.

[2017-08-14 18:07] Rainer-Lang commented on #623
@artem-zinnatullin @nikitin-da Could I get now the inserted/updated object from PutResult?

[2017-08-15 00:02] nikiJava opened #815 "Implement one-to-many relationship"
Would you please provide an example of one-to-many relationship implementation?
Is ti possible to use it with FOREIGN KEY parameter in creaate table query?

[2017-08-15 05:23] nikitin-da commented on #815
@nikiJava, there is already such example [here](https://github.com/pushtorefresh/storio/blob/master/storio-sample-app/src/main/java/com/pushtorefresh/storio2/sample/db/entities/UserWithTweets.java#L30) and [here resolver](https://github.com/pushtorefresh/storio/blob/master/storio-sample-app/src/main/java/com/pushtorefresh/storio2/sample/db/resolvers/UserWithTweetsGetResolver.java#L48) for it.
It s

[2017-08-15 05:23] #815 closed

[2017-08-15 05:47] nikitin-da commented on #623
Sorry, we still have not done this. I hope it will be available in next release

[2017-08-19 18:21] Rainer-Lang commented on #685
Will you add a migration guide?

[2017-08-20 09:32] #607 closed

[2017-08-20 10:17] nikitin-da commented on #685
@Rainer-Lang Right now it is only available via https://github.com/akarnokd/RxJava2Interop
When we will finish build in rxjava2 support of cause we should add some readme about migration

[2017-08-20 11:41] Rainer-Lang commented on #685
@nikitin-da Thanks for your feedback.

[2017-08-22 13:34] geralt-encore commented on #457
+1 for removing it. It is a rare chance to clean up the API :)

[2017-08-23 07:09] #457 closed

[2017-08-27 10:05] nikitin-da commented on #784
Closing for now. Feel free to reopen with some detailed information

[2017-08-27 10:05] #784 closed

[2017-08-27 10:07] nikitin-da commented on #805
Closing. Feel free to reopen if `storIO.put().objects(Collection)` doesn't work in your case

[2017-08-27 10:07] #805 closed

[2017-08-27 10:18] nikitin-da commented on #727
Closing. Feel free to reopen if you met some problems

[2017-08-27 10:18] #727 closed

[2017-08-28 01:08] artem-zinnatullin commented on #607
Tons of thanks, @nikitin-da 👍 👍 👍 👍 👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍 👍 👍  👍 👍

[2017-08-31 18:49] nikiJava opened #821 "Auto increment of a key id"
Guys, how to implement auto increment of a key (id) when put() operation is used if that key is INTEGER?

[2017-08-31 20:01] nikiJava commented on #821
I found the solution - it works only with wrappers of primitive types (Integer but not int). Am I making a mistake or is it working in this way only?

[2017-09-01 06:11] nikitin-da commented on #821
Anyway you should pass to SqlLiteOpenHelper `null` to make auto increment.
If you decided not to use `null` as mark that value was not inserted yet, you can apply some another value of `int` for this purpose and after then map it to `null` in custom put resolver.
[code]

[2017-09-04 22:16] nikitin-da commented on #810
Closing. Feel free to reopen if adding `git` to path doesn't solve problem

[2017-09-04 22:16] #810 closed

[2017-09-04 22:59] #785 closed

[2017-09-11 19:23] Rainer-Lang commented on #809
Any news?

[2017-09-11 20:34] #519 closed

[2017-09-11 20:40] nikitin-da commented on #809
@Rainer-Lang sorry for delay( All tasks are resolved. So we may prepare release tomorrow.

[2017-09-11 20:50] Rainer-Lang commented on #809
Thanks. :+1:

[2017-09-27 06:20] artem-zinnatullin commented on #733
![img_20170927_021702](https://user-images.githubusercontent.com/967132/30898665-68794da6-a32a-11e7-83f1-5a40e3b9ec79.jpg)

[2017-09-27 06:20] #733 closed

[2017-10-01 16:22] Reagankm commented on #463
I'd like to work on this

[2017-10-02 08:38] nikitin-da commented on #463
@Reagankm thank you!
But we should make it over rxjava2 migration and check if emitter is not disposed [here](https://github.com/pushtorefresh/storio/commit/fbd8e550710a12e641f0bf398e329ab88a1bba91#diff-4c7aa1ae15e9319df7e0b5d5a00ef236R28). Otherwise we will meet conflict =(

[2017-10-04 07:04] geralt-encore commented on #685
@artem-zinnatullin can I continue migration based on your 2.x branch or is it still early and some crucial things are missing?

[2017-10-04 09:33] nikitin-da commented on #685
@geralt-encore I was stuck on this issue https://github.com/ReactiveX/RxJava/issues/5234 but it seems some workaround was released https://github.com/ReactiveX/RxJava/pull/5590

[2017-10-04 09:37] geralt-encore commented on #685
ah, you are working on it! Didn't know about that. So let me know if you need any help then.

[2017-10-04 09:43] Rainer-Lang commented on #685
@nikitin-da @geralt-encore Thanks for the update.
BTW, I don't want to use the Interop-lib for something so essential like the database.

[2017-10-06 12:33] #809 closed

[2017-10-09 12:48] artem-zinnatullin opened #826 "CI freezes."
We're seeing "random" CI freezes for a long time, sometimes more often.

Latest observed logs from 2 different builds show that latest test in the output before freeze is:

[code]

So my guess is that one of the tests in `RxQueryTest` has racy deadlock.

I'd start solving it by adding [Timeout rule](https://github.com/junit-team/junit4/wiki/Timeout-for-tests) for whole `RxQueryTest` with reasonabl

[2017-10-13 09:23] rezaiyan opened #828 "subscribe not found on asRxSingle!"
[code]

what's my problem

[2017-10-13 22:25] rezaiyan commented on #828
The problem is because storio using rxjava1 but i used rxjava2!
how can solve it?

[2017-10-14 01:52] nikitin-da commented on #828
@rezaiyan sorry, but we didn't finish rxjava2 support yet( https://github.com/pushtorefresh/storio/issues/685
For now you can use https://github.com/akarnokd/RxJava2Interop but it will force you to have dependencies to both versions(

[2017-10-14 01:52] #828 closed

[2017-10-15 09:28] #826 closed

[2017-10-15 22:57] artem-zinnatullin opened #831 "Don't build/test debug builds of library modules."
Looking at CI logs I've noticed that we're building and testing debug build type of library modules and then do the same for release build type.

There is no need for that since we don't have build-type specific code, so removing debug builds should speedup CI and save us some log output lines because we're slightly more than 10k atm and Travis only renders 10k lines in its UI, otherwise you have

[2017-10-15 23:03] artem-zinnatullin commented on #831
Hah, so I did that in past already PR #473, but then for some reason removed it in PR #575

[2017-10-16 05:08] nikitin-da commented on #831
Heh, for some reason? Is there a way to check coverage on the release build))?

[2017-10-16 05:11] artem-zinnatullin commented on #831
Ah damn it, so we should not build release then :D

[2017-10-16 05:13] artem-zinnatullin commented on #831
Btw, what's wrong with measuring coverage on release build? We don't run proguard on it

[2017-10-16 05:24] nikitin-da commented on #831
It seems with jacoco classes will be compiled with debug information (line numbers) to allow for source code highlighting

:joy:

[2017-10-16 05:26] nikitin-da commented on #831
Is it ok to keep this meta in release?

[2017-10-16 05:28] artem-zinnatullin commented on #831
Ahhhhhhhh daaaamn wait, I'm afraid we do that anyway!!1 `jacoco-android.gradle` adds coverage to all build types

[2017-10-16 05:31] artem-zinnatullin commented on #831
It would be super cool if you could check if our release aars contain jacoco calls, that would be facepalm.jpg

We can solve this, I see couple ways, but I need to sleep now

[2017-10-16 05:35] artem-zinnatullin commented on #831
Ah, just in case, previous releases were done manually and I usually run `./gradlew clean uploadArchives` which doesn't run tests (because I trusted our CI) and doesn't add jacoco tasks to graph, so previous releases most likely don't include jacoco

[2017-10-16 06:01] artem-zinnatullin commented on #831
Easy solution to not include jacoco calls into released jars would be to change `skip_cleanup: true` to `false` in [deploy section of `travis.yml`](https://github.com/pushtorefresh/storio/blob/a978d979e2b7c83e9213b0f4a22070e4b4bcc12e/.travis.yml#L34) or add `clean` to [Gradle tasks in release mode](https://github.com/pushtorefresh/storio/blob/a978d979e2b7c83e9213b0f4a22070e4b4bcc12e/ci.sh#L35)

[2017-10-16 06:52] #831 closed

[2017-10-17 08:55] AlexTrotsenko opened #838 "Security certificate of pushtorefresh.com was expired 267 days ago"
Documentation -> Why we made StorIO refers _pushtorefresh.com_. When opened, browser shows security warning:
[code]
![screen shot 2017-10-17 at 10 55 19](https://user-images.githubusercontent.com/4673265/31655548-81250fa2-b329-11e7-925e-1926abdb28fd.png)

**P.S.** 2 more links are broken:
- Design tests for StorIO SQLite
- Design tests for StorIO ContentResolver

[2017-10-17 09:28] nikitin-da commented on #838
@AlexTrotsenko thanks!

[2017-10-17 12:14] artem-zinnatullin commented on #838
Oh man, nostalgia

<img width="953" alt="screen shot 2017-10-17 at 05 13 07" src="https://user-images.githubusercontent.com/967132/31664349-eed512a2-b2f9-11e7-89f2-68160771963f.png">

Ideally we should bring that article to the docs folder in repository

[2017-10-24 13:56] pavlospt commented on #685
@geralt-encore Is there any ETA on RxJava2 support? We are heavily dependent on StorIO for some basic functionality and we would like to see if we need to investigate for other solutions :) !!

[2017-10-24 14:08] nikitin-da commented on #685
@pavlospt sorry for delay.
Migration is in progress in branch https://github.com/pushtorefresh/storio/commits/az/initial-2.x
There are couple of unresolved issues for now: optional wrapper and some problems with class loader for use cases without rx dependency

[2017-10-24 14:09] nikitin-da commented on #685
I hope we will resolve it in 2 weeks

[2017-10-24 18:54] pavlospt commented on #685
@nikitin-da No need to say sorry :) Thank you for your work on the project and for the insights :) !!

[2017-10-28 21:39] nikitin-da commented on #694
Closed by #840 (Many thanks to @pbochenski and @geralt-encore )
Will be available in next release

[2017-10-28 21:39] #694 closed

[2017-10-28 21:45] #79 closed

[2017-10-29 21:41] #766 closed

[2017-11-09 10:19] geralt-encore opened #846 "Support io.reactivex.Maybe"
I'll work on this as soon as initial RxJava 2 support will be merged

[2017-11-09 10:27] nikitin-da commented on #846
It will be great!

[2017-11-11 02:08] artem-zinnatullin opened #847 "Update package names for StorIO 3"
`com.pushtorefresh.storio3`

[2017-11-13 13:59] geralt-encore opened #851 "Migrate to AGP 3.0"
I already tried couple of times and failed miserably 😔

[2017-11-14 08:18] rusxakep opened #852 "Problem with duplicate classes after upgrade from 1.x to 2.x version (Duplicate zip entry R.class)"
[code]

And

[code]

[2017-11-14 08:40] nikitin-da commented on #852
Hi, @rusxakep!
I met similar problems after migration app to build gradle tools 3 with other libraries, but after simple project rebuild error was gone. Did you try it?

[2017-11-14 08:42] rusxakep commented on #852
I think this proguard problem.
Currently I searching problem with proguard rules in version 2.x library.. Maybe RxJava, maybe not. I don't know yet. :(

[2017-11-15 14:43] geralt-encore commented on #846
I've started to look into Maybe implementation and not everything is quite clear.
To be able to properly implement `MaybeOnSubscribeExecuteAsBlocking` there has to be a way to distinguish between empty and non-empty cases. Since `Result` is generic the only way to achieve it is to make `executeAsBlocking` nullable again. Is it ok or am I missing something?

[2017-11-15 15:40] geralt-encore commented on #846
Another question. What will be correct for empty list/cursor cases: to return an empty list/cursor or to just complete stream without an emission?

[2017-11-15 17:27] nikitin-da commented on #846
Dumn, my bad=(
`preparedOperation`'s `Result` must be must be `Optional` and unwrapperd nullable value at the same time =(

Maybe we should create separate `WrappedResult` generic type, that will duplicate `Result` for `listOfObject` and `cursor`?

Otherwise, if we are ok that result of `Maybe` is `Optional` than we can create separate `MaybeOnSubscribeExecuteAsBlocking` implementations for `Optio

[2017-11-15 17:47] geralt-encore commented on #846
Had the same thoughts and just wanted to verify it.

Not sure if I got what you were saying about `preparedOperation`'s `Result`.
Isn't actual wrapping happens on `Interceptor` level so we can return null for `Maybe` case and still be able to use `Optional` for `Single`?

[2017-11-15 18:03] nikitin-da commented on #846
Not quite so, interceptor must return value of [the same type](https://github.com/pushtorefresh/storio/blob/5850b7e450b5d58498fbc5acf23076cb055b578b/storio-sqlite/src/main/java/com/pushtorefresh/storio2/sqlite/Interceptor.java#L15) as [prepared operation uses](https://github.com/pushtorefresh/storio/blob/5850b7e450b5d58498fbc5acf23076cb055b578b/storio-sqlite/src/main/java/com/pushtorefresh/storio2

[2017-11-15 18:29] geralt-encore commented on #846
Yeah, now I see... Have to think more about it then

[2017-11-15 18:30] nikitin-da commented on #846
As I said before maybe we can add `WrappedResult` type in prepared operation declaration
`executeAsBlocking`, `asRxMaybe` and interceptors will continue to work with `Result`, nut `asRxSingle` and `asRxFlowable` will return `WrappedResult`. That will be `Optional` only for `PreparedGet`.
So `SingleOnSubscribeExecuteAsBlocking` and `FlowableOnSubscribeExecuteAsBlocking` will be responsible for opti

[2017-11-15 18:34] geralt-encore commented on #846
I'll look into it tomorrow with a clear head =)

[2017-11-15 20:01] MarinKacaj opened #853 "How to add a composite primary key?"
I have a table with a composite primary key of two columns.
The generated table creation code throws a SQLiteException, because the syntax of the composite primary key in there is not correct: it declares both columns as primary keys instead of declaring the primary key separately, with both columns next to it, in parentheses.
Please see [this SO question about this issue in SQLite](https://stacko

[2017-11-15 22:16] nikitin-da commented on #853
@MarinKacaj thank you for report!

[2017-11-15 23:36] nikitin-da opened #855 "Add asRxCompletable to PreparedExecuteSQL"
Should we rename `PreparedWriteOperation` for this purpose? Maybe `PreparedCompletableOperation`

[2017-11-16 07:58] nikitin-da commented on #846
I will prepare some draft for this idea in 2 hours

[2017-11-16 08:30] nikitin-da commented on #846
I suppose something like [this](https://github.com/pushtorefresh/storio/pull/856)

[2017-11-18 14:22] #853 closed

[2017-11-20 19:36] Sar777 commented on #851
hi guys, i have DEX build an error with gradle 3.0

stacktrace

[code]

[2017-11-21 06:31] Sar777 commented on #852
hi, I'm confirm it
#851
[code]

[2017-11-27 20:48] #846 closed

[2017-11-27 21:26] nikitin-da opened #859 "Add v2-> v3 migration readme"

[2017-11-28 07:46] #847 closed

[2017-11-30 20:05] sreejithraman opened #860 "Error when trying to upgrade to latest version"
I get these 2 errors:
[code]
Here's what I included in the gradle file:
[code]

What am I doing wrong?

Just fyi, the old ver. still works for me:
[code]

[2017-11-30 20:20] geralt-encore commented on #860
You need to use `storio2` instead of `storio3`. Sorry about the wrong info in readme - it is updated for the next version which has not been released yet.

[2017-11-30 23:15] nikitin-da commented on #860
Sorry guys I hurried to bump version but v3 hasn't published yet
I think we should migrate to [AGP3](https://github.com/pushtorefresh/storio/issues/851) resolve linked [issue](https://github.com/pushtorefresh/storio/issues/852) and add interceptors for content resolver (It will break api too and publishing the third major version for a short time does not sound good)
@mohaxspb currently rollback c

[2017-12-01 09:34] #860 closed

[2017-12-03 10:35] #851 closed

[2017-12-07 04:32] ValeriusGC opened #863 "Why there is collision between @Nullable annotation and real explanation?"
Hello.
Inspection warns me about possible NPE on insertedId() in the chain of
[code]
When i follow to the source i see `@Nullable` annotation and `@return non-null results of Put Operation.` explanation. So, how one can interpret it?

[code]

[2017-12-07 08:40] nikitin-da commented on #863
Hi, @ValeriusGC
The reason why it was changed to nullable is that user can add some custom interceptor [that may return null as a result](https://github.com/pushtorefresh/storio/blob/master/storio-sqlite/src/main/java/com/pushtorefresh/storio3/sqlite/Interceptor.java#L15)
So there is no guarantee that result is notNull

Of course in common case (for all operations except get().object()) result sho

[2017-12-07 08:53] ValeriusGC commented on #863
Just a minute.
According above chain semantic it is allowed to process result of previous operation `executeAsBlocking()` in the next step, doesn't it? So there is the source of potential NPE when null-result is allowed here. IMHO it is some kind of trap to place `@Nullable` in the the probable continuation of the call chain. Maybe not allowing null would be the better strategy...

[2017-12-07 09:07] nikitin-da commented on #863
Actually we can't prohibit nulls at all because we use the same interceptor interface for [all operations](https://github.com/pushtorefresh/storio/blob/d968a579c0094179dc26747c2ea01a08d9a36286/storio-sqlite/src/main/java/com/pushtorefresh/storio3/sqlite/impl/DefaultStorIOSQLite.java#L267). And one of them can return null

[2017-12-07 22:33] artem-zinnatullin commented on #863
We can, we can remove nullability annotation from interceptor to leave it
undefined

On Thu, Dec 7, 2017 at 1:07 AM Dmitrii Nikitin <notifications@github.com>
wrote:

[2017-12-12 06:44] nikitin-da commented on #821
Closing. Feel free to comment or reopen

[2017-12-12 06:44] #821 closed

[2017-12-12 06:47] nikitin-da commented on #789
Closing. Feel free to reopen if `lowLevel().notifyAboutChanges(changes)` or tags didn't solve the problem

[2017-12-12 06:47] #789 closed

[2017-12-14 18:59] nikitin-da opened #869 "Do not publish jar for android modules"
Currently we publish both aar and jar artifacts.
Also it is one of causes of #852

[2017-12-15 00:53] artem-zinnatullin commented on #852
@rusxakep @Sar777 indeed that happens, looks like for some reason build tooling decides that packageName of every module is `com.pushtorefresh.storio2` instead of module-specific one like `com.pushtorefresh.storio2.sqlite` which we actually set in `AndroidManifest` of every module.

For now I recommend you to try depending on `aar` versions of our dependencies like this:

[code]

Because turned ou

[2017-12-15 09:59] Sar777 commented on #852
@artem-zinnatullin thx!

[2017-12-15 10:16] artem-zinnatullin commented on #852
@Sar777 did it work for you? Just want to confirm :)

[2017-12-15 10:17] Sar777 commented on #852
yes, work fine

[2017-12-15 10:19] artem-zinnatullin commented on #852
Great, thanks!

[2017-12-15 11:18] rusxakep commented on #852
// If you need StorIO for SQLite
    compile 'com.pushtorefresh.storio2:sqlite:2.1.0@aar'
    compile 'com.pushtorefresh.storio2:sqlite-annotations:2.1.0'
    annotationProcessor 'com.pushtorefresh.storio2:sqlite-annotations-processor:2.1.0'

    // If you need StorIO for ContentResolver
    compile 'com.pushtorefresh.storio2:content-resolver:2.1.0'
    compile 'com.pushtorefresh.storio2:content-r

[2017-12-18 16:09] #869 closed

[2017-12-18 16:09] #852 closed

[2017-12-19 23:51] #685 closed

[2017-12-19 23:54] #863 closed

[2017-12-19 23:55] nikitin-da commented on #863
Closed with #864

[2017-12-20 20:26] #859 closed

[2017-12-24 16:00] oleksiyp opened #874 "Mocking framework"
Hi,

hope find you well with this cold call.

I am an author of [mocking framework for Kotlin](http://mockk.io)

I see you are using mockito-kotlin.

I just want you to be aware that there is solution that fully supports Kotlin and ask to try it in your new/current projects.

I can help you if you answer to this issue.

Thanks and please star [it](https://github.com/oleksiyp/mockk)

[2017-12-24 20:50] #874 closed

[2017-12-24 20:53] artem-zinnatullin commented on #874
Dude, this is third project I'm part of where you create this issue, such promotion is not okay, especially asking to star the repo.

I see same issue again — I report as spam, nothing personal.

[2017-12-24 20:59] oleksiyp commented on #874
Sorry for that. Most of feedbacks after are very positive or just "close issue". You're probably participating many projects. Sending is finnished, so you shouldnt get more messages, except already seng today

[2017-12-24 22:46] nikitin-da opened #875 "Add interop for StorIOSQLite notifications from v1 and v2"
For gradually migration from v1/v2 we have to share changes between old and new StorIOSQLite.

[2018-01-01 10:55] nikitin-da commented on #449
Closed by #850

[2018-01-01 10:55] #449 closed

[2018-01-03 09:29] #838 closed

[2018-02-15 21:52] nikiJava opened #888 "Exclude redundant PutResolver and GetResolver when initialize DefaultStorIOContentResolver"
Hello, guys!

Is there any way to not create PutResolver and GetResolver for my model?
I'm not going to use Put/Update and Get operations, only Delete operation, bun when I create DefaultStorIOContentResolver and add type mapping for my model I have to specify PutResolver, then GetResolver and afterwards DeleteResolver. How can I specify DeleteResolver only?

[code]

[2018-02-15 22:07] nikitin-da commented on #888
Hi, @nikiJava !
You can write common resolver for all these cases. That will just throw exception if their methods will be called (actually they don't if you will not call put or get)

[code]

[2018-02-16 06:56] nikitin-da commented on #888
Closing, feel free to comment or reopen ;)
Btw nice issue number!

[2018-02-16 06:56] #888 closed

[2018-06-25 15:19] Merlinkoss opened #890 "Bamboo Storage to StorIO"
I use Bamboo storage  in my project,
But you impove this project to StorIO

How can i migrate?

[2018-07-01 13:00] nikitin-da commented on #890
Hi, @Merlinkoss
StorIO was completely rewritten since it was Bamboo storage =(
There are some analogies like:
`bambooStorage.addListener(ABambooStorageListener)` -> `storIOSQLite.observeChangesOfTag("particular_change_tag")`
`bambooStorage.addOrUpdate(yourStorableItem)` -> `storIOSQLite.put()`
`bambooStorage.countOfItems(classOfStorableItems)` -> `storIOSQLite.get().umberOfResults()`
But it is tot

[2018-07-01 13:00] #890 closed

[2018-07-06 15:20] rusxakep opened #891 "java.lang.ClassNotFoundException: Didn't find class "io.reactivex.functions.Predicate""
Proguard problem? What's problem?

Call: DefaultStorIOSQLite.builder() cause next exception:

Caused by: java.lang.ClassNotFoundException: Didn't find class "io.reactivex.functions.Predicate" on path:
......
        at java.lang.Class dalvik.system.BaseDexClassLoader.findClass(java.lang.String) (BaseDexClassLoader.java:125)
        at java.lang.Class java.lang.ClassLoader.loadClass(java.lang.Strin

[2018-07-06 15:32] rusxakep commented on #891
Old code, new rules. Ok, accepted. Sorry for that.

[2018-07-06 15:32] #891 closed

[2018-09-03 06:58] devtau opened #892 "Kotlin @StorIOSQLiteCreator secondary constructor"
Hey, guys! Great lib you are buiding here!
As far as I understood it is possible to use @StorIOSQLiteCreator annotation only on Kotlin primary constructor. In my case I have Parcelable data class with some but not all fields to be stored in db. I wonder if there is an option to create secondary kotlin constructor for storio that would use full list of stored fields or use primary constructor but n

[2018-09-25 15:07] fstephany opened #893 "Using StorIO with AndroidX and Jetifier"
We are converting one of our project to AndroidX and the jetifier seems to choke on the `@NonNull` annotation in the generated resolver (e.g., `mapFromCursor(@NonNull ...`)

When compiling we have `Cannot find symbol` on the `NonNull` symbol. This is probably because the jetifier did not convert  `com.android.support:support-annotations` into  `androidx.annotation:annotation:1.0.0-alpha1` .

Anyon

[2018-10-10 08:12] amitranjan02051988 commented on #888
mStorIOContentResolver = DefaultStorIOContentResolver.builder()
                .contentResolver(context.getContentResolver())
                .addTypeMapping(EventDetailModel.class, ContentResolverTypeMapping.builder()
                        .putResolver(new EventDetailModelStorIOContentResolverPutResolver())
                        .getResolver(new EventDetailModelStorIOContentResolverGetResolv

[2018-10-10 08:44] nikitin-da commented on #888
Hi!
Can you show EventDetailModelStorIOContentResolverPutResolver definition?
Does it extends resolver of the same library version (v3)?

[2018-10-10 09:12] amitranjan02051988 commented on #888
![eventdetailmodelstoriocontentresolverputresolver](https://user-images.githubusercontent.com/10252363/46725822-9a445700-cc9a-11e8-9e48-72e95ec7ebea.png)
![eventdetailmodelstoriocontentresolverputresolver2](https://user-images.githubusercontent.com/10252363/46725824-9a445700-cc9a-11e8-8bba-85193214592e.png)

import com.pushtorefresh.storio3.contentresolver.annotations.StorIOContentResolverColumn;

[2018-10-10 09:37] amitranjan02051988 commented on #888
@nikitin-da  thanks it's worked now . :) yeah sure

[2018-10-11 10:31] fstephany commented on #893
@RocketRider We still don't know if we'll patch+PR or migrate to another framework.

[2018-10-11 11:00] nikitin-da commented on #893
Hi guys!
Many sorry for delay
Jetifier rewrites binaries of third-party code, but it seems can't handle generated by this library classes =(
Hopefully I will publish both annotation types support in this weekend

[2018-10-11 11:16] fstephany commented on #893
Thanks @nikitin-da  !
If you need help over the weekend, do not hesitate to ask =)

[2018-10-12 06:30] nikitin-da commented on #893
Hi @artem-zinnatullin !
I saw butterknife issue. Jake [says](https://github.com/JakeWharton/butterknife/issues/1270#issuecomment-387584304) that it is tooling bug. There is [issue](https://issuetracker.google.com/issues/110374389) in the tracker but with status new.
In the next butterknife release (v9.0) they will publish [fix](https://github.com/JakeWharton/butterknife/pull/1289/files#diff-141a2d

[2018-10-12 06:37] artem-zinnatullin commented on #893
Thanks for links 👍

// It's amazing how many things they were able to break with this change, uhh

[2018-10-12 06:43] nikitin-da commented on #893
Nobody likes annotation processing =/

[2018-10-15 09:43] amitranjan02051988 opened #895 "Cannot able to put the single object"

[2018-10-15 10:28] #895 closed

[2018-11-01 06:56] #893 closed

[2018-11-05 09:51] baudouxbenjamin opened #902 "Failed to resolve: com.pushtorefresh.storio3:sqlite:3.0.1"
It looks like the last version `3.0.1` has not been published since I got

when building my project.

[2018-11-20 17:14] juange87 commented on #902
Hi! Any update about this?

[2018-11-20 20:58] nikitin-da commented on #902
Hi @juange87 !
Third party fix was published yesterday https://github.com/marcphilipp/nexus-publish-plugin
I will try it [here](https://github.com/pushtorefresh/storio/pull/903)

[2018-11-21 11:41] efthymios1991 opened #904 "executeSQL() not able to use asRxCompletable()"
I recently updated my project to the last version of `storIO`. Based on the release notes of version 3 i should be able to use `asRxCompletable()` for my `executeSQL()` queries, but i still don't have that option.

[2018-11-21 19:46] nikitin-da commented on #904
Hi @efthymios1991 !
Uhh my bad( This issue was closed by mistake
https://github.com/pushtorefresh/storio/pull/857 should close PR# 855 instead of Issue# 855
And I grep it to changelog :see_no_evil:
I will add it soon, thank you for notice

[2018-11-21 19:47] nikitin-da commented on #855
Actually was not implemented yet

[2018-11-21 20:28] nikitin-da opened #906 "Fix codecov integration"

[2018-11-25 13:46] #904 closed

[2018-12-07 09:11] baudouxbenjamin commented on #902
Any update on this?

[2019-01-15 06:56] tatocaster commented on #902
any updates?

[2019-02-06 15:26] juange87 commented on #902
any updates?

[2019-02-14 08:02] miralas commented on #783
I'm having similar issue now. After migration to AndroidX and update to storio3  all auto generated storio resolvers and mappings are gone. I have no idea whats going on.

[2019-03-15 12:18] luckcoolla commented on #902
Any updates here?

[2019-03-15 15:08] luckcoolla commented on #902
I need the androidx packages to be supported

[2019-04-25 10:24] juange87 commented on #902
Finally we have come to a solution: It is faster... a refactor removing Storio (and use Room) than wait a solution for this.

It seems i'm joking, but I'm not.

We want to continue with Storio, but we can not wait more.

[2019-04-25 10:28] baudouxbenjamin commented on #902
We also move away from StorIO for SQLDelight.

[2019-05-27 09:37] lalitkhandal opened #909 "Gradle DSL method not found: 'execute()'. Any solution?"
FAILURE: Build failed with an exception.

* Where:
Script '/Users/la20073037/AndroidStudioProjects/Telstra_24x7/telstra-24x7-android/app/buildscripts/copy_test_resources.gradle' line: 32

* What went wrong:
Could not find method execute() for arguments [] on task ':app:copyTestSqiObfuscatedReleaseResources' of type org.gradle.api.tasks.Copy.

* Try:
Run with --stacktrace option to get the stack tr

[2019-06-27 13:20] guliash opened #910 "Probable NPE in SingleOnSubscribeExecuteAsBlocking"
PreparedOperation.executeAsBlocking() marked as Nullable.
So we can pass null to emitter.onSuccess(). But this will fail on rxjava2.

See [SingleOnSubscribeExecuteAsBlocking](https://github.com/pushtorefresh/storio/blob/master/storio-common/src/main/java/com/pushtorefresh/storio3/operations/internal/SingleOnSubscribeExecuteAsBlocking.java) and [PreparedOperation](https://github.com/pushtorefresh/s

[2019-07-04 18:23] #910 closed, assigned to nobody

[2019-07-08 17:22] JeffZane commented on #902
Any updates?

[2019-07-26 21:13] bomalone opened #911 "Request - Storio2 build supporting AndroidX"
There is still some issue with Jetifier not properly handling the annotation processors. I have a large, legacy project that cannot easily go through a transition to Storio3, however, we desperately need to migrate to AndroidX. Is this something that someone familiar with this project can update? I have the source downloaded but do not have the time to find my way around, migrate it to AndroidX, a

[2019-09-06 13:42] justokay commented on #902
Any updates?

[2019-09-13 01:02] jonathanj81 commented on #902
So this is abandonware now?  Great.

[2019-10-16 07:21] Makalur commented on #902
We have the same errors:
Failed to resolve: com.pushtorefresh.storio3:sqlite:3.0.1
Failed to resolve: com.pushtorefresh.storio3:sqlite-annotations:3.0.1

Version 3.0.0 is ok, but it is not support androidx and generate old package annotations ("android.support.annotation" instead "androidx.annotation")

How we can migrate to androidx with storio?

[2019-10-16 12:06] Makalur opened #912 "Implementation version 3.0.1 not working"
build.gradle:
implementation 'com.pushtorefresh.storio3:sqlite:3.0.1'

sync error:
Failed to resolve: com.pushtorefresh.storio3:sqlite:3.0.1

How we can migrate to androidx with storio? Maybe you have some .jar files?

[2019-10-16 15:15] Makalur opened #913 "No activity since 2018. StorIO is Dead?"
Latest commit on 31 Dec 2018

StorIO is Dead?

[2019-10-24 09:25] justokay commented on #912
I've published the fork you can change `kapt "com.pushtorefresh.storio3:sqlite-annotations-processor:3.0.0"` to `kapt "com.github.justokay.storio:storio-sqlite-annotations-processor:v3.0.5"`

[2019-10-24 09:32] justokay commented on #902
If you like me have this great maintainable library and can not fast migrate to room, I've published the fork of 3.0.1 storio, just change `kapt "com.pushtorefresh.storio3:sqlite-annotations-processor:3.0.0"` to `kapt "com.github.justokay.storio:storio-sqlite-annotations-processor:v3.0.5"`.

[2020-01-17 09:54] stari4ek commented on #902
If anyone is looking for the rest of artifacts based on 3.0.1, I've updated solution from @justokay  a bit: https://github.com/stari4ek/storio/releases/tag/v3.0.6
[code]
[code]